{% extends "φ/layout.html" %}
{% block body %}

<Section id="φ" style="padding-top: 10% ; padding-bottom: 15%; width: 100%;">

    <h2 style="padding-top:79px;">accounting, audit, business valuation, economics</h2>
        
    <h2 style="padding-top:7px;">artificial intelligence</h2>

    <h2 style="padding-top:7px;">my goal is to democratize access to financial literature and equity</h2>

    <h2 style="padding-top:7px;">the data we mine is audited for accuracy, completeness, classification and cut-off</h2>

    <h2 style="padding-top:7px;">once in python, once in javascript</h2>
    
    <h2 style="padding-top:7px;">my mining process is public and the data is customizable.</h2>
    
    <h2 style="padding-top:7px;">earning power is key to sustainability and growth</h2>

    <a href="mailto:clockdb@gmail.com"><h4 id="EntityRegistrantName" style="color:Black; font-weight:bold; text-shadow: 1px 1px rgb(73, 73, 73); display:center; padding-top: 21px">clockdb.com</h4></a>

    <h3 id="Industry" style="color:rgb(73, 73, 73); font-weight:bold; text-align: center; padding-top: 21px">ACCOUNTING-COMPUTER PROGRAMMING, DATA PROCESSING, ETC.</h3>

    <h3 id="Region" style="color:rgb(73, 73, 73); font-weight:bold; text-align: center; padding-top: 21px">QUEBEC</h3>

    <h3 style="padding-top:59px; text-align: center">- - - - - - - - - - - - - - - - - - - - -</h3>

    </section>

<Section id="φ" style="padding-top: 179px ; padding-bottom: 279px; width: 100%;">

    <h2 style="padding-top:79px;">comptabilité, audit, évaluation d'entreprises, économie</h2>
    
    <h2 style="padding-top:7px;">intelligence artificielle</h2>

    <h2 style="padding-top:7px;">mon objectif est de démocratiser l'accès à la littérature financière et à l'investissement sur les marchés de capitaux</h2>

    <h2 style="padding-top:7px;">les données que nous extrayons sont auditées pour leur exactitude, exhaustivité, classification et démarcation</h2>

    <h2 style="padding-top:7px;">une fois en python, une fois en javascript</h2>
    
    <h2 style="padding-top:7px;">mon processus d'extraction est public et les données sont personnalisables.</h2>
    
    <h2 style="padding-top:7px;">générer du rendement est la clé de la durabilité et de la croissance</h2>

    <h4 id="EntityRegistrantName" style="color:Black; font-weight:bold; text-shadow: 1px 1px rgb(73, 73, 73); display:center; padding-top: 21px">clockdb.com</h4>

    <h3 id="Industry" style="color:rgb(73, 73, 73); font-weight:bold; text-align: center; padding-top: 21px">COMPTABILITÉ-PROGRAMMATION, TRAITEMENT DE DONNÉES, ETC.</h3>

    <h3 id="Region" style="color:rgb(73, 73, 73); font-weight:bold; text-align: center; padding-top: 21px">QUÉBEC</h3>

</Section>

{% endblock %}

