{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'Clockdb | About'

</script>

<!--- DISCLAIMER --->

<div class="text" style="padding-top: 5%"> 


    <h3 style="padding-top:57px; padding-bottom: 28px">ACCOUNTING, AUDIT, BUSINESS VALUATION, DATAPROCESSING, ARTIFICIAL INTELLIGENCE</h3>


        <p style="padding-top: 1%; padding-bottom: 117px">

            Our goal is to democratize access to financial literature and equity. 
            Our data is audited for accuracy, completeness, classification and cut-off once in <i>Python</i>, once in <i>JavaScript</i>.
            Our mining process is public and the data is customizable.
            Earning power is key to sustainability and growth.
            I'm <i>Philippe Dube</i>, and this is how to properly audit a foreign exchange for valuation purposes.
            Those opinions are purely quantitative and this web application is first and foremost a tool. 
            The better the user, the better the results.

        </p>

        <h3 style="padding-top:28px; padding-bottom: 28px">COMPTABILITÉ, AUDIT, ÉVALUATION D'ENTREPRISE, DATAPROCESSING, INTELLIGENCE ARTIFICIELLE</h3>

        <p style="padding-top: 1%; padding-bottom: 117px">

            Notre objectif est de démocratiser l'accès à la littérature financière et à l'investissement sur les marchés de capitaux.
            Les données que nous extrayons sont auditées pour leur exactitude, exhaustivité, classification et démarcation une fois en <i>Python</i>, une fois en <i>JavaScript</i>.
            Notre processus d'extraction est public et les données sont personnalisables. 
            Générer du rendement est la clé de la durabilité et de la croissance.
            Je suis <i>Philippe Dubé</i> et c'est comme ça qu'on audite adéquatement une bourse étrangère pour les besoins d'évaluation.
            Ces opinions sont purement quantitatifs et cette application web est d'abord et avant tout un outil. 
            Meilleur est l'utilisateur et meilleurs seront les résultats.

        </p>
    
        <p style="padding-top: 1%; padding-bottom: 24%; text-align: right;">

            <b>PHILIPPE DUBE</b><br>
            <i>clockdb.com</i><br>
            <a href="mailto:clockdb@gmail.com" style="color: #0D47A1"><i>clockdb@gmail.com</i></a><br>
</div>

{% endblock %}