{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'Clockdb | Commands'

</script>

<!--- DISCLAIMER --->

<div class="text" style="padding-top: 5%">


    <h3  style="padding-top:57px; padding-bottom: 27px">COMMANDS</h3>

    <p style="padding-top: 1%;">
        
        ALT + 1 : Prepared
        
    </p>

    <p style="padding-top: 1%;">
        
        ALT + 2 : Verified
        
    </p>

    <p style="padding-top: 1%;">
        
        CTRL + M : Resize Home Line Charts
        
    </p>

    <p style="padding-top: 1%;">
        
        CTRL + Enter : Opinion
        
    </p>
    
    <p style="padding-top: 1%;">
        
        CTRL + Plus sign (+) : Graph
        
    </p>
    
    <p style="padding-top: 1%;">
        
        CTRL + Dot (.) : Context
        
    </p>
    
    <p style="padding-top: 1%;">
        
        CTRL + 0 : Trial Balance
        
    </p>

    <p style="padding-top: 1%;">
        
        CTRL + 1 : Statements Of Cash Flow
        
    </p>

    <p style="padding-top: 1%;">
        
        CTRL + 2 : Balance Sheets
        
    </p>

    <p style="padding-top: 1%;">
        
        CTRL + 3 : Statements Of Income
        
    </p>

    <p style="padding-top: 1%;">
        
        CTRL + 4 : Statements Of Comprehensive Income
        
    </p>

    <p style="padding-top: 1%;">
        
        CTRL + 5 : Statements Of Stockholders' Equity
        
    </p>

    <p style="padding-top: 1%;">
        
        CTRL + W : Close Windows
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 0 : Anomalies Summary
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 1 : Cash Flow Statements - Procedures
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 2 : Balance Sheets - Procedures
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 3 : Income Statements - Procedures
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 4 : Comprehensive Income Statements - Procedures
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 5 : Statements Of Stockholders' Equity - Procedures
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 6 : Anomalies
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 7 : Materiality Threshold
        
    </p>

    <p style="padding-top: 1%;">
        
        WIN + 8 : Mission
        
    </p>
    
    <p style="padding-top: 1%;">
        
        ALT + 0 : Intrinsic Values
        
    </p>
    
    <p style="padding-top: 1%;">
        
        ALT + 1 : Capitalized Cash Flow
        
    </p>
    
    <p style="padding-top: 1%;">
        
        ALT + 2 : Capitalization Rates
        
    </p>
    
    <p style="padding-top: 1%;">
        
        ALT + 3 : Capitalized Income
        
    </p>
    
    <p style="padding-top: 1%;">
        
        ALT + 4 : Additional Information
        
    </p>

    <p style="padding-top: 1%; padding-bottom: 117px">
        
        ALT + 5 : Financial Ratios
        
    </p>
    
</div>

{% endblock %}