{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | documentation'

</script>

<!--- DISCLAIMER --->

<div class="text" style="padding-top: 5%">

    <h3 style="padding-top:57px; padding-bottom: 77px">DOCUMENTATION</h3>

    <h5 style="padding:27px">Progress</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Progress
        
    </p>

    <h5 style="padding:27px">Global Ranking</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Global Ranking
        
    </p>

    <h5 style="padding:27px">Capitalization Ranking</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Capitalization Ranking
        
    </p>

    <h5 style="padding:27px">Industrial Filter</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Industrial Filter
        
    </p>

    <h5 style="padding:27px">Regional Filter</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Regional Filter
        
    </p>

    <h5 style="padding:27px">Amend</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Review of their financial statements by the issuer. <br>
        
    </p>

    <h5 style="padding:27px">Trial Balance</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Input. <br>
        Debits = Credits <br>
        
    </p>

    <h5 style="padding:27px">Statements Of Cash Flow</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Input. <br>

        CashCashFlowStatement = [<br>
            OperatingActivities,<br>
            InvestingActivities,<br>
            FinancingActivities,<br>
            ExchangeRate,<br>
        ]<br>
        <br>
        CashCashFlowStatement = CashBalanceSheet<br>
        
    </p>

    <h5 style="padding:27px">Balance Sheets</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
                
        Assets = Liabilities + StockholdersEquity <br>

        Assets = CurrentAssets + NonCurrentAssets <br>

        Liabilities = CurrentLiabilities + NonCurrentLiabilities <br>
        
    </p>

    <h5 style="padding:27px">Statements Of Income</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Sales - CostOfSales = GrossMargin <br>

        GrossMargin - ResearchAndDevelopment - Administrative = OperatingIncome<br>

        OperatingIncome - Impairment - Other = IncomeBeforeTaxes<br>

        IncomeBeforeTaxes - Taxes - DiscontinuedOperations = NetIncome<br>

    </p>

    <h5 style="padding:27px">Statements Of Comprehensive Income</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        ComprehensiveIncome = NetIncome + OtherComprehensiveIncome<br>
        
    </p>

    <h5 style="padding:27px">Statements Of Stockholders' Equity</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        StockholdersEquity = [<br>
            ConvertibleDebt,<br>
            CommonShares,<br>
            RetainedEarnings,<br>
            AccumulatedOtherComprehensiveIncome,<br>
            TreasuryShares,<br>
            EmployeeBenefitTrust,<br>
            NonControllingInterests,<br>
        ]<br>
        <br>
        StockholdersEquity = StockholdersEquityBeginningBalance + ComprehensiveIncome + StockholdersEquityVariation<br>
        
    </p>

    <h5 style="padding:27px">Mission</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Reproduce the SEC database in a 3D framework to perform intrinsic value analysis and compare it to market capitalization.<br>
        
    </p>

    <h5 style="padding:27px">Materiality Threshold</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Degree of sensibility of our level of assurance on the integrity of the data. <br>
        
    </p>

    <h5 style="padding:27px">Procedures</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
       Accuracy of the financial statements mathematic <br>
       Classification of the components of the various class of transactions. <br>
        
    </p>

    <h5 style="padding:27px">Anomalies</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Anomalies in the financial statements or the classification of the components.<br> 
        
    </p>
        
    <h5 style="padding:27px">Intrinsic Values</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Intrinsic Values
        
    </p>
        
    <h5 style="padding:27px">Capitalized Cash Flow</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Capitalized Cash Flow
        
    </p>
        
    <h5 style="padding:27px">Capitalization Rates</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Capitalization Rates
        
    </p>
        
    <h5 style="padding:27px">Capitalized Income : Multiplier</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Capitalized Income : Multiplier
        
    </p>
        
    <h5 style="padding:27px">Additional Information</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Additional Information
        
    </p>

    <h5 style="padding:27px">Financial Ratios</h5>

    <p style="padding-top: 1%; padding-bottom: 117px">
        
        Financial Ratios
        
    </p>



    <p style="padding-top: 1%; padding-bottom: 117px">This document was last updated on ***</p>

    
</div>

{% endblock %}