{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'Clockdb | Documentation'

</script>

<!--- DOCUMENTATION --->

<div class="text" style="padding-top: 5%">

    <h3 style="padding-top:57px; padding-bottom: 77px">DOCUMENTATION</h3>

    <h5 style="padding:27px">Search Bar</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Just about 4,000 trading symbols are available in our database.
        With a simple request to a URL we locate the information for any specific entity.

        That information is most of the time partially complete as each account is given it's
        specific method pertaining to it's nature.
        Doing so requires us to reverse engineer the financial statements from the reading of the
        <i>Security And Exchange Commission</i> database, which leads to deeper understanding of the information
        it contains. 

        As we go along, our AI will acquire the vocabulary necessary to read any financial statements
        quite fast. We expect to be able to read 80% of it all before 2024.

    </p>
    
    <h5 style="padding:27px">Sort And Filter Entities</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        You can access our customizable filter by pressing the φ logo from home page.

        Our AI will locate the entities based on the industry, region and period end date and sort them
        according to our valuation ratio, the <i>Clockdb Ratio</i>, according to its market capitalization, its 
        intrinsic value, its industry, region, period end date or even in alphabetical order if you choose so.

        The information sorted will get better and better over time as our reading of the financial statements
        becomes more accurate. In the mean time it is still a good indicator of where to look for investment
        finding purposes if your willing to put in a little effort yourself.

    </p>
    
    <h5 style="padding:27px">Financial Statements</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Our one-page application provides you with trial balances in a customizable grid.
        Everything else underlying financial statements is programmed upstream.
        Your financial statements won't ever break. 

        You can access hidden rows of the General Ledger by checking <i>Options/Settings/Unhide Empty Rows/</i>.

        You can rollover the information by accessing <i>Options/Rollover/</i>.

        Our database is updated occasionally depending on available resources and the progress of research.

        Our focus is on providing you with a meaningful tool both in front and back end and we put in the work
        where we judge we add more value first.

    </p>
    
    <h5 style="padding:27px">Audit</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Considering the level of precision our goal requires, we wrote <i>Computer Assisted Audit Techniques</i> both
        in <i>Python</i> and <i>JavaScript</i>. Those procedures are put in place to address the accuracy of
        the financial statements rebuilt in our database. 
        To some extent, we find both true and false negative in the backend,
        but in doing so, we learn the vocabulary of the accounts and the totals and subtotals, which proves
        to accelerate the growth of our intelligence.

    </p>

    
    <h5 style="padding:27px">Business Valuation</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        From audited Financial Statements, we compute capitalization rates,
        capitalized cash flow, capitalized income, weighted intrinsic values and ratios.
        You can customize the information by checking <i>Options/Settings/Open Editor/</i>. With this information
        you will be able to compare the market capitalization of a trading symbol (its price)
        to the intrinsic value and visualize it in a simple line chart. 
        Over time, we which to provide the general public with the generic of the fundamental valuation.

    </p>

    
    <h5 style="padding:27px">Opinion</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        You can dress you own opinion of the value of a stock based on both the information
        available in our database and any corrections or further analysis. 

    </p>

    
    <h5 style="padding:27px">Files</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Any worthy accounting software needs to map the files of an engagement to the
        Financial Statements, Business Valuation or Audit resulting from them.
        You can upload your files names in <i>Options/Files/New/</i> and reference them to the different
        sections of the engagement. You can customize the <i>Reference Map</i> by reaching
        <i>Options/Reference Map/</i> to make sure it matches your conventions. These files will be
        filtered when a reference is selected.

        The next step will be for us to build an executable. That way we will have local access to your desktop
        for better performances soon.


    </p>

    <h5 style="padding:27px">Save</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        Your work can be saved for later consultation by clicking <i>Options/Save/</i>. 
        Any modification, checkmark or referencing will be stored. You can consult it again by
        accessing <i>Options/Open/</i>. 


    </p>

    <h5 style="padding:27px">New</h5>

    <p style="padding-top: 1%; padding-bottom: 27px">
        
        You can start a project from scratch by reaching <i>Options/New/</i>. 
        This can be very interesting for private corporations who which to keep track of their financial position or
        in the context of merger, acquisition, and reorganization. 


    </p>

    <h5 style="padding:27px">Open Source</h5>

    <p style="padding-top: 1%; padding-bottom: 57px">
        
        Our code is open source.
        <a href="https://github.com/clockdb/clockdb.github.io"><i>https://github.com/clockdb/clockdb.github.io</i></a>.
    </p>


    <p style="padding-top: 1%; padding-bottom: 57px"><i>This document was last updated on September 22, 2021</i></p>

    
</div>

{% endblock %}