{% extends "φ/layout.html" %}
{% block body %}
<!--- SCRIPT --->
<script>
// DOCUMENT TITLE
document.title = 'clockdb.com | services-management consulting services'
</script>
<!--- HOME --->
<Section id="φ" style="padding-bottom:27%">
    <table style="width:90%">
        <tbody>
                <tr>
                    <td colspan="2" style="border-bottom: ridge;">
                        <h3 style="text-align:center; font-weight:bold;">entity</h2>
                    </td>
                    <td style="border-bottom: ridge;" >
                        <h3 style="text-align:center; font-weight:bold;">value</h2>
                    </td>
                </tr>
                <tr></tr>
                <tr></tr>
            {% for entity in entities %}
                    <tr>
                        <td colspan="2" style="padding-top: 24px;">
                            <a href="/{{ entity.TradingSymbol }}">
                                <button style="padding-top: 24px; padding-bottom:0%">
                                    <h3 style="text-align:left; padding-bottom: 0%; padding-left:0px"><b>{{ entity.EntityRegistrantName }} ({{ entity.TradingSymbol }})</b></h3>
                                </button>
                            </a>
                        </td>
                        <td style="vertical-align:bottom;" style="padding-top: 24px;">
                            <a href="/{{ entity.TradingSymbol }}">
                                <button style="vertical-align:bottom; padding-bottom: 1%; padding-top: 24px;">
                                    <h3 style="text-align:center;"><b>{{ entity.Clockφ }}%</b></h3>
                                </button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a href="/{{ entity.TradingSymbol }}">
                                <button style="padding-bottom: 0%; padding-top: 0px;">
                                    <h5 style="color:#8A9096; padding-bottom: 17px; padding-left:0px;">{{ entity.lastyear }}</h5>
                                </button>
                            </a>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</Section>
{% endblock %}
