{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | industries'

</script>

<!--- MENU --->

<Section id="φ" style='padding-bottom:27%'>
    <table style='width:90%'>
        <tbody>
            <tr>
                <td colspan='1'>
                    <h3 style="text-align:center; font-weight:bold;"></h2>
                </td>
                <td colspan='1'>
                    <h3 style="text-align:center; font-weight:bold;"></h2>
                </td>
            </tr>
            {% for industry in industries %}
            <tr>
                <td colspan='1'>
                    <a href="/industries/{{ industry.db }}">
                        <button>
                            <h3 style='text-align:center; padding-bottom:1%'><b>{{ industry.Description }}</h4></b>
                            <h5 style="text-align:center; color:#8A9096; padding-bottom:1%"><b>{{ industry.db }}</h4></b>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="/industries/{{ industry.db }}">
                
                        <button>
                            <h3 style='text-align:center'><b>{{ industry.Len }}</h4></b>
                            <h5 style="text-align:center; color:#8A9096; padding-bottom:1%"><b></h4></b>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}