<!-- OnePageApp -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>

<script src="/javascript/account/account.js"></script>

<script src="/javascript/base/base.js"></script>

<script src="/javascript/friend/friend.js"></script>

<script src="/javascript/messenger/messenger.js"></script>

<script src="/javascript/messengerNotification/messengerNotification.js"></script>

<script src="/javascript/notification/notification.js"></script>

<script src="/javascript/workingPaper/workingPaper.js"></script>