<!--- AUDIT ANOMALIES (DETAILED) --->
<div id="Anomalies" style="display: none" class="card p-4 align-items-start">
    <table class='margin'>
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameAnomalies" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">ANOMALIES</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateAnomalies1" style="text-align:center;"></h5></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateAnomalies2" style="text-align:center;"></h5></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateAnomalies3" style="text-align:center;"></h5></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateAnomalies4" style="text-align:center;"></h5></td>
                <td colspan='2' class='C5' style="padding-top: 21px;"><h5 id="DateAnomalies5" style="text-align:center;"></h5></td>
                <td colspan='2' class='C6' style="padding-top: 21px;"><h5 id="DateAnomalies6" style="text-align:center;"></h5></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1'><h5 id="AnomaliesAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="AnomaliesAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="AnomaliesAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="AnomaliesAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C5'><h5 id="AnomaliesAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C6'><h5 id="AnomaliesAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="AnomaliesFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="AnomaliesFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="AnomaliesFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="AnomaliesFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="AnomaliesFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C5' style="text-align:center"><a target="_blank" id="AnomaliesFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C6' style="text-align:center"><a target="_blank" id="AnomaliesFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2"><h6><b>Balance Sheets</b></h6></td>
            </tr>
            <tr id="AnomaliesCurrentAssetsRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Current Assets</p></td>
                <td style="text-align:center"><button id="PRO-1.2.3ShortCut" class="AnomaliesCurrentAssets1" data-page="ProcedureAnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="AnomaliesFiles" class="AnomaliesFiles">{</button></td>
                <td>
                    <input type="checkbox" id="AnomaliesCurrentAssetsCheckbox"></input>
                    <input type="checkbox" id="AnomaliesCurrentAssetsCheckbox2"></input>
                </td>
                <script>

                </script>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesCurrentAssets1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesCurrentAssets2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesCurrentAssets3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesCurrentAssets4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesCurrentAssets5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesCurrentAssets6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="AnomaliesNonCurrentAssetsRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Non-Current Assets</td>
                <td style="text-align:center"><button id="PRO-1.2.6ShortCut" class="AnomaliesNonCurrentAssets1" data-page="ProcedureAnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="AnomaliesNonCurrentAssetsCheckbox"></input>
                    <input type="checkbox" id="AnomaliesNonCurrentAssetsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesNonCurrentAssets1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesNonCurrentAssets2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesNonCurrentAssets3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesNonCurrentAssets4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesNonCurrentAssets5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesNonCurrentAssets6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="AnomaliesCurrentLiabilitiesRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Current Liabilities</td>
                <td style="text-align:center"><button id="PRO-1.2.9ShortCut" class="AnomaliesCurrentLiabilities1" data-page="ProcedureAnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="AnomaliesCurrentLiabilitiesCheckbox"></input>
                    <input type="checkbox" id="AnomaliesCurrentLiabilitiesCheckbox2"></input>
                </td>
                <script>

                </script>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesCurrentLiabilities1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesCurrentLiabilities2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesCurrentLiabilities3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesCurrentLiabilities4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesCurrentLiabilities5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesCurrentLiabilities6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="AnomaliesNonCurrentLiabilitiesRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Non-Current Liabilities</td>
                <td style="text-align:center"><button id="PRO-1.2.12ShortCut" class="AnomaliesNonCurrentLiabilities1" data-page="ProcedureAnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="AnomaliesNonCurrentLiabilitiesCheckbox"></input>
                    <input type="checkbox" id="AnomaliesNonCurrentLiabilitiesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesNonCurrentLiabilities1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesNonCurrentLiabilities2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesNonCurrentLiabilities3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesNonCurrentLiabilities4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesNonCurrentLiabilities5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesNonCurrentLiabilities6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="AnomaliesShareholdersEquityiRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Shareholders' Equity</td>
                <td style="text-align:center"><button id="PRO-1.2.15ShortCut" class="AnomaliesShareholdersEquityi1" data-page="ProcedureAnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="AnomaliesShareholdersEquityiCheckbox"></input>
                    <input type="checkbox" id="AnomaliesShareholdersEquityiCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesShareholdersEquityi1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesShareholdersEquityi2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesShareholdersEquityi3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesShareholdersEquityi4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesShareholdersEquityi5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesShareholdersEquityi6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="TotalAnomaliesBalanceSheetsRow" class="TrialBalance">
                <td colspan='2'></td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="TotalAnomaliesBalanceSheetsCheckbox"></input>
                    <input type="checkbox" id="TotalAnomaliesBalanceSheetsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesBalanceSheets1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesBalanceSheets2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesBalanceSheets3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesBalanceSheets4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesBalanceSheets5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesBalanceSheets6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2"><h6><b>Income Statements</b></h6></td>
            </tr>
            <tr id="AnomaliesGrossMarginRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Gross Margin</p></td>
                <td style="text-align:center"><button id="PRO-2.1.3ShortCut" class="AnomaliesGrossMargin1" data-page="ProcedureAnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="AnomaliesFiles" class="AnomaliesFiles">{</button></td>
                <td>
                    <input type="checkbox" id="AnomaliesGrossMarginCheckbox"></input>
                    <input type="checkbox" id="AnomaliesGrossMarginCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesGrossMargin1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesGrossMargin2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesGrossMargin3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesGrossMargin4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesGrossMargin5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesGrossMargin6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="AnomaliesOperatingIncomeRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Operating Income (Loss)</td>
                <td style="text-align:center"><button id="PRO-2.1.6ShortCut" class="AnomaliesOperatingIncome1" data-page="ProcedureAnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="AnomaliesOperatingIncomeCheckbox"></input>
                    <input type="checkbox" id="AnomaliesOperatingIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesOperatingIncome1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesOperatingIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesOperatingIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesOperatingIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesOperatingIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesOperatingIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="AnomaliesIncomeLossBeforeTaxesRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Income (Loss) Before Taxes</td>
                <td style="text-align:center"><button id="PRO-2.1.9ShortCut" class="AnomaliesIncomeLossBeforeTaxes1" data-page="ProcedureAnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="AnomaliesIncomeLossBeforeTaxesCheckbox"></input>
                    <input type="checkbox" id="AnomaliesIncomeLossBeforeTaxesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesIncomeLossBeforeTaxes1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesIncomeLossBeforeTaxes2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesIncomeLossBeforeTaxes3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesIncomeLossBeforeTaxes4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesIncomeLossBeforeTaxes5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesIncomeLossBeforeTaxes6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="AnomaliesNetIncomeRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Net Income (Loss)</td>
                <td style="text-align:center"><button id="PRO-2.1.12ShortCut" class="AnomaliesNetIncome1" data-page="ProcedureAnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="AnomaliesNetIncomeCheckbox"></input>
                    <input type="checkbox" id="AnomaliesNetIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AnomaliesNetIncome1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnomaliesNetIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnomaliesNetIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnomaliesNetIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnomaliesNetIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnomaliesNetIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr id="TotalAnomaliesIncomeStatementRow" class="TrialBalance">
                <td colspan='2'></td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="TotalAnomaliesIncomeStatementCheckbox"></input>
                    <input type="checkbox" id="TotalAnomaliesIncomeStatementCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesIncomeStatement1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesIncomeStatement2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesIncomeStatement3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesIncomeStatement4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesIncomeStatement5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-top-style:ridge; border-bottom:double black;"><input id="TotalAnomaliesIncomeStatement6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr id="AnomaliesComprehensiveIncomeRow" class="TrialBalance">
                <td colspan="2"><h6><b>Comprehensive Income</b></h6></td>
                <td style="text-align:center"><button id="PRO-3.1.3ShortCut" class="AnomaliesComprehensiveIncome1" data-page="ProcedureAnnualComprehensiveIncome" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="AnomaliesFiles" class="AnomaliesFiles">{</button></td>
                <td>
                    <input type="checkbox" id="AnomaliesComprehensiveIncomeCheckbox"></input>
                    <input type="checkbox" id="AnomaliesComprehensiveIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black;"><input class='Clock' id="AnomaliesComprehensiveIncome1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black;"><input class='Clock' id="AnomaliesComprehensiveIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black;"><input class='Clock' id="AnomaliesComprehensiveIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black;"><input class='Clock' id="AnomaliesComprehensiveIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-bottom:double black;"><input class='Clock' id="AnomaliesComprehensiveIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-bottom:double black;"><input class='Clock' id="AnomaliesComprehensiveIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr id="AnomaliesShareholdersEquityRow" class="TrialBalance">
                <td colspan="2"><h6><b>Shareholders' Equity</b></h6></td>
                <td style="text-align:center"><button id="PRO-4.0.3ShortCut" class="AnomaliesShareholdersEquity1" data-page="ProcedureAnnualShareholdersEquity" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="AnomaliesFiles" class="AnomaliesFiles">{</button></td>
                <td>
                    <input type="checkbox" id="AnomaliesShareholdersEquityCheckbox"></input>
                    <input type="checkbox" id="AnomaliesShareholdersEquityCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black;"><input class='Clock' id="AnomaliesShareholdersEquity1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black;"><input class='Clock' id="AnomaliesShareholdersEquity2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black;"><input class='Clock' id="AnomaliesShareholdersEquity3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black;"><input class='Clock' id="AnomaliesShareholdersEquity4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-bottom:double black;"><input class='Clock' id="AnomaliesShareholdersEquity5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-bottom:double black;"><input class='Clock' id="AnomaliesShareholdersEquity6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2"><h6><b>Cash Flow</b></h6></td>
            </tr>
            <tr id="TotalAnomaliesCashFlowRow" class="TrialBalance">
                <td colspan="2" style="text-align: left;">Cash Reconciliation</p></td>
                <td style="text-align:center"><button id="PRO-5.1.4ShortCut" class="TotalAnomaliesCashFlow1" data-page="ProcedureAnnualCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">P</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="AnomaliesFiles" class="AnomaliesFiles">{</button></td>
                <td>
                    <input type="checkbox" id="TotalAnomaliesCashFlowCheckbox"></input>
                    <input type="checkbox" id="TotalAnomaliesCashFlowCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black;"><input class='Clock' id="TotalAnomaliesCashFlow1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black;"><input class='Clock' id="TotalAnomaliesCashFlow2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black;"><input class='Clock' id="TotalAnomaliesCashFlow3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black;"><input class='Clock' id="TotalAnomaliesCashFlow4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-bottom:double black;"><input class='Clock' id="TotalAnomaliesCashFlow5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-bottom:double black;"><input class='Clock' id="TotalAnomaliesCashFlow6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="AnomaliesReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="AnomaliesReferenceCheckbox"></input>
                    <input type="checkbox" id="AnomaliesReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="AnomaliesReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="AnomaliesReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="AnomaliesReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="AnomaliesReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="AnomaliesReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="AnomaliesReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">P</td>
                <td style="text-align:left;" colspan="20" >Procedures</td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>