<!--- MISSION --->
<div id="Mission" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameMission" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">MISSION</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr>
                <td>
                    <h6><b>USERS</b></h6>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">Users of the web application range from business and portfolio managers, valuators,
                risk managers, brokers, financial advisors and others. As the application is made available to anyone who
                wishes to consult the database, the users are essentially made up of the public at large.</td>
            </tr>
            <tr>
                <td><h6><b>TYPE OF AUDIT</b></h6></td>
            </tr>
            <tr>
                <td style="text-align:left">Data Processing Internal Audit</td>
            </tr>
            <tr>
                <td><h6><b>NEEDS OF USERS</b></h6></td>
            </tr>
            <tr>
                <td style="text-align:left">Users need Financial Statements exempt from material misstatements in order to conduct
                    various analysis aimed at evaluating the entity's financial performance, understanding
                    its financial and cost structure, making investment decisions and implementing appropriate
                    strategies with full knowledge of the underlying circumstances.</td>
            </tr>
            <tr>
                <td><h6><b>SCOPE</b></h6></td>
            </tr>
            <tr>
                <td style="text-align:left" id="Scope">{{ entity.lastyear }} and the five years before</td>
            </tr>
            <tr>
                <td><h6><b>RISK</b></h6></td>
            </tr>
            <tr>
                <td style="text-align:left">
                    The financial information obtained from the Security and Exchange Commission has already
                    been duly audited. The main risk factor therefore lies in the collection and compilation of this data.
                </td>
            </tr>
            <tr>
                <td><h6><b>STRATEGY</b></h6></td>
            </tr>
            <tr>
                <td style="text-align:left">
                    Given the nature of the mission, only corroboration procedures can be carried out.
                    The main objective is to ensure the completeness and accuracy of the data.
                </td>
            </tr>
            <tr>
                <td style="color: white;">.</td>
            </tr>
        </tbody>
    </table>
</div>