{% load static %}
<!-- html -->
<!DOCTYPE html>
<html lang=en>
	<!-- head -->
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
		<!-- favicon -->
		<link rel="shortcut icon" href="{% static 'clockdb/favicon.ico' %}">
		<link rel="icon" href="{% static 'clockdb/favicon.ico' %}" type="image/x-icon">
		<!-- Cropperjs -->
		<!--
		<link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">
		 -->
		<!-- Markdown-it -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/11.0.1/markdown-it.min.js"
			integrity="sha512-hW0KbtvDnXCHbh2UCNP/6R+oXxCKiOfm9ciuUekdGBCQF1+57bGqZAk3sAFir7PMQstyRW0UecsSc2HQotH2vg=="
			crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/styles/default.min.css"
			integrity="sha512-kZqGbhf9JTB4bVJ0G8HCkqmaPcRgo88F0dneK30yku5Y/dep7CZfCnNml2Je/sY4lBoqoksXz4PtVXS4GHSUzQ=="
			crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/highlight.min.js"
			integrity="sha512-TDKKr+IvoqZnPzc3l35hdjpHD0m+b2EC2SrLEgKDRWpxf2rFCxemkgvJ5kfU48ip+Y+m2XVKyOCD85ybtlZDmw=="
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.0/languages/kotlin.min.js"
			integrity="sha512-8aYTnyDstX39PHxorDD+6ROknf98Vqr5KTOjwRCl/442uAVKOpCJ5wY9I3VQ6y46rdDJKYBIglIfE2+GQk8U5Q=="
			crossorigin="anonymous"></script>
		<script> hljs.initHighlightingOnLoad(); </script>
	</head>
	<body>
		<!-- header -->
		<div class="header" style="display: none">
			{% include 'base/base_css.html' %}
			{% include 'base/header.html' %}
		</div>
		<!-- user id -->
		<i id="user_id" style="display: none;">{{request.user.id}}</i>
		<!-- panel -->
		<div class="Panel">
			<div class="panelHeader">
				{% include 'base/panelHeader.html' %}
			</div>
			<div class="Control">
				{% include 'panel/control.html' %}
			</div>
			<div class="Messenger">
				{% include 'panel/messenger.html' %}
			</div>
			<div class="MessengerNotifications">
				{% include 'panel/messengerNotifications.html' %}
			</div>
			<div class="Notifications">
				{% include 'panel/notifications.html' %}
			</div>	
		</div>
		<!-- main -->
		<div class="main">
			<!-- block content -->
			<div class="content">
				{% block content %}
				{% endblock content %}
				<!-- loading -->
				<div class="loading">
					<div id="id_loading_spinner">
						<span class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
							<span class="spinner-border text-primary" role="status">
								<span class="sr-only">Loading...</span>
							</span>
						</span>
					</div>
				</div>
			</div>
			<!-- footer -->
			{% include 'base/footer.html' %}
		</div>
		<!-- collections -->
		<script src="{% static 'collections/collections.min.js' %}"></script>
		<!-- jquery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
			integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
			crossorigin="anonymous"></script>
		<!-- ajax chart -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>
		<!-- papaparse -->
		<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>
		<!-- bootstrap -->
		<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<!--
		<script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>
		-->
		<!-- onePageApp -->
		<script>
			// js/onePageApp.js
			console.log('js/onePageApp.js')
			// on load
			function onePageAppOnLoad(hideIf) {
				const user_id = document.getElementById('user_id').innerHTML
				var page = window.location.pathname.replace('/','').split('/')[1];
				if (user_id != '') {
					document.querySelectorAll('div').forEach(div => {
						hideDiv(div);
					});
					document.querySelectorAll('button').forEach(button => {
						onePageApp(button);
					})
					// φ
					if (page == 'WorkingPaper') {
						var subpage = window.location.href.replace(window.location.origin,'').split('/')[4]
						if (subpage == '') {
							subpage = 'Opinion'
						}
						showPage(subpage)
						Compile();
						ts = document.getElementById('TradingSymbol1').value;
						document.title = 'Clockdb | ' + ts + ' | '+ subpage;
						page = subpage
						history.pushState({page}, ``, `/${user_id}/WorkingPaper/${ts}/${page}/`);
					// Posts
					} else {
						// phase
						if (page == 'phase') {
							url = window.location.origin + '/'
							window.open(url, '_self');
						}
						// home
						home = [
							undefined,
							'',
							'home',
							'Home',
						]
						if (home.includes(page)) {
							try {
								a = document.getElementById('user_id').innerHTML
								if (a != 'None') {
									activeurl = window.location.href.replace(window.location.origin,'').replaceAll('/','')
									activeurlsub = window.location.href.split('/')[1]
									url = window.location.origin + '/' + a + '/Posts/'
									if (activeurl != a) {
										window.open(url, '_self');
									} else {
										page = 'Posts'
										document.title = 'Clockdb | ' + page;
										history.pushState({page}, ``, `/${user_id}/${page}/`);
										showPage(page)
									}
								}
							} catch {
								url = window.location.origin + '/login'
								window.open(url, '_self');
							}
						// others
						} else {
							document.title = 'Clockdb | ' + page;
							history.pushState({page}, ``, ``);
							showPage(page)
						}
					}
				}
			};
			// buttons
			function onePageApp(button) {
				button.onclick = function() {
					user_id = document.getElementById('user_id').innerHTML;
					page = this.dataset.page;
					gg = 0
					if (page != "#") {
						if (page == 'Messenger') {
							if (localStorage.Messenger == 'On') {
								Messenger('Off');
							} else {
								Messenger('On')
							}
							gg = 1
						}
						if (page == 'MessengerNotifications') {
							if (localStorage.MessengerNotifications == 'On') {
								MessengerNotifications('Off');
							} else {
								MessengerNotifications('On');
							}
							gg = 1
						}
						if (page == 'Notifications') {
							if (localStorage.Notifications == 'On') {
								Notifications('Off')
							} else {
								Notifications('On')
							}
							setGeneralNotificationsAsRead();
							gg = 1
						}
						if (page == 'SortAndOrder') {
							SortAndOrder(button.id);
							gg = 1
						}
						if (page == 'Print') {
							Print();
							gg = 1
						}
						if (page == 'UploadConfirm') {
							UploadConfirm();
							gg = 1
						}
						if (page == 'Save') {
							Save();
							gg = 1
						}
						if (page == 'Rollover') {
							Rollover();
							gg = 1
						}
						if (page == 'ClearCheckboxes') {
							ClearCheckboxes();
							gg = 1
						}
						if (page == 'OpenEditor') {
							OpenEditor();
							gg = 1
						}
						if (page == 'UnhideCheckbox') {
							UnhideCheckbox();
							gg = 1
						}
						id = this.id
						if (id.slice(id.length - 8) == 'ShortCut') {
							position = button.className
							ShortCuts(id, page, position);
							gg = 1
						}
						if (page.slice(-5) == 'Files') {
							FilesPage(page);
							gg = 1
						}
						if (page == 'ReferenceHeader') {
							thisHeader = this
							ReferenceHeaderButton(thisHeader)
							gg = 1
						}
						if (page == 'search_posts') {
							showPage('Posts');
							historyPush('Posts');
							ClearPosts();
							Posts();
							gg = 1
						}
						if (page == 'Control') {
							if (localStorage.Control == 'On') {
								Control('Off');
							} else {
								Control('On');
							}
							gg = 1
						}
						if (page == 'change_password') {
							url = window.location.origin + '/' + user_id + '/change_password/';
							window.open(url, '_self');
						}
						if (page == 'messages') {
							const user_id = document.getElementById('user_id').innerHTML
							const this_user_id = button.name.replace('messageTo','')
							redirect(page, user_id, this_user_id)
							Messenger('On');
							gg = 1
						}
						if (page == 'CloseControl') {
							Control('Off');
							gg = 1
						}
						if (page == 'CloseMessenger') {
							Messenger('Off');
							gg = 1
						}
						if (page == 'friend_request') {
							id = button.name
							classB = button.className
							if (classB == 'btn btn-primary') {
								sendFriendRequest(id)
							}
							if (classB == 'btn btn-danger') {
								cancelFriendRequest(id)
							}
							toggleButton(id, classB)
							gg = 1
						}
						if (page == 'send_message') {
							messagesSend();
							gg = 1
						}
						if (page == 'New') {
							url = window.location.origin + '/' + user_id + '/WorkingPaper/MODEL';
							window.open(url, '_self');
						}
						if (page == 'Save') {
							Save()
							gg = 1
						}
						if (page == 'Logout') {
							url = window.location.origin + '/logout';
							window.open(url, '_self');
						}
						home = [
							'',
							'Home',
						]
						if (home.includes(page)) {
							page == 'Home'
						}
						if (page == 'Home') {
							try {
								a = document.getElementById('Authenticated')
								showPage(page)
								gg = 1
							} catch {
								url = window.location.origin + '/login/'
								window.open(url, '_self');
							}
						}
						if (page == 'Posts') {
							PostsUrl()
						}
						profile = [
							'profile',
						]
						if (profile.includes(page)) {
							redirect(page, user_id)
							gg = 1
						}
						if (gg < 1) {
							showPage(page);
							historyPush(page);
							Compile();
						}
					}
				}
			};
		</script>
		<!-- account -->
		<script src="{% static 'js/account/account.js' %}"></script>
		<!-- base -->
		<script>
			// base/base.js
			console.log('base/base.js')
			// redirect
			function redirect(page, user_id, this_user_id) {
				z = 0
				b = window.location.href.replace(window.location.origin,'')
				a = b.split('/')[1]
				b = b.split('/')[2]
				if (a == user_id) {
					if (page == 'profile') {
						z = 1
					}
				} else {
					if (a == user_id) {
						z = 1
					}
				}
				if (page == 'messages') {
					onSelectFriend(this_user_id)
					Messenger('On')
				} else {
					if (z == 1) {
						showPage(page)
						historyPush(page)
					} else {
						url = window.location.origin + '/' + user_id + '/' + page;
						window.open(url, '_self');
						showPage(page)
						historyPush(page)
					}
				}
			}
			// history push
			function historyPush(page) {
				user_id = window.location.href.replace(window.location.origin,'');
				user_id = user_id.split('/')[1];
				a = 1
				try {
					ts = document.getElementById('TradingSymbol1').value
					w = window.location.href
					o = window.location.origin
					w = w.replace(o, '')
					o = w.split('/')[2]
				} catch {}
				try {
					if (o == 'WorkingPaper') {
						history.pushState({page}, ``, `/${user_id}/WorkingPaper/${ts}/${page}/`);
						document.title = 'Clockdb | ' + ts + ' | ' + page;
						a = 0
					}
					else {}
				} catch {}
				if (a == 1) {
					history.pushState({page}, ``, `/${user_id}/${page}/`);
					document.title = 'Clockdb | ' + page;
				}
			}
			// popstate
			function positionpopstate() {
				try {
					a = document.getElementById(localStorage.position)
					a.focus()
					a.select()
				} catch {}
			}
			window.onpopstate = function(event) {
				showPage(event.state.page);
				positionpopstate();
			}
			function historyBack() {
				window.history.back();
				positionpopstate();
			}
			function historyForward() {
				window.history.forward();
				positionpopstate();		
			}
			// showPage
			function showPage(page) {
				const loading = document.getElementById('id_loading_spinner')
				const searchBar = document.getElementById('SearchBar')
				const searchUsersBar = document.getElementById('SearchUsersBar')
				loading.style.display = 'block';
				searchBar.value = '';
				searchUsersBar.value = '';
				document.querySelectorAll('div').forEach(div => {
					hideDiv(div)
				})
				try {
					document.getElementById(page).style.display = 'block';
					window.scrollTo(0, 0)
				} catch {}
				loading.style.display = 'none';
			}
			// hide div
			function hideDiv(div) {
				skip = [
					// loading
					'id_loading_spinner',
					// header
					'id_chat_notification_dropdown_toggle',
					'id_chat_notifications_container',
					'id_notification_dropdown_toggle',
					'id_general_notifications_container',
					// room
					'id_chatroom_card',
					'id_room_title',
					'id_chat_log_container',
					'id_chatroom_loading_spinner_container',
					'id_chatroom_loading_spinner',
					'id_client_error_modal',
				]
				if (skip.includes(div.id)) {
				} else {
					z = 0
					try {
						a = parseInt(div.id.replace('m',''))
						if (isNaN(a)) {
							z = 1
						}
					} catch {
						z = 1
					}
					if (z == 1) {
						if (div.id != '') {
							div.style.display = 'none';
						}
					}
				}
			}
			// display
			function display(hideIf) {
				const user_id = document.getElementById('user_id').innerHTML
				const loading = document.getElementById('id_loading_spinner')
				loading.style.display = 'block';
				var page = window.location.pathname
				page = page.split('/')[2];
				document.getElementById('clockdbSpan').style.display = 'inline-block';
				document.getElementById('HomeSpan').style.display = 'inline-block';
				try {
					if (page != 'password_change') {
						document.getElementById('NotAuthenticated').style.display = 'inline-block';
					}
				} catch {
					document.getElementById('Authenticated').style.display = 'inline-block';
				}
				if (hideIf.includes(page)) {
				} else {
					if (page == 'WorkingPaper') {
						a = 'inline-block';
						b = 'none';
						c = 'inline-block';
					} else {
						a = 'none';
						b = 'inline-block';
						c = 'inline-block';
					}
					document.getElementById('FilesSpan').style.display = a;
					document.getElementById('GearSpan').style.display = a;
					document.getElementById('FinancialsSpan').style.display = a;
					document.getElementById('AuditSpan').style.display = a;
					document.getElementById('ValuationSpan').style.display = a;
					document.getElementById('OpinionSpan').style.display = a;
					document.getElementById('MoreSpan').style.display = a;
					//
					document.getElementById('PostsSpan').style.display = b;
					//document.getElementById('DatabaseSpan').style.display = b;
					//
					//document.getElementById('ControlSpan').style.display = c;
					//document.getElementById('MessengerNotificationsSpan').style.display = c;
					//document.getElementById('NotificationsSpan').style.display = c;
					document.getElementById('SearchBarSpan').style.display = c;
					document.getElementById('SearchUsersBarSpan').style.display = c;
					try {
						if (user_id != "{{id}}") {
							username = "{{username}}"
							username = username.toLowerCase()
							a = username + ' network'
						} else {
							a = 'My Network'
						}
						document.getElementById('SearchUsersBar').placeholder = a
						if (window.innerWidth > 799) {
							a = '80%';
						} else {
							a = '60%';
						}
						document.getElementsByClassName('clockdb')[0].style.width = a;
						document.getElementsByClassName('loading')[0].style.width = a;
					} catch {}
				}
				document.getElementById('HeaderMenu').style.display = 'block';
				document.getElementsByClassName('header')[0].style.display = 'block';
				document.getElementsByClassName('panelHeader')[0].style.display = 'block';
				loading.style.display = 'none';
			}
			function preloadCallback(src, elementId){
				var img = document.getElementById(elementId)
				img.src = src
			}
			function preloadImage(imgSrc, elementId){
				// console.log("attempting to load " + imgSrc + " on element " + elementId)
				var objImagePreloader = new Image();
				objImagePreloader.src = imgSrc;
				if(objImagePreloader.complete){
					preloadCallback(objImagePreloader.src, elementId);
					objImagePreloader.onload = function(){};
				}
				else{
					objImagePreloader.onload = function() {
						preloadCallback(objImagePreloader.src, elementId);
						//    clear onLoad, IE behaves irratically with animated gifs otherwise
						objImagePreloader.onload=function(){};
					}
				}
			}
			function validateText(str)
			{
				var md = window.markdownit({
					highlight: function (str, lang) {
						if (lang && hljs.getLanguage(lang)) {
							try {
								return '<pre class="hljs"><code>' +
									hljs.highlight(lang, str, true).value +
									'</code></pre>';
							} catch (__) {}
						}
						return '<pre class="hljs"><code>' + md.utils.escapeHtml(str) + '</code></pre>';
					},
					linkify: true,
				});
				var result = md.render(str);
				return result
			}
			function displayLoadingSpinner(isDisplayed){
				var spinner = document.getElementById("id_loading_spinner")
				if(isDisplayed){
					spinner.style.display = "block"
				}
				else{
					spinner.style.display = "none"
				}
			}
		</script>
		<script src="{% static 'js/base/header.js' %}"></script>
		<script src="{% static 'js/base/resize.js' %}"></script>
		<!-- controlPanel -->
		<script src="{% static 'js/controlPanel/controlPanel.js' %}"></script>
		<!-- friend -->
		<script src="{% static 'js/friend/friend.js' %}"></script>
		<!-- messenger -->
		<script src="{% static 'js/messenger/messenger.js' %}"></script>
		<!-- messenger notifications -->
		<script src="{% static 'js/messengerNotification/messengerNotification.js' %}"></script>
		<!-- network -->
		<script src="{% static 'js/network/network.js' %}"></script>
		<!-- notification -->
		<script src="{% static 'js/notification/notification.js' %}"></script>
		<!-- posts -->
		<script src="{% static 'js/posts/posts.js' %}"></script>
		<!-- workingPaper -->
		<!-- analysis -->
		<script src="{% static 'js/workingPaper/analysis/audit.js' %}"></script>
		<script src="{% static 'js/workingPaper/analysis/compile.js' %}"></script>
		<script src="{% static 'js/workingPaper/analysis/context.js' %}"></script>
		<script src="{% static 'js/workingPaper/analysis/financials.js' %}"></script>
		<script src="{% static 'js/workingPaper/analysis/valuation.js' %}"></script>
		<!-- base -->
		<script src="{% static 'js/workingPaper/base/base.js' %}"></script>
		<script src="{% static 'js/workingPaper/base/checkboxes.js' %}"></script>
		<script src="{% static 'js/workingPaper/base/enter.js' %}"></script>
		<script src="{% static 'js/workingPaper/base/openEditor.js' %}"></script>
		<script src="{% static 'js/workingPaper/base/ref.js' %}"></script>
		<script src="{% static 'js/workingPaper/base/shortcuts.js' %}"></script>
		<script src="{% static 'js/workingPaper/base/tabulation.js' %}"></script>
		<script src="{% static 'js/workingPaper/base/unhideRows.js' %}"></script>
		<!-- files -->
		<script src="{% static 'js/workingPaper/files/enter.js' %}"></script>
		<script src="{% static 'js/workingPaper/files/files.js' %}"></script>
		<script src="{% static 'js/workingPaper/files/open.js' %}"></script>
		<script src="{% static 'js/workingPaper/files/print.js' %}"></script>
		<script src="{% static 'js/workingPaper/files/rollover.js' %}"></script>
		<script src="{% static 'js/workingPaper/files/save.js' %}"></script>
		<!-- graph -->
		<script src="{% static 'js/workingPaper/graph/linechart.js' %}"></script>
		<script src="{% static 'js/workingPaper/graph/puck.js' %}"></script>
		<!-- dom -->
		<script src="{% static 'js/dom/dom.js' %}"></script>
	</body>
</html>