
<!-- OnePageApp -->

<script src="{% static 'js/onePageApp.js' %}"></script>

<!-- clockdb -->

<script src="{% static 'js/dom/base-dom.js' %}"></script>

<!-- account -->
<script src="{% static 'js/account/account.js' %}"></script>

<!-- base -->
<script src="{% static 'js/base/base.js' %}"></script>
<script src="{% static 'js/base/date.js' %}"></script>
<script src="{% static 'js/base/header.js' %}"></script>
<script src="{% static 'js/base/resize.js' %}"></script>

<!-- controlPanel -->
<script src="{% static 'js/controlPanel/controlPanel.js' %}"></script>

<!-- friend -->
<script src="{% static 'js/friend/friend.js' %}"></script>

<!-- messenger -->
<script src="{% static 'js/messenger/messenger.js' %}"></script>

<!-- messenger notifications -->
<script src="{% static 'js/messengerNotification/messengerNotification.js' %}"></script>

<!-- network -->
<script src="{% static 'js/network/network.js' %}"></script>

<!-- notification -->
<script src="{% static 'js/notification/notification.js' %}"></script>

<!-- posts -->
<script src="{% static 'js/posts/posts.js' %}"></script>

<!-- workingPaper -->

<!-- analysis -->
<script src="{% static 'js/workingPaper/analysis/audit.js' %}"></script>
<script src="{% static 'js/workingPaper/analysis/compile.js' %}"></script>
<script src="{% static 'js/workingPaper/analysis/context.js' %}"></script>
<script src="{% static 'js/workingPaper/analysis/financials.js' %}"></script>
<script src="{% static 'js/workingPaper/analysis/valuation.js' %}"></script>

<!-- base -->
<script src="{% static 'js/workingPaper/base/base.js' %}"></script>
<script src="{% static 'js/workingPaper/base/checkboxes.js' %}"></script>
<script src="{% static 'js/workingPaper/base/enter.js' %}"></script>
<script src="{% static 'js/workingPaper/base/openEditor.js' %}"></script>
<script src="{% static 'js/workingPaper/base/ref.js' %}"></script>
<script src="{% static 'js/workingPaper/base/shortcuts.js' %}"></script>
<script src="{% static 'js/workingPaper/base/tabulation.js' %}"></script>
<script src="{% static 'js/workingPaper/base/unhideRows.js' %}"></script>

<!-- files -->
<script src="{% static 'js/workingPaper/files/enter.js' %}"></script>
<script src="{% static 'js/workingPaper/files/files.js' %}"></script>
<script src="{% static 'js/workingPaper/files/open.js' %}"></script>
<script src="{% static 'js/workingPaper/files/print.js' %}"></script>
<script src="{% static 'js/workingPaper/files/rollover.js' %}"></script>
<script src="{% static 'js/workingPaper/files/save.js' %}"></script>

<!-- graph -->
<script src="{% static 'js/workingPaper/graph/linechart.js' %}"></script>
<script src="{% static 'js/workingPaper/graph/puck.js' %}"></script>

<!-- dom -->
<script src="{% static 'js/dom/base-dom.js' %}"></script>