<style type="text/css">
	.notificationsContent{
		border-bottom-left-radius: 15px;
		background-color: white;
		width: 100%;
	}
	.notificationsView{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.notificationsContainer{
		text-align: left;
		border-bottom-left-radius: 15px;
		width: 100%;
	}
	.general_notifications_container{
		max-height: 600px;
		overflow: hidden;
		overflow-y: scroll;
		display: flex;
		flex-wrap: wrap;
	}
</style>
<div class="notificationsContainer">
	<div class="notificationsView">	
		<div class="notificationsContent">	
			<div id="id_general_notifications_container" class="general_notifications_container"></div>
		</div>
	</div>
</div>

