
{% load static %}

<div class="messengerContainer">
	<div class="messengerView">	
		<div class="messengerFriendList">
			<div class="messengerContent">
				{% for x in m_and_f %}
				<div class="d-flex flex-row p-2 friend-container flex-grow-1" onclick="onSelectFriend('{{x.friend.id}}')" id="id_friend_container_{{x.friend.id}}">
					<img class="profile-image-messages rounded-circle img-fluid" id="id_friend_img_{{x.friend.id}}" src="{% static 'clockdb/dummy_image.png' %}" >
					<div style="border-bottom-left-radius: 15px;">
						<span class="username-span-messages-friend" id="{{x.friend.id}}">{{x.friend.username}}</span>
						<span class="friend-message-span">{{x.message|truncatechars:20}}</span>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

