
{% load static %}

<style type="text/css">
	.chat-log {
		height: 230px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 5px;
		background-color: #fff;
		font-size: 0.9em;
		flex-direction: column-reverse;
	}
	.chat-message-input-container{
		outline: none;
		box-shadow: none;
	}
	.chat-message-input{
		outline: none;
		border: 2px solid #fff;
		border-top: 2px solid var(--main-background-color);
		
	}
	.message-container{
		margin-top: 10px;
		justify-content: start;
	}
	.username-span-messages{
		font-weight: 600;
		margin-top: 0px;
		margin-bottom: auto;
		margin-left: 5px;
		margin-right: 5px;
	}
	.friend-message-span{
		font-weight: 380;
		margin-top: 0px;
		margin-bottom: auto;
		margin-left: 5px;
		margin-right: 5px;
		font-size: 0.6em;
		color: var(--light-primary-text-color);
	}
	.timestamp-span{
		font-weight: 400;
		font-size: 0.8em;
		color: var(--secondary-text-color);
	}
	.timestamp-span:hover{
		cursor: pointer;
	}
	.msg-p{
		font-weight: 450;
		margin-top: 5px;
		margin-bottom: auto;
		margin-left: 5px;
		margin-right: 5px;
		white-space: normal;
		-ms-word-break: break-all;
		word-break: break-all;
	}
	.profile-image-messages{
		width: 33px;
		height: 33px;
		margin-top: 0px;
		margin-left: 5px;
		margin-bottom: 0px;
		object-fit: cover;
	}
	.profile-image-messages-small{
		width: 25px;
		height: 25px;
		margin-top: 0px;
		margin-bottom: auto;
		margin-right: 5px;
	}
	.profile-image-messages:hover{
		cursor: pointer;
	}
	.profile-image-messages-small:hover{
		cursor: pointer;
	}
	.username-span-messages:hover{
		cursor: pointer;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.card {
		border-radius: 0px;
	}
	
	#id_chatroom_loading_spinner{
		position: absolute;
	}
	.friend-container:hover{
		background: var(--main-background-color);
		cursor: pointer;
	}
	.friends-list-container{
		height: 300px;
		overflow-y: scroll;
	}
	.card {
		width: 100%;
	}
	.id_user_info_container{
		padding-top: 15px;
		width: 100%;
	}
	.recipient{
		text-align: left;
		float: left;
		overflow: hidden;
		width: 90%;
	}
	.panel{
		text-align: right;
		float: right;
		overflow: hidden;
		width: 10%;
	}
	.id_other_username{
		margin-top: 7px;
		margin-left: 50px;
		vertical-align: middle;
		text-align: left;
		overflow: hidden;
		white-space: nowrap;
	}
	.profile_image_messages_{
		text-align: left;
		float: left;
		overflow: hidden;
	}
	.friendsHeader{
		width : 100%;
		height: 55px;
		border-top-left-radius: 15px;
		border: solid 1.5px rgb(242, 242, 242);
		float: left;
		overflow: hidden;
		vertical-align: middle;
		background-color: white;
	}
	.friendsTitle{
		color: #696969;
		width: 72%;
		vertical-align: middle;
		float: left;
		overflow: hidden;
		vertical-align: middle;
		margin-top:3%;
	}
	.friendsHeaderPanel{
		width: 25%;
		text-align: right;
		float: left;
		overflow: hidden;
		vertical-align: right;
		margin-top:2%;
		margin-bottom:2%;
	}
	.friendsMain{
		width: 100%;
		border: solid 1.5px rgb(242, 242, 242);
	}
	.friendsContent{
		border-bottom-left-radius: 0px;
	}
	.friendsInput{
		height: 100%;
		font-size: 11px;
		width: 83%;
		border: 0;
		outline: none;
		margin-top: 2%;
		margin-bottom: 2%;
		background-color: rgb(242, 242, 242);
		padding-left: 10px;
	}
	.friendsFriendList{
		width: 100%;
		max-height: 300px;
		overflow-y: scroll;
	}
	.friendsContainer{
		text-align: left;
		border-bottom-left-radius: 15px;
		overflow: hidden;
	    white-space: nowrap;
	}
	.friendsView{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.username-span-messages-friend{
		vertical-align: middle;
		margin-left: 21px;
	}
</style>

<div class="friendsContainer">
	<div class="friendsView">
		<div class="friendsFriendList">
			<div class="friendsContent">
				{% for x in m_and_f %}
				<div class="d-flex flex-row p-2 friend-container flex-grow-1" onclick="onSelectFriend('{{x.friend.id}}')" id="id_friend_container_{{x.friend.id}}">
					<img class="profile-image-messages rounded-circle img-fluid" id="id_friend_img_{{x.friend.id}}" src="{% static 'clockdb/dummy_image.png' %}" >
					<div style="border-bottom-left-radius: 15px;">
						<span class="username-span-messages-friend" id="{{x.friend.id}}">{{x.friend.username}}</span>
						<span class="friend-message-span">{{x.message|truncatechars:20}}</span>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

