<style type="text/css">
	.messengerNotificationsContent{
		border-bottom-left-radius: 15px;
		background-color: white;
		width: 100%;
	}
	.messengerNotificationsView{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.messengerNotificationsContainer{
		text-align: left;
		border-bottom-left-radius: 15px;
		width: 100%;
	}
	.chat_notifications_container{
		max-height: 600px;
		overflow: hidden;
		overflow-y: scroll;
		display: flex;
		flex-wrap: wrap;
	}
</style>
<div class="messengerNotificationsContainer">
	<div class="messengerNotificationsView">	
		<div class="messengerNotificationsContent">	
			<div id="id_chat_notifications_container" class="chat_notifications_container"></div>			
		</div>
	</div>
</div>

