<div class="Entity">
	<div class="Entity-main">
		<a class="Entity-profile-link" href="/{{request.user.id}}/WorkingPaper/${contents.TradingSymbol}/">
			<h4 class="EntityRegistrantName" id="${contents.EntityRegistrantName} (${contents.TradingSymbol})">${contents.EntityRegistrantName} (${contents.TradingSymbol})</h4>
			<h5 class="Industry">${contents.Industry}</h5>
			<h6 class="Industry_SEC">${contents.Industry_SEC}</h6>
			<h6 class="Industry_SEC">${contents.Region}</h6>
		</a>
	</div>
</div>
