{% load static %}

<style type="text/css">
	.notification-thumbnail-image{
		height: 50px;
		width: 50px;
	}
	.general-card:hover{
		cursor: pointer;
		background: #f2f2f2;
	}
	.general-card{
		border-bottom: 1px solid var(--main-background-color);
	}
	.timestamp-text{
		color: var(--secondary-text-color);
	}
	
	#id_notifications_loading_spinner{
		position: absolute;
		margin-top: 40px;
	}
</style>

<script src="{% static 'collections/collections.min.js' %}"></script>

<p class="d-none" id="id_general_page_number">1</p>
<p class="d-none" id="id_general_oldest_timestamp"></p>
<p class="d-none" id="id_general_newest_timestamp"></p>


