{% extends "φ/layout.html" %}
{% block body %}


<!-- Header -->


<div class="text" style="padding-top:11%">


    <h3 style="padding-top:59px;">audit, business valuation</h3>
        
    <h3>machine learning, artificial intelligence</h3>

    <h3>our goal is to democratize access to financial literature and equity.</h3>

    <h3>this is my way for locating smart investments in a single line of python and javascript.</h3>

    <h3>corporations' earning power is key to sustainability and growth.</h3>
    
    <h3>contact me <font style="color:#0D47A1">@</font> <a href="mailto:clockdb@gmail.com" style="color:black">clockdb@gmail.com</a></h3>


</div>


{% endblock %}