{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | home'

</script>

<!--- HOME --->

<Section id="φ" style='margin-bottom:27%'>
    <table style='width:90%'>
        <tbody>

            <tr>
                <td colspan='2' style="border-bottom: ridge;">
                    <h2 style="font-weight:bold;">entity</h2>
                </td>
                <td style="border-bottom: ridge;" >
                    <h2 style="font-weight:bold;">value</h2>
                </td>
                <td style="border-bottom: ridge;">
                    <h2 style="font-weight:bold;">+/-</h2>
                </td>
                <td style="border-bottom: ridge;">
                    <h2 style="font-weight:bold;">status</h2>
                </td>
            </tr>

            <tr></tr>
            <tr></tr>

            {% for entity in entities %}

                <tr>
                    <td colspan='2' style='padding-top: 24px;'>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style='margin-bottom: 0%;'>
                                <h3 style="text-align:left; margin-bottom: 0%; margin-left:0px"><b>{{ entity.EntityRegistrantName }} ({{ entity.TradingSymbol }})</b></h3>
                            </button>
                        </a>                           
                    </td>
                    <td style="vertical-align:bottom;" style='padding-top: 24px;'>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style='vertical-align:bottom; margin-bottom: 1%;'>
                                <h3 style="text-align:center;"><b>{{ entity.Clockφ }}%</b></h3>
                            </button>
                        </a>
                    </td>
                    <td style="vertical-align:bottom;" style='padding-top: 24px;'>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style='margin-bottom: 1%;'>
                                <h3 style="text-align: center;">{{ entity.ClockφChange }}pp</h3>
                            </button>
                        </a>
                    </td>
                    <td style="vertical-align:bottom;" style='padding-top: 24px;'>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style='margin-bottom: 1%;'>
                                <h3 style="text-align: center;">{{ entity.Status }}</h3>
                            </button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan='4'>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style='margin-bottom: 0%;'>
                                <h5 style="color:#8A9096; margin-bottom: 17px; margin-left:0px;">{{ entity.lastyear }}</h5>
                                <h5 style="color:#8A9096; margin-bottom: 17px; margin-left:0px;">{{ entity.Industry }}</h5>
                            </button>
                        </a>                           
                    </td>
                </tr>
            
            {% endfor %}
            
        </tbody>
    </table>
</Section>

{% endblock %}