{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | industrial'

</script>

<!--- MENU --->

<div class="text">

    <ul>

        <a href="{% url 'φ:economics' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>RANKING PER INDUSTRY</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">macro</h5>

            </button>

        </a>

        <a href="{% url 'φ:economics' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>RANKING PER INDUSTRY</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">macro</h5>

            </button>

        </a>

        <a href="{% url 'φ:economics' %}" style="padding-bottom:17%">
           
            <button>
                
                <h4 style='text-align:center'><b>RANKING PER MARKET CAPITALIZATION</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">micro</h5>

            </button>

        </a>

    </ul>
    
</div>


{% endblock %}