{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | home'

    // WARNING
    alert('This prototype is for demonstration purpuses only, please make sure the calculations suits your needs before acting on it. Our ai is still learning. Plus, everything is customizable.')

</script>

<!--- HOME --->

<Section id="φ" style='padding-bottom:27%'>
    <table>
        <tbody>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan='2'>
                    <h2 style="border-bottom: ridge; font-weight:bold;">Entity</h2>
                </td>
                <td>
                    <h2 style="border-bottom: ridge; font-weight:bold;">Valuation</h2>
                </td>
                <td>
                    <h2 style="border-bottom: ridge; font-weight:bold;">Change</h2>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>

            {% for entity in entities %}

            <tr>
                <td colspan='2'>
                    <a href="/{{ entity.TradingSymbol }}">
                        <button>
                            <h3 style="padding-bottom:7px;">{{ entity.EntityRegistrantName }} ({{ entity.TradingSymbol }})</h3>
                            <h5 style="color:#8A9096">{{ entity.Industry }}</h5>
                        </button>
                    </a>                               
                </td>
                <td>
                    <h3 style="text-align: center; <percentage>">{{ entity.Clockφ }} %</h3>
                </td>
                <td>
                    <h3 style="text-align: center;">{{ entity.ClockφChange }} pp</h3>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>

            {% endfor %}
            
        </tbody>
    </table>
</Section>

{% endblock %}