{% extends "φ/layout.html" %}
{% block body %}


<!-- Header -->


<div class="text" style="padding-top:11%; padding-bottom:11%">


    <h3 style="padding-top:59px;">audit, business valuations</h3>
        
    <h3>machine learning, artificial intelligence</h3>

    <h3>our goal is to democratize access to financial literature and equity</h3>

    <h3>clockdb.com is a digital fund which value arise from real investments selected through datamining</h3>

    <h3>every investment decision is reviewed by a senior chartered accountant or financial analyst</h3>

    <h3>the data we mine is audited twice for accuracy, completeness and classification, once in python and once in javascript</h3>
    
    <h3>our mining process is public and our data is customizable.</h3>
    
    <h3>earning power is key to sustainability and growth</h3>
    
    
    <h3 style="padding-top:59px ;">---------------------</h3>
    


    <h3 style="padding-top:59px ;">audit, évaluation d'entreprises</h3>
        
    <h3>apprentissage automatique, intelligence artificielle</h3>

    <h3>notre objectif est de démocratiser l'accès à la littérature financière et à l'investissement sur les marchés de capitaux</h3>

    <h3>clockdb.com est un fonds numérique dont la valeur provient d'investissements réels sélectionnés par datamining</h3>

    <h3>chaque décision d'investissement est revue par un expert-comptable ou un analyste financier senior.</h3>

    <h3>les données que nous minons sont vérifiées deux fois pour leur exactitude, leur exhaustivité et leur classification, une fois en python et une fois en javascript</h3>
    
    <h3>notre processus d'extraction est public et nos données sont personnalisables.</h3>
    
    <h3>Le pouvoir d'achat est la clé de la durabilité et de la croissance</h3>
    


</div>


{% endblock %}



