{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | home'

</script>

<!--- HOME --->

<Section id="φ" style='padding-bottom:27%'>
    <table>
        <tbody>

            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan='4' style="border-bottom: ridge;">
                    <h2 style="font-weight:bold;">Entity</h2>
                </td>
                <td style="border-bottom: ridge;" >
                    <h2 style="font-weight:bold;">Value Ratio</h2>
                </td>
                <td style="border-bottom: ridge;">
                    <h2 style="font-weight:bold;">Change<h6 style="text-align:center">(Percent. points)</h6></h2>
                </td>
                <td style="border-bottom: ridge;" colspan='2'>
                    <h2 style="font-weight:bold;">Fiscal Year</h2>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>

            {% for entity in entities %}

            <tr>
                    <td colspan='4'>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style='padding-bottom:0px;'>
                                <h3>{{ entity.EntityRegistrantName }} ({{ entity.TradingSymbol }})</h3>
                            </button>
                        </a>                               
                    </td>
                    <td>
                        <a href="/{{ entity.TradingSymbol }}">
                        <button style='padding-bottom:0px;'>
                            <h2 style="text-align:center;">{{ entity.Clockφ }} %</h2>
                        </button>
                    </td>
                    <td>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style='padding-bottom:0px;'>
                                <h2 style="text-align: center;">{{ entity.ClockφChange }} pp</h2>
                            </button>
                    </td>
                    <td colspan='2'>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style='padding-bottom:0px;'>
                                <h6 style="text-align: center;">{{ entity.lastyear }}</h6>
                            </button>
                        </a>
                    </td>
                </button>
            </tr>
            <tr >
                    <td colspan='8'>
                        <a href="/{{ entity.TradingSymbol }}">
                            <button style="padding-top: 0px; padding-bottom: 18px">
                                <h5 style="color:#8A9096;">{{ entity.Industry }}</h5>
                            </button>
                        </a>
                    </td>
            </tr>
            
            {% endfor %}
            
        </tbody>
    </table>
</Section>

{% endblock %}