{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | menu'

</script>

<!--- ENTITIES --->

<div class="text" style="padding-top: 7%">

    <ul style="padding-top: 59px;">
            
        <a href="{% url 'φ:index' %}"><button><h4 style="padding-bottom:5%; text-align:left"><b>Home</h4></b></button></a>
            
        <a href="{% url 'φ:disclaimer' %}"><button><h4 style="padding-bottom:5%; text-align:left"><b>Disclaimer</h4></b></button></a>

        <a href="{% url 'φ:about' %}"><button><h4 style="padding-bottom:5%; text-align:left"><b>About</h4></b></button></a>

        <a href="https://github.com/clockdb/clockdb.github.io" target="_Blank"><button><h4 style="padding-bottom:5%; text-align:left"><b>Github</h4></b></button></a>

        <a href="https://www.patreon.com/clockdb" target="_Blank"><button><h4 style="padding-bottom:5%; text-align:left"><b>Buy me a coffee</h4></b></button></a>


    </ul>
    
</div>

{% endblock %}