{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | phase 7'

</script>

<!--- MENU --->

<div class="text">

    <ul>

        <a href="{% url 'φ:phase7.8' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7.8</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">six years audited ({{ db.phase78 }})</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase7.7' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7.7</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">five years audited ({{ db.phase77 }})</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase7.6' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7.6</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">four years audited ({{ db.phase76 }})</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase7.5' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7.5</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">three years audited ({{ db.phase75 }})</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase7.4' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7.4</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">two years audited ({{ db.phase74 }})</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase7.3' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7.3</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">one year audited ({{ db.phase73 }})</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase7.2' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7.2</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">review ({{ db.phase72 }})</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase7.1' %}" style="padding-bottom:17%">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7.1</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">preparation ({{ db.phase71 }})</h5>

            </button>

        </a>

    </ul>
    
</div>


{% endblock %}