{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | phase 6'

</script>

<!--- MENU --->

<div class="text">

    <ul>

        <a href="{% url 'φ:phase6.4' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 6.4</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">classification ({{db.phase64}} trading symbols)</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase6.3' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 6.3</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">accuracy ({{db.phase63}} trading symbols)</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase6.2' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 6.2</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">accounting equation ({{db.phase62}} trading symbols)</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase6.1' %}" style="padding-bottom:17%">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 6.1</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">trial balances ({{db.phase61}} trading symbols)</h5>

            </button>

        </a>

    </ul>
    
</div>


{% endblock %}