<!--- STATEMENTS OF COMPREHENSIVE INCOME --->
<div id="AnnualComprehensiveIncome" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameComprehensiveIncome" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">STATEMENTS OF COMPREHENSIVE INCOME</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateStatementsOfComprehensiveIncome1" style="text-align:center"></h5></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateStatementsOfComprehensiveIncome2" style="text-align:center"></h5></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateStatementsOfComprehensiveIncome3" style="text-align:center"></h5></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateStatementsOfComprehensiveIncome4" style="text-align:center"></h5></td>
                <td colspan='2' class='C5' style="padding-top: 21px;"><h5 id="DateStatementsOfComprehensiveIncome5" style="text-align:center"></h5></td>
                <td colspan='2' class='C6' style="padding-top: 21px;"><h5 id="DateStatementsOfComprehensiveIncome6" style="text-align:center"></h5></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan='5'></td>
                <td colspan='2' class='C1'><h5 id="StatementsOfComprehensiveAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="StatementsOfComprehensiveAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="StatementsOfComprehensiveAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="StatementsOfComprehensiveAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C5'><h5 id="StatementsOfComprehensiveAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C6'><h5 id="StatementsOfComprehensiveAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="StatementsOfComprehensiveIncomeFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="StatementsOfComprehensiveIncomeFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="StatementsOfComprehensiveIncomeFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="StatementsOfComprehensiveIncomeFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="StatementsOfComprehensiveIncomeFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C5' style="text-align:center"><a target="_blank" id="StatementsOfComprehensiveIncomeFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C6' style="text-align:center"><a target="_blank" id="StatementsOfComprehensiveIncomeFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="NetIncomeLossComprehensiveIncomeRow" class="TrialBalance">
                <td colspan="2"><h6><b>Net Income (Loss)</b></h6></td>
                <td style="text-align:center"><button id="NetIncomeShortCut" class="NetIncomeLossComprehensiveIncome1"  data-page="AnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">IS</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="NetIncomeLossComprehensiveIncomeCheckbox"></input>
                    <input type="checkbox" id="NetIncomeLossComprehensiveIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="NetIncomeLossComprehensiveIncome1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="NetIncomeLossComprehensiveIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="NetIncomeLossComprehensiveIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="NetIncomeLossComprehensiveIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="NetIncomeLossComprehensiveIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="NetIncomeLossComprehensiveIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='ChangeInForeignCurrencyTranslationAdjustmentRow' class="TrialBalance">
                <td colspan="2"><h6>Change In Foreign Currency Translation</h6></td>
                <td style="text-align:center"><button id="TrialBalanceChangeInForeignCurrencyTranslationAdjustmentShortCut" class="ChangeInForeignCurrencyTranslationAdjustment1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OtherComprehensiveIncomeFiles" class="OtherComprehensiveIncomeFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ChangeInForeignCurrencyTranslationAdjustmentCheckbox"></input>
                    <input type="checkbox" id="ChangeInForeignCurrencyTranslationAdjustmentCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ChangeInForeignCurrencyTranslationAdjustment1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ChangeInForeignCurrencyTranslationAdjustment2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ChangeInForeignCurrencyTranslationAdjustment3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ChangeInForeignCurrencyTranslationAdjustment4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ChangeInForeignCurrencyTranslationAdjustment5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ChangeInForeignCurrencyTranslationAdjustment6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='ChangeInUnrealizedGainsLossesOnDerivativeInstrumentsRow' class="TrialBalance">
                <td colspan="2"><h6>Change In Unrealized Gains (Losses) On Derivative Instruments</h6></td>
                <td style="text-align:center"><button id="TrialBalanceChangeInUnrealizedGainsLossesOnDerivativeInstrumentsShortCut" class="ChangeInUnrealizedGainsLossesOnDerivativeInstruments1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OtherComprehensiveIncomeFiles" class="OtherComprehensiveIncomeFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ChangeInUnrealizedGainsLossesOnDerivativeInstrumentsCheckbox"></input>
                    <input type="checkbox" id="ChangeInUnrealizedGainsLossesOnDerivativeInstrumentsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnDerivativeInstruments1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnDerivativeInstruments2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnDerivativeInstruments3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnDerivativeInstruments4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnDerivativeInstruments5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnDerivativeInstruments6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='ChangeInUnrealizedGainsLossesOnInvestmentsRow' class="TrialBalance">
                <td colspan="2"><h6>Change In Unrealized Gains (Losses) On Investments</h6></td>
                <td style="text-align:center"><button id="TrialBalanceChangeInUnrealizedGainsLossesOnInvestmentsShortCut" class="ChangeInUnrealizedGainsLossesOnInvestments1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OtherComprehensiveIncomeFiles" class="OtherComprehensiveIncomeFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ChangeInUnrealizedGainsLossesOnInvestmentsCheckbox"></input>
                    <input type="checkbox" id="ChangeInUnrealizedGainsLossesOnInvestmentsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnInvestments1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnInvestments2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnInvestments3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnInvestments4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnInvestments5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ChangeInUnrealizedGainsLossesOnInvestments6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='ChangeInDefinedBenefitPensionAndOtherSimilarPlansRow' class="TrialBalance">
                <td colspan="2"><h6>Change In Defined Benefit Pension And Other Similar Plans</h6></td>
                <td style="text-align:center"><button id="TrialBalanceChangeInDefinedBenefitPensionAndOtherSimilarPlansShortCut" class="ChangeInDefinedBenefitPensionAndOtherSimilarPlans1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OtherComprehensiveIncomeFiles" class="OtherComprehensiveIncomeFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ChangeInDefinedBenefitPensionAndOtherSimilarPlansCheckbox"></input>
                    <input type="checkbox" id="ChangeInDefinedBenefitPensionAndOtherSimilarPlansCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ChangeInDefinedBenefitPensionAndOtherSimilarPlans1"  style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ChangeInDefinedBenefitPensionAndOtherSimilarPlans2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ChangeInDefinedBenefitPensionAndOtherSimilarPlans3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ChangeInDefinedBenefitPensionAndOtherSimilarPlans4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ChangeInDefinedBenefitPensionAndOtherSimilarPlans5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ChangeInDefinedBenefitPensionAndOtherSimilarPlans6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='IncomeTaxOnOtherComprehensiveIncomeRow' class="TrialBalance">
                <td colspan="2"><h6>Income Taxes</h6></td>
                <td style="text-align:center"><button id="TrialBalanceIncomeTaxOnOtherComprehensiveIncomeShortCut" class="IncomeTaxOnOtherComprehensiveIncome1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OtherComprehensiveIncomeFiles" class="OtherComprehensiveIncomeFiles">{</button></td>
                <td>
                    <input type="checkbox" id="IncomeTaxOnOtherComprehensiveIncomeCheckbox"></input>
                    <input type="checkbox" id="IncomeTaxOnOtherComprehensiveIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="IncomeTaxOnOtherComprehensiveIncome1"  style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="IncomeTaxOnOtherComprehensiveIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="IncomeTaxOnOtherComprehensiveIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="IncomeTaxOnOtherComprehensiveIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="IncomeTaxOnOtherComprehensiveIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="IncomeTaxOnOtherComprehensiveIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="ComprehensiveIncomeRow" class="TrialBalance">
                <td colspan="4"><h6><b>Comprehensive Income (Loss)</b></h6></td>
                <td>
                    <input type="checkbox" id="ComprehensiveIncomeCheckbox"></input>
                    <input type="checkbox" id="ComprehensiveIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ComprehensiveIncome1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ComprehensiveIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ComprehensiveIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ComprehensiveIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ComprehensiveIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ComprehensiveIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="ComprehensiveIncomeReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="ComprehensiveIncomeReferenceCheckbox"></input>
                    <input type="checkbox" id="ComprehensiveIncomeReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="ComprehensiveIncomeReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="ComprehensiveIncomeReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="ComprehensiveIncomeReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="ComprehensiveIncomeReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="ComprehensiveIncomeReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="ComprehensiveIncomeReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">IS</td>
                <td style="text-align:left;" colspan="20" >Income Statements</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">TB</td>
                <td style="text-align:left;" colspan="20" >Trial Balance</td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>