<!--- STATEMENTS OF INCOME --->
<div id="AnnualIncomeStatements" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameIncomeStatements" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">STATEMENTS OF INCOME</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateStatementsOfIncome1" style="text-align:center"></h4></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateStatementsOfIncome2" style="text-align:center"></h4></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateStatementsOfIncome3" style="text-align:center"></h4></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateStatementsOfIncome4" style="text-align:center"></h4></td>
                <td colspan='2' class='C5' style="padding-top: 21px;"><h5 id="DateStatementsOfIncome5" style="text-align:center"></h4></td>
                <td colspan='2' class='C6' style="padding-top: 21px;"><h5 id="DateStatementsOfIncome6" style="text-align:center"></h4></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan='5'></td>
                <td colspan='2' class='C1'><h5 id="IncomeStatementsAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="IncomeStatementsAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="IncomeStatementsAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="IncomeStatementsAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C5'><h5 id="IncomeStatementsAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C6'><h5 id="IncomeStatementsAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="IncomeStatementsFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="IncomeStatementsFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="IncomeStatementsFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="IncomeStatementsFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="IncomeStatementsFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C5' style="text-align:center"><a target="_blank" id="IncomeStatementsFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C6' style="text-align:center"><a target="_blank" id="IncomeStatementsFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="SalesRow" class="TrialBalance">
                <td colspan="2"><h6><b>Sales</b></h6></td>
                <td style="text-align:center"><button id="TrialBalanceSalesShortCut" class="Sales1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="GrossMarginFiles" class="GrossMarginFiles">{</button></td>
                <td>
                    <input type="checkbox" id="SalesCheckbox"></input>
                    <input type="checkbox" id="SalesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="Sales1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="Sales2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="Sales3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="Sales4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="Sales5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="Sales6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="CostOfSalesRow" class="TrialBalance">
                <td colspan="2"><h6><b>Cost Of Sales</b></h6></td>
                <td style="text-align:center"><button id="TrialBalanceCostOfSalesShortCut" class="CostOfSales1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="CostOfSalesCheckbox"></input>
                    <input type="checkbox" id="CostOfSalesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="CostOfSales1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="CostOfSales2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="CostOfSales3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="CostOfSales4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="CostOfSales5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="CostOfSales6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="GrossMarginRow" class="TrialBalance">
                <td colspan="2"><h6><b>Gross Margin</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;"></td>
                <td></td>
                <td>
                    <input type="checkbox" id="GrossMarginCheckbox"></input>
                    <input type="checkbox" id="GrossMarginCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-top-style:ridge;"><input class='Clock' id="GrossMargin1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-top-style:ridge;"><input class='Clock' id="GrossMargin2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-top-style:ridge;"><input class='Clock' id="GrossMargin3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-top-style:ridge;"><input class='Clock' id="GrossMargin4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-top-style:ridge;"><input class='Clock' id="GrossMargin5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-top-style:ridge;"><input class='Clock' id="GrossMargin6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='ResearchAndDevelopmentRow' class="TrialBalance">
                <td colspan="2"><h6>Research And Development</h6></td>
                <td style="text-align:center"><button id="TrialBalanceResearchAndDevelopmentShortCut" class="ResearchAndDevelopment1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OperatingExpensesFiles" class="OperatingExpensesFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ResearchAndDevelopmentCheckbox"></input>
                    <input type="checkbox" id="ResearchAndDevelopmentCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ResearchAndDevelopment1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ResearchAndDevelopment2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ResearchAndDevelopment3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ResearchAndDevelopment4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ResearchAndDevelopment5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ResearchAndDevelopment6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="SellingGeneralAdministrativeAndMarketingRow" class="TrialBalance">
                <td colspan="2"><h6>Selling, Administrative And Marketing</h6></td>
                <td style="text-align:center"><button id="TrialBalanceSellingGeneralAdministrativeAndMarketingShortCut" class="SellingGeneralAdministrativeAndMarketing1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="SellingGeneralAdministrativeAndMarketingCheckbox"></input>
                    <input type="checkbox" id="SellingGeneralAdministrativeAndMarketingCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge;"><input class='Clock' id="SellingGeneralAdministrativeAndMarketing1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge;"><input class='Clock' id="SellingGeneralAdministrativeAndMarketing2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge;"><input class='Clock' id="SellingGeneralAdministrativeAndMarketing3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge;"><input class='Clock' id="SellingGeneralAdministrativeAndMarketing4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-bottom-style:ridge;"><input class='Clock' id="SellingGeneralAdministrativeAndMarketing5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-bottom-style:ridge;"><input class='Clock' id="SellingGeneralAdministrativeAndMarketing6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="OperatingIncomeRow" class="TrialBalance">
                <td colspan="2"><h6><b>Operating Income (Loss)</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;"></td>
                <td></td>
                <td>
                    <input type="checkbox" id="OperatingIncomeCheckbox"></input>
                    <input type="checkbox" id="OperatingIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="OperatingIncome1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="OperatingIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="OperatingIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="OperatingIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="OperatingIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="OperatingIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='ImpairmentRestructuringAndOtherSpecialChargesRow' class="TrialBalance">
                <td colspan="2"><h6>Impairment And Restructuring</h6></td>
                <td style="text-align:center"><button id="TrialBalanceImpairmentRestructuringAndOtherSpecialChargesShortCut" class="ImpairmentRestructuringAndOtherSpecialCharges1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ImpairmentAndRestructuringFiles" class="ImpairmentAndRestructuringFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ImpairmentRestructuringAndOtherSpecialChargesCheckbox"></input>
                    <input type="checkbox" id="ImpairmentRestructuringAndOtherSpecialChargesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ImpairmentRestructuringAndOtherSpecialCharges1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ImpairmentRestructuringAndOtherSpecialCharges2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ImpairmentRestructuringAndOtherSpecialCharges3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ImpairmentRestructuringAndOtherSpecialCharges4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ImpairmentRestructuringAndOtherSpecialCharges5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ImpairmentRestructuringAndOtherSpecialCharges6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="NonOperatingIncomeExpenseRow" class="TrialBalance">
                <td colspan="2"><h6>Non-Operating Income (Expense)</h6></td>
                <td style="text-align:center"><button id="TrialBalanceNonOperatingIncomeExpenseShortCut" class="NonOperatingIncomeExpense1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="NonOperatingExpensesFiles" class="NonOperatingExpensesFiles">{</button></td>
                <td>
                    <input type="checkbox" id="NonOperatingIncomeExpenseCheckbox"></input>
                    <input type="checkbox" id="NonOperatingIncomeExpenseCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="NonOperatingIncomeExpense1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="NonOperatingIncomeExpense2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="NonOperatingIncomeExpense3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="NonOperatingIncomeExpense4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="NonOperatingIncomeExpense5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="NonOperatingIncomeExpense6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="IncomeBeforeTaxesRow" class="TrialBalance">
                <td colspan="2"><h6><b>Income (Loss) Before Taxes</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;"></td>
                <td></td>
                <td>
                    <input type="checkbox" id="IncomeBeforeTaxesCheckbox"></input>
                    <input type="checkbox" id="IncomeBeforeTaxesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-top-style:ridge;"><input class='Clock' id="IncomeBeforeTaxes1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-top-style:ridge;"><input class='Clock' id="IncomeBeforeTaxes2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-top-style:ridge;"><input class='Clock' id="IncomeBeforeTaxes3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-top-style:ridge;"><input class='Clock' id="IncomeBeforeTaxes4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-top-style:ridge;"><input class='Clock' id="IncomeBeforeTaxes5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-top-style:ridge;"><input class='Clock' id="IncomeBeforeTaxes6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="IncomeTaxExpenseBenefitRow" class="TrialBalance">
                <td colspan="2"><h6>Income Taxes</h6></td>
                <td style="text-align:center"><button id="TrialBalanceIncomeTaxExpenseBenefitShortCut" class="IncomeTaxExpenseBenefit1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="IncomeTaxFiles" class="IncomeTaxFiles">{</button></td>
                <td>
                    <input type="checkbox" id="IncomeTaxExpenseBenefitCheckbox"></input>
                    <input type="checkbox" id="IncomeTaxExpenseBenefitCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="IncomeTaxExpenseBenefit1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="IncomeTaxExpenseBenefit2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="IncomeTaxExpenseBenefit3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="IncomeTaxExpenseBenefit4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="IncomeTaxExpenseBenefit5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="IncomeTaxExpenseBenefit6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='EquityMethodInvesteesIncomeRow' class="TrialBalance">
                <td colspan="2"><h6>Equity Method Investee Income</h6></td>
                <td style="text-align:center"><button id="TrialBalanceEquityMethodInvesteesIncomeShortCut" class="EquityMethodInvesteesIncome1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="EquityMethodInvesteesIncomeFiles" class="EquityMethodInvesteesIncomeFiles">{</button></td>
                <td>
                    <input type="checkbox" id="EquityMethodInvesteesIncomeCheckbox"></input>
                    <input type="checkbox" id="EquityMethodInvesteesIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="EquityMethodInvesteesIncome1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="EquityMethodInvesteesIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="EquityMethodInvesteesIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="EquityMethodInvesteesIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="EquityMethodInvesteesIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="EquityMethodInvesteesIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='NetIncomeFromDiscontinuedOperationsRow' class="TrialBalance">
                <td colspan="2"><h6>Net Income From Discontinued Operations</h6></td>
                <td style="text-align:center"><button id="TrialBalanceNetIncomeFromDiscontinuedOperationsShortCut" class="NetIncomeFromDiscontinuedOperations1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="DiscontinuedOperationsFiles" class="DiscontinuedOperationsFiles">{</button></td>
                <td>
                    <input type="checkbox" id="NetIncomeFromDiscontinuedOperationsCheckbox"></input>
                    <input type="checkbox" id="NetIncomeFromDiscontinuedOperationsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="NetIncomeFromDiscontinuedOperations1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="NetIncomeFromDiscontinuedOperations2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="NetIncomeFromDiscontinuedOperations3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="NetIncomeFromDiscontinuedOperations4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="NetIncomeFromDiscontinuedOperations5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="NetIncomeFromDiscontinuedOperations6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="NetIncomeRow" class="TrialBalance">
                <td colspan="2"><h6><b>Net Income (Loss)</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;"></td>
                <td></td>
                <td>
                    <input type="checkbox" id="NetIncomeCheckbox"></input>
                    <input type="checkbox" id="NetIncomeCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="NetIncome1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="NetIncome2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="NetIncome3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="NetIncome4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="NetIncome5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="NetIncome6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="IncomeStatementsReferenceRow" class="TrialBalance">
                <td colspan="2"></td>
                <td></td>
                <td>
                    <input type="checkbox" id="IncomeStatementsReferenceCheckbox"></input>
                    <input type="checkbox" id="IncomeStatementsReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="IncomeStatementsReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="IncomeStatementsReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="IncomeStatementsReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="IncomeStatementsReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="IncomeStatementsReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="IncomeStatementsReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">TB</td>
                <td style="text-align:left;" colspan="20" >Trial Balance</td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>