<!--- STATEMENTS OF SHAREHOLDERS' EQUITY --->
<div id="AnnualShareholdersEquity" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameShareholdersEquity" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">STATEMENTS OF SHAREHOLDERS' EQUITY</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top:30px"><h5 id="DateStatementsOfShareholdersEquity1" style="text-align:center;"></h5></td>
                <td colspan='2' class='C2' style="padding-top:30px"><h5 id="DateStatementsOfShareholdersEquity2" style="text-align:center;"></h5></td>
                <td colspan='2' class='C3' style="padding-top:30px"><h5 id="DateStatementsOfShareholdersEquity3" style="text-align:center;"></h5></td>
                <td colspan='2' class='C4' style="padding-top:30px"><h5 id="DateStatementsOfShareholdersEquity4" style="text-align:center;"></h5></td>
                <td colspan='2' class='C5' style="padding-top:30px"><h5 id="DateStatementsOfShareholdersEquity5" style="text-align:center;"></h5></td>
                <td colspan='2' class='C6' style="padding-top:30px"><h5 id="DateStatementsOfShareholdersEquity6" style="text-align:center;"></h5></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan='5'></td>
                <td colspan='2' class='C1'><h5 id="StatementsOfShareholdersAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="StatementsOfShareholdersAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="StatementsOfShareholdersAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="StatementsOfShareholdersAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C5'><h5 id="StatementsOfShareholdersAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C6'><h5 id="StatementsOfShareholdersAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="StatementsOfShareholdersFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="StatementsOfShareholdersFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="StatementsOfShareholdersFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="StatementsOfShareholdersFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="StatementsOfShareholdersFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C5' style="text-align:center"><a target="_blank" id="StatementsOfShareholdersFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C6' style="text-align:center"><a target="_blank" id="StatementsOfShareholdersFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="ShareholdersEquityBeginningRow" class="TrialBalance">
                <td colspan="2"><h6><b>Total Shareholders' Equity Beginning Balance</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">\</td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ShareholdersEquityBeginningCheckbox"></input>
                    <input type="checkbox" id="ShareholdersEquityBeginningCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ShareholdersEquityBeginning1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ShareholdersEquityBeginning2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ShareholdersEquityBeginning3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ShareholdersEquityBeginning4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ShareholdersEquityBeginning5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ShareholdersEquityBeginning6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='CommonSharesIssuedRow' class="TrialBalance">
                <td colspan="2"><h6>Common Shares Issued</h6></td>
                <td style="text-align:center"><button id="TrialBalanceCommonSharesIssuedShortCut" class="CommonSharesIssued1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="CommonSharesIssuedCheckbox"></input>
                    <input type="checkbox" id="CommonSharesIssuedCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="CommonSharesIssued1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="CommonSharesIssued2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="CommonSharesIssued3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="CommonSharesIssued4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="CommonSharesIssued5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="CommonSharesIssued6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='ShareBasedCompensationRow' class="TrialBalance">
                <td colspan="2"><h6>Share Based Compensation</h6></td>
                <td style="text-align:center"><button id="TrialBalanceShareBasedCompensationShortCut" class="ShareBasedCompensation1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ShareBasedCompensationCheckbox"></input>
                    <input type="checkbox" id="ShareBasedCompensationCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ShareBasedCompensation1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ShareBasedCompensation2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ShareBasedCompensation3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ShareBasedCompensation4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ShareBasedCompensation5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ShareBasedCompensation6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='ShareBasedCompensationRetainedEarningsRow' class="TrialBalance">
                <td colspan="2"><h6>Share Based Compensation - Retained Earnings</h6></td>
                <td style="text-align:center"><button id="TrialBalanceShareBasedCompensationRetainedEarningsShortCut" class="ShareBasedCompensationRetainedEarnings1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ShareBasedCompensationRetainedEarningsCheckbox"></input>
                    <input type="checkbox" id="ShareBasedCompensationRetainedEarningsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ShareBasedCompensationRetainedEarnings1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ShareBasedCompensationRetainedEarnings2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ShareBasedCompensationRetainedEarnings3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ShareBasedCompensationRetainedEarnings4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ShareBasedCompensationRetainedEarnings5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ShareBasedCompensationRetainedEarnings6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='DividendsAndDividendEquivalentsDeclaredRow' class="TrialBalance">
                <td colspan="2"><h6>Dividends And Dividend Equivalents Declared</h6></td>
                <td style="text-align:center"><button id="TrialBalanceDividendsAndDividendEquivalentsDeclaredShortCut" class="DividendsAndDividendEquivalentsDeclared1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="DividendsAndDividendEquivalentsDeclaredCheckbox"></input>
                    <input type="checkbox" id="DividendsAndDividendEquivalentsDeclaredCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="DividendsAndDividendEquivalentsDeclared1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="DividendsAndDividendEquivalentsDeclared2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="DividendsAndDividendEquivalentsDeclared3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="DividendsAndDividendEquivalentsDeclared4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="DividendsAndDividendEquivalentsDeclared5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="DividendsAndDividendEquivalentsDeclared6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='CommonSharesRepurchasedAndRetiredRow' class="TrialBalance">
                <td colspan="2"><h6>Common Share Repurchased And Retired</h6></td>
                <td style="text-align:center"><button id="TrialBalanceCommonSharesRepurchasedAndRetiredShortCut" class="CommonSharesRepurchasedAndRetired1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="CommonSharesRepurchasedAndRetiredCheckbox"></input>
                    <input type="checkbox" id="CommonSharesRepurchasedAndRetiredCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="CommonSharesRepurchasedAndRetired1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="CommonSharesRepurchasedAndRetired2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="CommonSharesRepurchasedAndRetired3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="CommonSharesRepurchasedAndRetired4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="CommonSharesRepurchasedAndRetired5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="CommonSharesRepurchasedAndRetired6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='EffectOfAdoptionOfNewAccountingPronouncementOrTaxCutsRow' class="TrialBalance">
                <td colspan="2"><h6>Effect Of Adoption New Accounting Pronouncement Or Tax Cuts</h6></td>
                <td style="text-align:center"><button id="TrialBalanceEffectOfAdoptionOfNewAccountingPronouncementOrTaxCutsShortCut" class="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCuts1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCutsCheckbox"></input>
                    <input type="checkbox" id="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCutsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCuts1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCuts2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCuts3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCuts4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCuts5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="EffectOfAdoptionOfNewAccountingPronouncementOrTaxCuts6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='RetainedEarningsOthersRow' class="TrialBalance">
                <td colspan="2"><h6>Other Transactions Affecting Retained Earnings</h6></td>
                <td style="text-align:center"><button id="TrialBalanceRetainedEarningsOthersShortCut" class="RetainedEarningsOthers1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="RetainedEarningsOthersCheckbox"></input>
                    <input type="checkbox" id="RetainedEarningsOthersCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="RetainedEarningsOthers1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="RetainedEarningsOthers2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="RetainedEarningsOthers3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="RetainedEarningsOthers4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="RetainedEarningsOthers5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="RetainedEarningsOthers6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='PurchaseAndSellOfTreasurySharesRow' class="TrialBalance">
                <td colspan="2"><h6>Purchase And Sell Of Treasury Shares</h6></td>
                <td style="text-align:center"><button id="TrialBalancePurchaseAndSellOfTreasurySharesShortCut" class="PurchaseAndSellOfTreasuryShares1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="PurchaseAndSellOfTreasurySharesCheckbox"></input>
                    <input type="checkbox" id="PurchaseAndSellOfTreasurySharesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="PurchaseAndSellOfTreasuryShares1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="PurchaseAndSellOfTreasuryShares2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="PurchaseAndSellOfTreasuryShares3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="PurchaseAndSellOfTreasuryShares4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="PurchaseAndSellOfTreasuryShares5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="PurchaseAndSellOfTreasuryShares6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='DividendsDeclaredToNonControllingInterestsRow' class="TrialBalance">
                <td colspan="2"><h6>Dividends Declared To Non Controlling Interests</h6></td>
                <td style="text-align:center"><button id="TrialBalanceDividendsDeclaredToNonControllingInterestsShortCut" class="DividendsDeclaredToNonControllingInterests1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="DividendsDeclaredToNonControllingInterestsCheckbox"></input>
                    <input type="checkbox" id="DividendsDeclaredToNonControllingInterestsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="DividendsDeclaredToNonControllingInterests1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="DividendsDeclaredToNonControllingInterests2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="DividendsDeclaredToNonControllingInterests3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="DividendsDeclaredToNonControllingInterests4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="DividendsDeclaredToNonControllingInterests5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="DividendsDeclaredToNonControllingInterests6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='AcquisitionOfNonControllingInterestsRow' class="TrialBalance">
                <td colspan="2"><h6>Acquisition And Other Distributions To Non Controlling Interests</h6></td>
                <td style="text-align:center"><button id="TrialBalanceAcquisitionOfNonControllingInterestsShortCut" class="AcquisitionOfNonControllingInterests1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="AcquisitionOfNonControllingInterestsCheckbox"></input>
                    <input type="checkbox" id="AcquisitionOfNonControllingInterestsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AcquisitionOfNonControllingInterests1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AcquisitionOfNonControllingInterests2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AcquisitionOfNonControllingInterests3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AcquisitionOfNonControllingInterests4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AcquisitionOfNonControllingInterests5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AcquisitionOfNonControllingInterests6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id='NonControllingInterestsOthersRow' class="TrialBalance">
                <td colspan="2"><h6>Other Transactions Affecting Non Controlling Interests</h6></td>
                <td style="text-align:center"><button id="TrialBalanceNonControllingInterestsOthersShortCut" class="NonControllingInterestsOthers1"  data-page="AnnualTrialBalances" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">TB</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="ShareholdersEquityFiles" class="ShareholdersEquityFiles">{</button></td>
                <td>
                    <input type="checkbox" id="NonControllingInterestsOthersCheckbox"></input>
                    <input type="checkbox" id="NonControllingInterestsOthersCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="NonControllingInterestsOthers1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="NonControllingInterestsOthers2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="NonControllingInterestsOthers3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="NonControllingInterestsOthers4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="NonControllingInterestsOthers5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="NonControllingInterestsOthers6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="ComprehensiveIncomeShareholdersEquityRow" class="TrialBalance">
                <td colspan="2"><h6>Other Comprehensive Income (Loss)</h6></td>
                <td style="text-align:center"><button id="TrialBalanceComprehensiveIncomeShareholdersEquityShortCut" class="ComprehensiveIncomeShareholdersEquity1"  data-page="AnnualComprehensiveIncome" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CI</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OtherComprehensiveIncomeFiles" class="OtherComprehensiveIncomeFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ComprehensiveIncomeShareholdersEquityCheckbox"></input>
                    <input type="checkbox" id="ComprehensiveIncomeShareholdersEquityCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ComprehensiveIncomeShareholdersEquity1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ComprehensiveIncomeShareholdersEquity2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ComprehensiveIncomeShareholdersEquity3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ComprehensiveIncomeShareholdersEquity4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="ComprehensiveIncomeShareholdersEquity5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="ComprehensiveIncomeShareholdersEquity6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="NetIncomeLossShareholdersEquityRow" class="TrialBalance">
                <td colspan="2"><h6>Net Income (Loss)</h6></td>
                <td style="text-align:center"><button id="NetIncomeShortCut" class="NetIncomeLossShareholdersEquity1"  data-page="AnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">IS</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="NetIncomeLossShareholdersEquityCheckbox"></input>
                    <input type="checkbox" id="NetIncomeLossShareholdersEquityCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="NetIncomeLossShareholdersEquity1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="NetIncomeLossShareholdersEquity2" style="" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="NetIncomeLossShareholdersEquity3" style="" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="NetIncomeLossShareholdersEquity4" style="" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="NetIncomeLossShareholdersEquity5" style="" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="NetIncomeLossShareholdersEquity6" style="" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="ShareholdersEquityRow" class="TrialBalance">
                <td colspan="4"><h6><b>Total Shareholders' Equity</b></h6></td>
                <td>
                    <input type="checkbox" id="ShareholdersEquityCheckbox"></input>
                    <input type="checkbox" id="ShareholdersEquityCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ShareholdersEquity1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ShareholdersEquity2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ShareholdersEquity3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ShareholdersEquity4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ShareholdersEquity5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6' style="border-bottom:double black; border-top-style:ridge;"><input class='Clock' id="ShareholdersEquity6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="ShareholdersEquityReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="ShareholdersEquityReferenceCheckbox"></input>
                    <input type="checkbox" id="ShareholdersEquityReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="ShareholdersEquityReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="ShareholdersEquityReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="ShareholdersEquityReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="ShareholdersEquityReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="ShareholdersEquityReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="ShareholdersEquityReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">\</td>
                <td style="text-align:left;" colspan="20" >Prior Year</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">IS</td>
                <td style="text-align:left;" colspan="20" >Income Statements</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">TB</td>
                <td style="text-align:left;" colspan="20" >Trial Balance</td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>