<!--- ADDITIONNAL INFORMATION --->
<div id="AdditionalInformation" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameAdditionalInformation" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">ADDITIONAL INFORMATION</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateAdditionalInformation1" style="text-align:center;"></h5></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateAdditionalInformation2" style="text-align:center;"></h5></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateAdditionalInformation3" style="text-align:center;"></h5></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateAdditionalInformation4" style="text-align:center;"></h5></td>
                <td colspan='2' class='C5' style="padding-top: 21px;"><h5 id="DateAdditionalInformation5" style="text-align:center;"></h5></td>
                <td colspan='2' class='C6' style="padding-top: 21px;"><h5 id="DateAdditionalInformation6" style="text-align:center;"></h5></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan='5'></td>
                <td colspan='2' class='C1'><h5 id="AdditionalInformationAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="AdditionalInformationAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="AdditionalInformationAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="AdditionalInformationAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C5'><h5 id="AdditionalInformationAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C6'><h5 id="AdditionalInformationAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="AdditionalInformationFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="AdditionalInformationFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="AdditionalInformationFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="AdditionalInformationFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="AdditionalInformationFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C5' style="text-align:center"><a target="_blank" id="AdditionalInformationFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C6' style="text-align:center"><a target="_blank" id="AdditionalInformationFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr id="TargetWorkingCapitalRow" class="Proportion">
                <td colspan="2"><h6>Target Working Capital</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(a)</td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="TargetWorkingCapitalCheckbox"></input>
                    <input type="checkbox" id="TargetWorkingCapitalCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="TargetWorkingCapital1" style="font-weight:bold;" value = "{{ AuditData_lastyear.TargetWorkingCapital }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input id="TargetWorkingCapital2" value = "{{ AuditData_secondlastyear.TargetWorkingCapital }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input id="TargetWorkingCapital3" value = "{{ AuditData_thirdlastyear.TargetWorkingCapital }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="TargetWorkingCapital4" value = "{{ AuditData_fourthlastyear.TargetWorkingCapital }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="TargetWorkingCapital5" value = "{{ AuditData_fifthlastyear.TargetWorkingCapital }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input id="TargetWorkingCapital6" value = "{{ AuditData_sixthlastyear.TargetWorkingCapital }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="ReinvestmentOfMaintenanceRow" class="Opinion">
                <td colspan="2"><h6>Reinvestment Of Maintenance</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(b)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="ReinvestmentOfMaintenanceCheckbox"></input>
                    <input type="checkbox" id="ReinvestmentOfMaintenanceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="ReinvestmentOfMaintenance1" class='Clock' style="font-weight:bold;" value = "{{ AuditData_lastyear.ReinvestmentOfMaintenance }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input id="ReinvestmentOfMaintenance2" class='Clock' value = "{{ AuditData_secondlastyear.ReinvestmentOfMaintenance }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input id="ReinvestmentOfMaintenance3" class='Clock' value = "{{ AuditData_thirdlastyear.ReinvestmentOfMaintenance }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="ReinvestmentOfMaintenance4" class='Clock' value = "{{ AuditData_fourthlastyear.ReinvestmentOfMaintenance }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="ReinvestmentOfMaintenance5" class='Clock' value = "{{ AuditData_fifthlastyear.ReinvestmentOfMaintenance }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input id="ReinvestmentOfMaintenance6" class='Clock' value = "{{ AuditData_sixthlastyear.ReinvestmentOfMaintenance }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="TheoricalInterestRateRow" class="ClockRate">
                <td colspan="2"><h6>Theorical Interest Rate</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(c)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="TheoricalInterestRateCheckbox"></input>
                    <input type="checkbox" id="TheoricalInterestRateCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="TheoricalInterestRate1" value="0.035" class='ClockRate' style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input id="TheoricalInterestRate2" value="0.035" class='ClockRate' onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input id="TheoricalInterestRate3" value="0.035" class='ClockRate' onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="TheoricalInterestRate4" value="0.035" class='ClockRate' onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="TheoricalInterestRate5" value="0.035" class='ClockRate' onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input id="TheoricalInterestRate6" value="0.035" class='ClockRate' onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="TheoricalTaxRateRow" class="ClockRate">
                <td colspan="2"><h6>Theorical Tax Rate</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(d)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="TheoricalTaxRateCheckbox"></input>
                    <input type="checkbox" id="TheoricalTaxRateCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="TheoricalTaxRate1" class="ClockRate" style="font-weight:bold;" value = "{{ AuditData_lastyear.TheoricalTaxRate }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input id="TheoricalTaxRate2" class="ClockRate" value = "{{ AuditData_secondlastyear.TheoricalTaxRate }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input id="TheoricalTaxRate3" class="ClockRate" value = "{{ AuditData_thirdlastyear.TheoricalTaxRate }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="TheoricalTaxRate4" class="ClockRate" value = "{{ AuditData_fourthlastyear.TheoricalTaxRate }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="TheoricalTaxRate5" class="ClockRate" value = "{{ AuditData_fifthlastyear.TheoricalTaxRate }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input id="TheoricalTaxRate6" class="ClockRate" value = "{{ AuditData_sixthlastyear.TheoricalTaxRate }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="NormalizedDividendPaymentToNonControllingInterestsRow" class="Opinion">
                <td colspan="2"><h6>Dividend Payment To Non Controlling Interests</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(e)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="NormalizedDividendPaymentToNonControllingInterestsCheckbox"></input>
                    <input type="checkbox" id="NormalizedDividendPaymentToNonControllingInterestsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="NormalizedDividendPaymentToNonControllingInterests1" class='Clock' style="font-weight:bold;" value = "{{ AuditData_lastyear.NormalizedDividendPaymentToNonControllingInterests }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input id="NormalizedDividendPaymentToNonControllingInterests2" class='Clock' value = "{{ AuditData_secondlastyear.NormalizedDividendPaymentToNonControllingInterests }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input id="NormalizedDividendPaymentToNonControllingInterests3" class='Clock' value = "{{ AuditData_thirdlastyear.NormalizedDividendPaymentToNonControllingInterests }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="NormalizedDividendPaymentToNonControllingInterests4" class='Clock' value = "{{ AuditData_fourthlastyear.NormalizedDividendPaymentToNonControllingInterests }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="NormalizedDividendPaymentToNonControllingInterests5" class='Clock' value = "{{ AuditData_fifthlastyear.NormalizedDividendPaymentToNonControllingInterests }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input id="NormalizedDividendPaymentToNonControllingInterests6" class='Clock' value = "{{ AuditData_sixthlastyear.NormalizedDividendPaymentToNonControllingInterests }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="NormalizedDividendPaymentToPreferredShareholdersRow" class="Opinion">
                <td colspan="2"><h6>Dividend Payment To Preferred Shareholders'</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(f)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="NormalizedDividendPaymentToPreferredShareholdersCheckbox"></input>
                    <input type="checkbox" id="NormalizedDividendPaymentToPreferredShareholdersCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="NormalizedDividendPaymentToPreferredShareholders1" class='Clock' style="font-weight:bold;" value = "{{ AuditData_lastyear.NormalizedDividendPaymentToPreferredShareholders }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input id="NormalizedDividendPaymentToPreferredShareholders2" class='Clock' value = "{{ AuditData_secondlastyear.NormalizedDividendPaymentToPreferredShareholders }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input id="NormalizedDividendPaymentToPreferredShareholders3" class='Clock' value = "{{ AuditData_thirdlastyear.NormalizedDividendPaymentToPreferredShareholders }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="NormalizedDividendPaymentToPreferredShareholders4" class='Clock' value = "{{ AuditData_fourthlastyear.NormalizedDividendPaymentToPreferredShareholders }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="NormalizedDividendPaymentToPreferredShareholders5" class='Clock' value = "{{ AuditData_fifthlastyear.NormalizedDividendPaymentToPreferredShareholders }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input id="NormalizedDividendPaymentToPreferredShareholders6" class='Clock' value = "{{ AuditData_sixthlastyear.NormalizedDividendPaymentToPreferredShareholders }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="TotalAssetsExpectedReturnAIRow" class="ClockRate">
                <td colspan="2"><h6>Total Assets Expected Return</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(g)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="TotalAssetsExpectedReturnAICheckbox"></input>
                    <input type="checkbox" id="TotalAssetsExpectedReturnAICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="TotalAssetsExpectedReturnAI1" class="ClockRate" style="font-weight:bold;" value = 0.045 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input id="TotalAssetsExpectedReturnAI2" class="ClockRate" value = 0.045 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input id="TotalAssetsExpectedReturnAI3" class="ClockRate" value = 0.045 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="TotalAssetsExpectedReturnAI4" class="ClockRate" value = 0.045 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="TotalAssetsExpectedReturnAI5" class="ClockRate" value = 0.045 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input id="TotalAssetsExpectedReturnAI6" class="ClockRate" value = 0.045 onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="CapitalizationRateFloorRow" class="ClockRate">
                <td colspan="2"><h6>Capitalization Rates Floor</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(h)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CapitalizationRateFloorCheckbox"></input>
                    <input type="checkbox" id="CapitalizationRateFloorCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="CapitalizationRateFloor1" class="ClockRate" style="font-weight:bold;" value = "{{ AuditData_lastyear.CapitalizationRateFloor }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input id="CapitalizationRateFloor2" class="ClockRate" value = "{{ AuditData_secondlastyear.CapitalizationRateFloor }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input id="CapitalizationRateFloor3" class="ClockRate" value = "{{ AuditData_thirdlastyear.CapitalizationRateFloor }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="CapitalizationRateFloor4" class="ClockRate" value = "{{ AuditData_fourthlastyear.CapitalizationRateFloor }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="CapitalizationRateFloor5" class="ClockRate" value = "{{ AuditData_fifthlastyear.CapitalizationRateFloor }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input id="CapitalizationRateFloor6" class="ClockRate" value = "{{ AuditData_sixthlastyear.CapitalizationRateFloor }}" onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="AdditionalInformationReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="AdditionalInformationReferenceCheckbox"></input>
                    <input type="checkbox" id="AdditionalInformationReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="AdditionalInformationReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="AdditionalInformationReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="AdditionalInformationReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="AdditionalInformationReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="AdditionalInformationReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="AdditionalInformationReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(a)</td>
                <td style="text-align:justify;" colspan="20" ><b>Target Working Capital:</b>
                    For the purpose of computing the Excess (Insufficiant) Working Capital (Capitalized Cash Flow & Capitalized Income calculations).
                </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(b)</td>
                <td style="text-align:justify;" colspan="20" ><b>Reinvestment Of Maintenance:</b>
                    Average payments to acquire property, plant and equipments (by default, it's the three years prior average).
                </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(c)</td>
                <td style="text-align:justify;" colspan="20" ><b>Theorical Interest Charge:</b>
                    3.5% of debt, borrowings and obligations. We consider that any reduction
                    from 3.5% would result in an external risk factor due to economic instability.
                </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(d)</td>
                <td style="text-align:justify;" colspan="20" ><b>Theorical Tax Rate:</b>
                    Tax charge for the year, provided that it is in the range of 15 and 30%. Anything lower 
                    would result in risk for tax positions and dependence on a jurisdiction. Anything higher
                    is deemed attributable to the volatility of the effective tax rate between periods.
                </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(e)</td>
                <td style="text-align:justify;" colspan="20" ><b>Dividend Payment To Non Controlling Interests:</b>
                    Dividend payment to other than common shareholders are to be added back in the calculation of your cost of total assets for the purpose of finding your capitalization rate.
                </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(f)</td>
                <td style="text-align:justify;" colspan="20" ><b>Dividend Payment To Preferred Shareholders':</b>
                    Id.
                </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(g)</td>
                <td style="text-align:justify;" colspan="20" ><b>Total Assets Expected Return:</b>
                    Target return on all assets before factoring risk, growth and cost of financing otherwise accruing to common shareholders. By default, the expected return has been fixed to 4%. What is essential here is comparability.
                </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(h)</td>
                <td style="text-align:justify;" colspan="20" ><b>Capitalization Rates Floor:</b>
                    Lowest capitalization rate deemed reasonable.
                </td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>