<!--- CAPITALIZED INCOME --->
<div id="CapitalizedIncome" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameCapitalizedIncome" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">CAPITALIZED INCOME</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateCapitalizedIncome1" style="text-align:center;"></h5></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateCapitalizedIncome2" style="text-align:center;"></h5></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateCapitalizedIncome3" style="text-align:center;"></h5></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateCapitalizedIncome4" style="text-align:center;"></h5></td>
                <td colspan='2' class='C5' style="padding-top: 21px;"><h5 id="DateCapitalizedIncome5" style="text-align:center;"></h5></td>
                <td colspan='2' class='C6' style="padding-top: 21px;"><h5 id="DateCapitalizedIncome6" style="text-align:center;"></h5></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1'><h5 id="CapitalizedIncomeAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="CapitalizedIncomeAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="CapitalizedIncomeAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="CapitalizedIncomeAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C5'><h5 id="CapitalizedIncomeAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C6'><h5 id="CapitalizedIncomeAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="CapitalizedIncomeFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="CapitalizedIncomeFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="CapitalizedIncomeFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="CapitalizedIncomeFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="CapitalizedIncomeFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C5' style="text-align:center"><a target="_blank" id="CapitalizedIncomeFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C6' style="text-align:center"><a target="_blank" id="CapitalizedIncomeFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr id="OperatingIncomeCIRow" class="Opinion">
                <td colspan="2"><h6><b>Operating Income (Loss)</b></h6></td>
                <td style="text-align:center"><button id="OperatingIncomeShortCut" class="OperatingIncomeCI1" data-page="AnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">IS</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="OperatingIncomeCICheckbox"></input>
                    <input type="checkbox" id="OperatingIncomeCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="OperatingIncomeCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="OperatingIncomeCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="OperatingIncomeCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="OperatingIncomeCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="OperatingIncomeCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="OperatingIncomeCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="OthersCIRow" class="Opinion">
                <td colspan="2"><h6>Others</h6></td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="OthersCICheckbox"></input>
                    <input type="checkbox" id="OthersCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="OthersCI1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="OthersCI2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="OthersCI3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="OthersCI4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="OthersCI5" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="OthersCI6" onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="TaxesAdjustmentCIRow" class="Opinion">
                <td colspan="2"><h6>Taxes</h6></td>
                <td style="text-align:center"><button id="TheoricalTaxRateShortCut" class="TaxesAdjustmentCI1" data-page="AdditionalInformation" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">AI</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="TaxesAdjustmentCICheckbox"></input>
                    <input type="checkbox" id="TaxesAdjustmentCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="TaxesAdjustmentCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="TaxesAdjustmentCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="TaxesAdjustmentCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="TaxesAdjustmentCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="TaxesAdjustmentCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="TaxesAdjustmentCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="EquityMethodInvesteesIncomeCIRow" class="Opinion">
                <td colspan="2"><h6>Equity Method Investee's Income</h6></td>
                <td style="text-align:center"><button id="EquityMethodInvesteesIncomeShortCut" class="EquityMethodInvesteesIncomeCI1" data-page="AnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">IS</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="EquityMethodInvesteesIncomeCICheckbox"></input>
                    <input type="checkbox" id="EquityMethodInvesteesIncomeCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="EquityMethodInvesteesIncomeCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></td>
                <td colspan='2' class='C2'><input class='Clock' id="EquityMethodInvesteesIncomeCI2" onfocusout="Compile();" onchange="FormatCell();"></td>
                <td colspan='2' class='C3'><input class='Clock' id="EquityMethodInvesteesIncomeCI3" onfocusout="Compile();" onchange="FormatCell();"></td>
                <td colspan='2' class='C4'><input class='Clock' id="EquityMethodInvesteesIncomeCI4" onfocusout="Compile();" onchange="FormatCell();"></td>
                <td colspan='2' class='C5'><input class='Clock' id="EquityMethodInvesteesIncomeCI5" onfocusout="Compile();" onchange="FormatCell();"></td>
                <td colspan='2' class='C6'><input class='Clock' id="EquityMethodInvesteesIncomeCI6" onfocusout="Compile();" onchange="FormatCell();"></td>
            </tr>
            <tr id="NormalizedIncomeBeforeInterestCIRow" class="Opinion">
                <td colspan="2"><h6><b>Normalized Income</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(a)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="NormalizedIncomeBeforeInterestCICheckbox"></input>
                    <input type="checkbox" id="NormalizedIncomeBeforeInterestCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-top-style:ridge;"><input id="NormalizedIncomeBeforeInterestCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-top-style:ridge;"><input id="NormalizedIncomeBeforeInterestCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-top-style:ridge;"><input id="NormalizedIncomeBeforeInterestCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-top-style:ridge;"><input id="NormalizedIncomeBeforeInterestCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5' style="border-top-style:ridge;"><input id="NormalizedIncomeBeforeInterestCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6' style="border-top-style:ridge;"><input id="NormalizedIncomeBeforeInterestCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="WeightCIRow" class="OpinionThree">
                <td colspan="2"><h6><b>Weighted Importance</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(b)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="WeightCICheckbox"></input>
                    <input type="checkbox" id="WeightCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input class="Proportion" id="WeightCI1" style="font-weight:bold;" value="0.50" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class="Proportion" id="WeightCI2" value="0.31" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class="Proportion" id="WeightCI3" value="0.19" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="WeightCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="WeightCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="WeightCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="NormalizedWeightedIncomeBeforeInterestRow" class="Opinion">
                <td colspan="2"><h6><b>Normalized Weighted Net Income</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(c)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="NormalizedWeightedIncomeBeforeInterestCheckbox"></input>
                    <input type="checkbox" id="NormalizedWeightedIncomeBeforeInterestCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="NormalizedWeightedIncomeBeforeInterest1" value=0 style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="NormalizedWeightedIncomeBeforeInterest2" value=0  onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="NormalizedWeightedIncomeBeforeInterest3" value=0  onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="NormalizedWeightedIncomeBeforeInterest4" value=0  onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="NormalizedWeightedIncomeBeforeInterest5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="NormalizedWeightedIncomeBeforeInterest6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="OthersWeightedCIRow" class="OpinionFour">
                <td colspan="4"><h6>Others</h6></td>
                <td>
                    <input type="checkbox" id="OthersWeightedCICheckbox"></input>
                    <input type="checkbox" id="OthersWeightedCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input class='Clock' id="OthersWeightedCI1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class='Clock' id="OthersWeightedCI2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class='Clock' id="OthersWeightedCI3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge"><input class='Clock' id="OthersWeightedCI4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="OthersWeightedCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="OthersWeightedCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CharacteristicIncomeBeforeInterestAfterTaxesRow" class="OpinionFour">
                <td colspan="2"><h6><b>Characteristic Income Before Interest</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(d)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CharacteristicIncomeBeforeInterestAfterTaxesCheckbox"></input>
                    <input type="checkbox" id="CharacteristicIncomeBeforeInterestAfterTaxesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="CharacteristicIncomeBeforeInterestAfterTaxes1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="CharacteristicIncomeBeforeInterestAfterTaxes2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="CharacteristicIncomeBeforeInterestAfterTaxes3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="CharacteristicIncomeBeforeInterestAfterTaxes4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="CharacteristicIncomeBeforeInterestAfterTaxes5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="CharacteristicIncomeBeforeInterestAfterTaxes6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CapitalizationRateCIRow" class="OpinionFour">
                <td colspan="2"><h6><b>Capitalization Rates</b></h6></td>
                <td style="text-align:center"><button id="CapitalizationRatesShortCut" class="CapitalizationRateCI1" data-page="CapitalizationRates" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CR</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="CapitalizationRateCICheckbox"></input>
                    <input type="checkbox" id="CapitalizationRateCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge;"><input id="CapitalizationRateCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge;"><input id="CapitalizationRateCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge;"><input id="CapitalizationRateCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge;"><input id="CapitalizationRateCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="CapitalizationRateCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="CapitalizationRateCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxesRow" class="OpinionFour">
                <td colspan="2"><h6><b>Capitalized Characteristic Income</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(e)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxesCheckbox"></input>
                    <input type="checkbox" id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxes1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxes2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxes3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxes4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxes5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="CapitalizedCharacteristicIncomeBeforeInterestAfterTaxes6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="ExcessWorkingCapitalCIRow" class="OpinionFour">
                <td colspan="2"><h6>Excess (Insufficiancy) Working Capital</h6></td>
                <td style="text-align:center"><button id="ExcessWorkingCapitalCCFShortCut" class="ExcessWorkingCapitalCI1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CCF</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="ExcessWorkingCapitalCICheckbox"></input>
                    <input type="checkbox" id="ExcessWorkingCapitalCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ExcessWorkingCapitalCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ExcessWorkingCapitalCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ExcessWorkingCapitalCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ExcessWorkingCapitalCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="ExcessWorkingCapitalCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="ExcessWorkingCapitalCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="InvestmentsExcessAssetsCIRow" class="OpinionFour">
                <td colspan="2"><h6>Investments</h6></td>
                <td style="text-align:center"><button id="InvestmentsExcessAssetsCCFShortCut" class="InvestmentsExcessAssetsCI1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CCF</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="InvestmentsExcessAssetsCICheckbox"></input>
                    <input type="checkbox" id="InvestmentsExcessAssetsCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="InvestmentsExcessAssetsCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="InvestmentsExcessAssetsCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="InvestmentsExcessAssetsCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="InvestmentsExcessAssetsCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="InvestmentsExcessAssetsCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="InvestmentsExcessAssetsCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="DiscontinuedOperationsExcessAssetsCIRow" class="OpinionFour">
                <td colspan="2"><h6>Discontinued Operations</h6></td>
                <td style="text-align:center"><button id="DiscontinuedOperationsExcessAssetsCCFShortCut" class="DiscontinuedOperationsExcessAssetsCI1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CCF</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="DiscontinuedOperationsExcessAssetsCICheckbox"></input>
                    <input type="checkbox" id="DiscontinuedOperationsExcessAssetsCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="DiscontinuedOperationsExcessAssetsCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="DiscontinuedOperationsExcessAssetsCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="DiscontinuedOperationsExcessAssetsCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="DiscontinuedOperationsExcessAssetsCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="DiscontinuedOperationsExcessAssetsCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="DiscontinuedOperationsExcessAssetsCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCIRow" class="OpinionFour">
                <td colspan="2"><h6>Unrealized Capital Gain On Real Estate, Net Of Taxes</h6></td>
                <td style="text-align:center"><button id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCFShortCut" class="UnrealizedCapitalGainOnRealEstateNetOfTaxesCI1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CCF</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCICheckbox"></input>
                    <input type="checkbox" id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="PresentValueOfTaxProtectionCIRow" class="OpinionFour">
                <td colspan="2"><h6>Present Value Of Tax Protection</h6></td>                        
                <td style="text-align:center"><button id="PresentValueOfTaxProtectionCCFShortCut" class="PresentValueOfTaxProtectionCI1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CCF</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="PresentValueOfTaxProtectionCICheckbox"></input>
                    <input type="checkbox" id="PresentValueOfTaxProtectionCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="PresentValueOfTaxProtectionCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="PresentValueOfTaxProtectionCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="PresentValueOfTaxProtectionCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="PresentValueOfTaxProtectionCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="PresentValueOfTaxProtectionCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="PresentValueOfTaxProtectionCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="OthersCapitalizedCIRow" class="OpinionFour">
                <td colspan="3"><h6>Others</h6></td>
                <td></td>
                <td>
                    <input type="checkbox" id="OthersCapitalizedCICheckbox"></input>
                    <input type="checkbox" id="OthersCapitalizedCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input class='Clock' id="OthersCapitalizedCI1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class='Clock' id="OthersCapitalizedCI2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class='Clock' id="OthersCapitalizedCI3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge"><input class='Clock' id="OthersCapitalizedCI4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="OthersCapitalizedCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="OthersCapitalizedCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="BusinessValueCIRow" class="OpinionFour">
                <td colspan="2"><h6><b>Business Value</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(j)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="BusinessValueCICheckbox"></input>
                    <input type="checkbox" id="BusinessValueCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="BusinessValueCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="BusinessValueCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="BusinessValueCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="BusinessValueCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="BusinessValueCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="BusinessValueCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="TotalDebtAndLeaseObligationCIRow" class="OpinionFour">
                <td colspan="2"><h6><b>Long-Term Debt And Obligations</b></h6></td>
                <td style="text-align:center"><button id="TotalDebtAndLeaseObligationCCFShortCut" class="TotalDebtAndLeaseObligationCI1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CCF</button></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(k)</td>
                <td>
                    <input type="checkbox" id="TotalDebtAndLeaseObligationCICheckbox"></input>
                    <input type="checkbox" id="TotalDebtAndLeaseObligationCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input style="font-weight:bold;" class='Clock' id="TotalDebtAndLeaseObligationCI1" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class='Clock' id="TotalDebtAndLeaseObligationCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class='Clock' id="TotalDebtAndLeaseObligationCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge"><input class='Clock' id="TotalDebtAndLeaseObligationCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input  id="TotalDebtAndLeaseObligationCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input  id="TotalDebtAndLeaseObligationCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="ValueOfAllCategoryOfSharesCIRow" class="OpinionFour">
                <td colspan="2"><h6><b>Value Of All Category Of Shares</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(l)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="ValueOfAllCategoryOfSharesCICheckbox"></input>
                    <input type="checkbox" id="ValueOfAllCategoryOfSharesCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="ValueOfAllCategoryOfSharesCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="ValueOfAllCategoryOfSharesCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="ValueOfAllCategoryOfSharesCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="ValueOfAllCategoryOfSharesCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="ValueOfAllCategoryOfSharesCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="ValueOfAllCategoryOfSharesCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="ValueAccruingToPreferredShareholdersCIRow" class="OpinionFour">
                <td colspan="2"><h6>Value Accruing To Preferred Shareholders</h6></td>
                <td style="text-align:center"><button id="ValueAccruingToPreferredShareholdersCCFShortCut" class="ValueAccruingToPreferredShareholdersCI1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CCF</button></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(m)</td>
                <td>
                    <input type="checkbox" id="ValueAccruingToPreferredShareholdersCICheckbox"></input>
                    <input type="checkbox" id="ValueAccruingToPreferredShareholdersCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input class='Clock' id="ValueAccruingToPreferredShareholdersCI1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class='Clock' id="ValueAccruingToPreferredShareholdersCI2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class='Clock' id="ValueAccruingToPreferredShareholdersCI3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge"><input class='Clock' id="ValueAccruingToPreferredShareholdersCI4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input  id="ValueAccruingToPreferredShareholdersCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input  id="ValueAccruingToPreferredShareholdersCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CommonSharesValueCIRow" class="OpinionFour">
                <td colspan="2"><h6><b>Common Shares Fair Value</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(n)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CommonSharesValueCICheckbox"></input>
                    <input type="checkbox" id="CommonSharesValueCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black"><input style="font-weight:bold;" id="CommonSharesValueCI1" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black"><input id="CommonSharesValueCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black"><input id="CommonSharesValueCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black"><input id="CommonSharesValueCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="CommonSharesValueCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="CommonSharesValueCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr id="FairValueOfIdentifiableAssetsCIRow" class="OpinionFour">
                <td colspan="2"><h6><b>Fair Value Of Identifiable Assets</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(o)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="FairValueOfIdentifiableAssetsCICheckbox"></input>
                    <input type="checkbox" id="FairValueOfIdentifiableAssetsCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input class='Clock' id="FairValueOfIdentifiableAssetsCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class='Clock' id="FairValueOfIdentifiableAssetsCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class='Clock' id="FairValueOfIdentifiableAssetsCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge"><input class='Clock' id="FairValueOfIdentifiableAssetsCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="FairValueOfIdentifiableAssetsCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="FairValueOfIdentifiableAssetsCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="GoodwillFairValueCIRow" class="OpinionFour">
                <td colspan="2"><h6><b>Goodwill Fair Value</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(p)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="GoodwillFairValueCICheckbox"></input>
                    <input type="checkbox" id="GoodwillFairValueCICheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black;"><input id="GoodwillFairValueCI1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black;"><input id="GoodwillFairValueCI2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black;"><input id="GoodwillFairValueCI3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black;"><input id="GoodwillFairValueCI4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="GoodwillFairValueCI5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="GoodwillFairValueCI6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CapitalizedIncomeReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="CapitalizedIncomeReferenceCheckbox"></input>
                    <input type="checkbox" id="CapitalizedIncomeReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="CapitalizedIncomeReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="CapitalizedIncomeReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="CapitalizedIncomeReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="CapitalizedIncomeReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="CapitalizedIncomeReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="CapitalizedIncomeReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">AI</td>
                <td style="text-align:justify;" colspan="20" ><b>Additional Information</b></td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">CF</td>
                <td style="text-align:justify;" colspan="20" ><b>Cash Flow Statements</b></td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">CR</td>
                <td style="text-align:justify;" colspan="20" ><b>Capitalization Rates</b></td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">IS</td>
                <td style="text-align:justify;" colspan="20" ><b>Income Statements</b></td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(a)</td>
                <td style="text-align:justify;" colspan="20" ><b>Normalized Income: </b>Earnings before interest and after any activities that are not repeatable business functions.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(b)</td>
                <td style="text-align:justify;" colspan="20" ><b>Weighted Importance:</b> The relative importance given to each year in the net income before interest normalization process.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(c)</td>
                <td style="text-align:justify;" colspan="20" ><b>Normalized Weighted Income Before Interest:</b> The sum of the product of each normalized net income before interest by the weighted importance given to each period.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(d)</td>
                <td style="text-align:justify;" colspan="20" ><b>Characteristic Income Before Interest:</b> Representative net income for valuation purposes.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(e)</td>
                <td style="text-align:justify;" colspan="20" ><b>Capitalized Characteristic Income Before Interest:</b> The quotient of the representative net income by the capitalization rate.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(f)</td>
                <td style="text-align:justify;" colspan="20" ><b>Excess (Insufficiancy) Working Capital:</b> The excess of current assets over a factor of current liabilities required to maintain operating activities. By default the factor is set to 1.2 but might be different from one industry to another.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(g)</td>
                <td style="text-align:justify;" colspan="20" ><b>Excess Assets:</b> The value of assets not required for current operations, including investments and discontinued operations.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(h)</td>
                <td style="text-align:justify;" colspan="20" ><b>Unrealized Capital Gain On Real Estate, Net Of Taxes:</b> The non-materialized capital gain on assets that is not reflected in the costs and amortized costs of the financial statements.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(i)</td>
                <td style="text-align:justify;" colspan="20" ><b>Present Value Of Tax Protection:</b> Present value of future tax benefits. For reasons of availability of information, the present value of tax protection is valued at half the net deferred tax asset (liability).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(j)</td>
                <td style="text-align:justify;" colspan="20" ><b>Business Value:</b> Value of the company's total assets. </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(k)</td>
                <td style="text-align:justify;" colspan="20" ><b>Long-Term Debt And Operating Lease Obligations:</b> The value of amounts due long-term to contributors of funds who are not shareholders of the company.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(l)</td>
                <td style="text-align:justify;" colspan="20" ><b>Value Of All Category Of Shares:</b> The net asset value of the company.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(m)</td>
                <td style="text-align:justify;" colspan="20" ><b>Value Accruing To Preferred Shareholders:</b> The amount that would have to be paid to reimburse the preferred shareholders in full.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(n)</td>
                <td style="text-align:justify;" colspan="20" ><b>Common Shares Fair Value:</b> Net asset value after considreation of value accruing to preferred and minority shareholders.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(o)</td>
                <td style="text-align:justify;" colspan="20" ><b>Fair Value Of Identifiable Assets:</b> The sum of commercial value of each asset that could be separetely disposed of.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(p)</td>
                <td style="text-align:justify;" colspan="20" ><b>Goodwill Fair Value:</b> Excess of intrinsic value over the fair value of net identifiable assets. </td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>