<!--- FINANCIAL RATIOS --->
<div id="FinancialRatios" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameFinancialRatios" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">FINANCIAL RATIOS</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateRatios1" style="text-align:center;"></h4></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateRatios2" style="text-align:center;"></h4></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateRatios3" style="text-align:center;"></h4></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateRatios4" style="text-align:center;"></h4></td>
                <td colspan='2' class='C5' style="padding-top: 21px;"><h5 id="DateRatios5" style="text-align:center;"></h4></td>
                <td colspan='2' class='C6' style="padding-top: 21px;"><h5 id="DateRatios6" style="text-align:center;"></h4></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1'><h5 id="RatiosAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="RatiosAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="RatiosAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="RatiosAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C5'><h5 id="RatiosAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C6'><h5 id="RatiosAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="RatiosFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="RatiosFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="RatiosFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="RatiosFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="RatiosFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C5' style="text-align:center"><a target="_blank" id="RatiosFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C6' style="text-align:center"><a target="_blank" id="RatiosFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1'><h6 style="text-align: center;" id='SharePriceUpdateRatio'></h6></td>
            </tr>
            <tr></tr>
            <tr></tr>
            </tr>
            <tr>
                <td colspan="4"><h5 style="margin-left:0px; padding-top: 25px; padding-bottom: 15px">Market Value</h5>
            </tr>
            <tr id="PERow" class="Proportion">
                <td colspan="2"><h6>Price / Earnings</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(a)</td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="PECheckbox"></input>
                    <input type="checkbox" id="PECheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="PE1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="PE2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="PE3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="PE4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="PE5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="PE6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="MarketToBookRow" class="Proportion">
                <td colspan="2"><h6>Market / Book</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(b)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="MarketToBookCheckbox"></input>
                    <input type="checkbox" id="MarketToBookCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="MarketToBook1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="MarketToBook2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="MarketToBook3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="MarketToBook4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="MarketToBook5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="MarketToBook6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="4"><h5 style="margin-left:0px; padding-top: 21px;">Profitability & Growth</h5></td>
            </tr>
            <tr></tr>
            <tr id="ReturnOnEquityRow" class="ClockRate">
                <td colspan="2"><h6>Return on Equity</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(c)</td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="ReturnOnEquityCheckbox"></input>
                    <input type="checkbox" id="ReturnOnEquityCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="ReturnOnEquity1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="ReturnOnEquity2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="ReturnOnEquity3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="ReturnOnEquity4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="ReturnOnEquity5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="ReturnOnEquity6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="ReturnOnAssetsRow" class="ClockRate">
                <td colspan="2"><h6>Return on Assets</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(d)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="ReturnOnAssetsCheckbox"></input>
                    <input type="checkbox" id="ReturnOnAssetsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="ReturnOnAssets1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="ReturnOnAssets2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="ReturnOnAssets3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="ReturnOnAssets4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="ReturnOnAssets5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="ReturnOnAssets6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="ProfitMarginRow" class="ClockRate">
                <td colspan="2"><h6>Profit Margin</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(e)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="ProfitMarginCheckbox"></input>
                    <input type="checkbox" id="ProfitMarginCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="ProfitMargin1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="ProfitMargin2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="ProfitMargin3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="ProfitMargin4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="ProfitMargin5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="ProfitMargin6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="OperatingMarginRow" class="ClockRate">
                <td colspan="2"><h6>Operating Margin</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(f)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="OperatingMarginCheckbox"></input>
                    <input type="checkbox" id="OperatingMarginCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="OperatingMargin1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="OperatingMargin2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="OperatingMargin3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="OperatingMargin4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="OperatingMargin5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="OperatingMargin6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>  
            <tr id="DividendPaymentsRow" class="ClockRate">
                <td colspan="2"><h6>Dividend Payments</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(g)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="DividendPaymentsCheckbox"></input>
                    <input type="checkbox" id="DividendPaymentsCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="DividendPayments1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="DividendPayments2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="DividendPayments3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="DividendPayments4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="DividendPayments5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="DividendPayments6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>  
            <tr id="EarningsRetentionRow" class="ClockRate">
                <td colspan="2"><h6>Earnings Retention</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(h)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="EarningsRetentionCheckbox"></input>
                    <input type="checkbox" id="EarningsRetentionCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="EarningsRetention1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="EarningsRetention2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="EarningsRetention3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="EarningsRetention4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="EarningsRetention5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="EarningsRetention6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>    
            <tr id="BasicEarningPowerRow" class="ClockRate">
                <td colspan="2"><h6>Basic Earning Power</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(i)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="BasicEarningPowerCheckbox"></input>
                    <input type="checkbox" id="BasicEarningPowerCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="BasicEarningPower1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="BasicEarningPower2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="BasicEarningPower3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="BasicEarningPower4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="BasicEarningPower5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="BasicEarningPower6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2"><h5 style="margin-left:0px; padding-top: 21px;">Leverage</h5></td>
            </tr>
            <tr></tr>
            <tr id="DebtToEquityRow" class="Proportion">
                <td colspan="2"><h6>Debt-to-Equity</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(j)</td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="DebtToEquityCheckbox"></input>
                    <input type="checkbox" id="DebtToEquityCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="DebtToEquity1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="DebtToEquity2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="DebtToEquity3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="DebtToEquity4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="DebtToEquity5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="DebtToEquity6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="EquityMultiplierRow" class="Proportion">
                <td colspan="2"><h6>Equity Multiplier</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(k)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="EquityMultiplierCheckbox"></input>
                    <input type="checkbox" id="EquityMultiplierCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="EquityMultiplier1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="EquityMultiplier2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="EquityMultiplier3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="EquityMultiplier4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="EquityMultiplier5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="EquityMultiplier6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="DuPontRow" class="Proportion">
                <td colspan="2"><h6>DuPont</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(l)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="DuPontCheckbox"></input>
                    <input type="checkbox" id="DuPontCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="DuPont1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="DuPont2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="DuPont3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="DuPont4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="DuPont5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="DuPont6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="DegreeOfFinancialLeverageRow" class="Proportion">
                <td colspan="2"><h6>Degree Of Financial Leverage</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(m)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="DegreeOfFinancialLeverageCheckbox"></input>
                    <input type="checkbox" id="DegreeOfFinancialLeverageCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="DegreeOfFinancialLeverage1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="DegreeOfFinancialLeverage2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="DegreeOfFinancialLeverage3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="DegreeOfFinancialLeverage4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="DegreeOfFinancialLeverage5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="DegreeOfFinancialLeverage6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="DebtToEBITDARow" class="Proportion">
                <td colspan="2"><h6>Debt-To-EBITDA</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(n)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="DebtToEBITDACheckbox"></input>
                    <input type="checkbox" id="DebtToEBITDACheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="DebtToEBITDA1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="DebtToEBITDA2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="DebtToEBITDA3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="DebtToEBITDA4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="DebtToEBITDA5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="DebtToEBITDA6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="InterestCoverageRow" class="Proportion">
                <td colspan="2"><h6>Interest Coverage</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(o)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="InterestCoverageCheckbox"></input>
                    <input type="checkbox" id="InterestCoverageCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="InterestCoverage1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="InterestCoverage2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="InterestCoverage3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="InterestCoverage4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="InterestCoverage5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="InterestCoverage6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="FixedChargeCoverageRow" class="Proportion">
                <td colspan="2"><h6>Fixed-Charge Coverage</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(p)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="FixedChargeCoverageCheckbox"></input>
                    <input type="checkbox" id="FixedChargeCoverageCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="FixedChargeCoverage1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="FixedChargeCoverage2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="FixedChargeCoverage3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="FixedChargeCoverage4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="FixedChargeCoverage5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="FixedChargeCoverage6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2"><h5 style="margin-left:0px; padding-top: 21px;">Liquidity</h5></td>
            </tr>
            <tr></tr>
            <tr id="CurrentRow" class="ClockRate">
                <td colspan="2"><h6>Current</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(q)</td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="CurrentCheckbox"></input>
                    <input type="checkbox" id="CurrentCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="Current1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="Current2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="Current3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="Current4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="Current5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="Current6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="QuickRow" class="ClockRate">
                <td colspan="2"><h6>Quick</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(r)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="QuickCheckbox"></input>
                    <input type="checkbox" id="QuickCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="Quick1" class="ClockRate" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="Quick2" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="Quick3" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="Quick4" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="Quick5" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="Quick6" class="ClockRate" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="2"><h5 style="margin-left:0px; padding-top: 21px;">Operating</h5></td>
            </tr>
            <tr></tr>
            <tr id="InventoryTurnoverRow" class="Proportion">
                <td colspan="2"><h6>Inventory Turnover</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(s)</td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="InventoryTurnoverCheckbox"></input>
                    <input type="checkbox" id="InventoryTurnoverCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="InventoryTurnover1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="InventoryTurnover2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="InventoryTurnover3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="InventoryTurnover4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="InventoryTurnover5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="InventoryTurnover6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="DaysOfInventoryOnHandRow" class="Proportion">
                <td colspan="2"><h6>Days Of Inventory On Hand</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(t)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="DaysOfInventoryOnHandCheckbox"></input>
                    <input type="checkbox" id="DaysOfInventoryOnHandCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="DaysOfInventoryOnHand1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="DaysOfInventoryOnHand2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="DaysOfInventoryOnHand3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="DaysOfInventoryOnHand4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="DaysOfInventoryOnHand5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="DaysOfInventoryOnHand6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="NumberOfDaysPayableRow" class="Proportion">
                <td colspan="2"><h6>Number of Days Payable Outstanding</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(u)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="NumberOfDaysPayableCheckbox"></input>
                    <input type="checkbox" id="NumberOfDaysPayableCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="NumberOfDaysPayable1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="NumberOfDaysPayable2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="NumberOfDaysPayable3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="NumberOfDaysPayable4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="NumberOfDaysPayable5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="NumberOfDaysPayable6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="FixedAssetsTurnoverRow" class="Proportion">
                <td colspan="2"><h6>Fixed Assets Turnover</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(v)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="FixedAssetsTurnoverCheckbox"></input>
                    <input type="checkbox" id="FixedAssetsTurnoverCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="FixedAssetsTurnover1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="FixedAssetsTurnover2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="FixedAssetsTurnover3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="FixedAssetsTurnover4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="FixedAssetsTurnover5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="FixedAssetsTurnover6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="TotalAssetsTurnoverRow" class="Proportion">
                <td colspan="2"><h6>Total Asset Turnover</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(w)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="TotalAssetsTurnoverCheckbox"></input>
                    <input type="checkbox" id="TotalAssetsTurnoverCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="TotalAssetsTurnover1" class="Proportion" style="font-weight:bold; text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="TotalAssetsTurnover2" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="TotalAssetsTurnover3" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="TotalAssetsTurnover4" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="TotalAssetsTurnover5" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="TotalAssetsTurnover6" class="Proportion" style="text-align:right;" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="FinancialRatiosReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="FinancialRatiosReferenceCheckbox"></input>
                    <input type="checkbox" id="FinancialRatiosReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="FinancialRatiosReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="FinancialRatiosReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="FinancialRatiosReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="FinancialRatiosReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="FinancialRatiosReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="FinancialRatiosReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(a)</td>
                <td style="text-align:justify;" colspan="20" ><b>Price / Earnings:</b> The price-earnings ratio (P/E ratio) relates a company's share price to its earnings per share. A high P/E ratio could mean that a company's Share is over-valued, or else that investors are expecting high growth rates in the future.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(b)</td>
                <td style="text-align:justify;" colspan="20" ><b>Market / Book:</b> The Market to Book ratio (also called the Price to Book ratio), is a financial valuation metric used to evaluate a company’s current market value relative to its book value. The market value is the current share price of all outstanding shares (i.e. the price that the market believes the company is worth).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(c)</td>
                <td style="text-align:justify;" colspan="20" ><b>Return on Equity:</b> The return on equity (ROE) is a measure of the profitability of a business in relation to the equity. Because shareholder's equity can be calculated by taking all assets and subtracting all liabilities, ROE can also be thought of as a return on assets minus liabilities. ROE measures how many dollars of profit are generated for each dollar of shareholder's equity. ROE is a metric of how well the company utilizes its equity to generate profits.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(d)</td>
                <td style="text-align:justify;" colspan="20" ><b>Return on Assets:</b> Return on Assets (ROA) is an indicator of how well a company utilizes its assets, by determining how profitable a company is relative to its total assets. ROA is best used when comparing similar companies or comparing a company to its previous performance.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(e)</td>
                <td style="text-align:justify;" colspan="20" ><b>Profit Margin:</b> Profit margin refers to the revenue a company makes after paying COGS. The profit margin is calculated by taking revenue minus the cost of goods sold. However, the difference is shown as a percentage of revenue. The percentage of revenue that is gross profit is found by dividing the gross profit by revenue.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(f)</td>
                <td style="text-align:justify;" colspan="20" ><b>Operating Margin:</b> Operating profit margin is a profitability ratio that investors and analysts use to evaluate a company's ability to turn a dollar of revenue into a dollar of profit after accounting for expenses. In other words, operating margin is the percentage of revenue left over after accounting for expenses.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(g)</td>
                <td style="text-align:justify;" colspan="20" ><b>Dividend Payments:</b> The dividend payout ratio is the ratio of the total amount of dividends paid out to shareholders relative to the net income of the company. It is the percentage of earnings paid to shareholders in dividends. The amount that is not paid to shareholders is retained by the company to pay off debt or to reinvest in core operations.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(h)</td>
                <td style="text-align:justify;" colspan="20" ><b>Earnings Retention:</b> The retention ratio is the portion of earnings kept back in a firm to grow the business as opposed to being paid out as dividends to shareholders. The payout ratio is the opposite of the retention ratio which measures the percentage of profits paid out as dividends to shareholders.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(i)</td>
                <td style="text-align:justify;" colspan="20" ><b>Basic Earning Power:</b> The Basics Earning Power Formula The Basic Earning Power (BEP) Formula, which is also referred to as the Basic Earning Power Ratio, is as follows: Basic Earning Power = Earnings Before Interest and Taxes (EBIT)/Total Assets</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(j)</td>
                <td style="text-align:justify;" colspan="20" ><b>Debt-To-Equity:</b> The debt-to-equity (D/E) ratio is calculated by dividing a company’s total liabilities by its shareholder equity. These numbers are available on the balance sheet of a company’s financial statements. The ratio is used to evaluate a company's financial leverage. The D/E ratio is an important metric used in corporate finance.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(k)</td>
                <td style="text-align:justify;" colspan="20" ><b>Equity Multiplier:</b> The equity multiplier is a risk indicator that measures the portion of a company’s assets that is financed by shareholders' equity rather than by debt. It is calculated by dividing a company's total asset value by its total shareholders' equity.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(l)</td>
                <td style="text-align:justify;" colspan="20" ><b>DuPont:</b> The DuPont analysis (also known as the DuPont identity or DuPont model) is a framework for analyzing fundamental performance popularized by the DuPont Corporation. DuPont analysis is a useful technique used to decompose the different drivers of return on equity (ROE). The decomposition of ROE allows investors to focus on the key metrics of financial performance individually to identify strengths and weaknesses.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(m)</td>
                <td style="text-align:justify;" colspan="20" ><b>Degree Of Financial Leverage:</b> A degree of financial leverage (DFL) is a leverage ratio that measures the sensitivity of a company’s earnings per share (EPS) to fluctuations in its operating income, as a result of changes in its capital structure. The degree of financial leverage (DFL) measures the percentage change in EPS for a unit change in operating income, also known as earnings before interest and taxes (EBIT).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(n)</td>
                <td style="text-align:justify;" colspan="20" ><b>Debt-To-EBITDA:</b> The net debt-to- EBITDA (earnings before interest depreciation and amortization) ratio is a measurement of leverage, calculated as a company's interest-bearing liabilities minus cash or cash equivalents, divided by its EBITDA.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(o)</td>
                <td style="text-align:justify;" colspan="20" ><b>Interest Coverage:</b> The interest coverage ratio is a debt ratio and profitability ratio used to determine how easily a company can pay interest on its outstanding debt. The interest coverage ratio may be calculated by dividing a company's earnings before interest and taxes (EBIT) by its interest expense during a given period by the company's interest payments due within the same period.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(p)</td>
                <td style="text-align:justify;" colspan="20" ><b>Fixed-Charge Coverage:</b> The fixed-charge coverage ratio (FCCR) shows how well a company's earnings can be used to cover its fixed charges such as rent, utilities, and debt payments. Lenders often use the fixed-charge coverage ratio to assess a company's overall creditworthiness.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(q)</td>
                <td style="text-align:justify;" colspan="20" ><b>Liquidity Current:</b> The current ratio is a liquidity ratio that measures a company's ability to pay short-term obligations or those due within one year. It tells investors and analysts how a company can maximize the current assets on its balance sheet to satisfy its current debt and other payables.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(r)</td>
                <td style="text-align:justify;" colspan="20" ><b>Liquidity Quick:</b> Quick liquidity ratio is the total amount of a company’s quick assets divided by the sum of its net liabilities and its reinsurance liabilities. Quick assets are liquid assets such as cash, short-term investments, equities, and corporate and government bonds nearing maturity.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(s)</td>
                <td style="text-align:justify;" colspan="20" ><b>Inventory Turnover:</b> The inventory turnover ratio is an effective measure of how well a company is turning its inventory into sales. The ratio also shows how well management is managing the costs associated with inventory and whether they're buying too much inventory or too little. Additionally, inventory turnover shows how well the company sells its goods.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(t)</td>
                <td style="text-align:justify;" colspan="20" ><b>Days Of Inventory On Hand:</b> Days’ Inventory on Hand Ratio Days’ inventory on hand (also called days’ sales in inventory or simply days of inventory) is an accounting ratio which measures the number of days a company takes to sell its average balance of inventory. It is also an estimate of the number of days for which the average balance of inventory will be sufficient.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(u)</td>
                <td style="text-align:justify;" colspan="20" ><b>Number Of Days Payable:</b> Days payable outstanding (DPO) is a financial ratio that indicates the average time (in days) that a company takes to pay its bills and invoices to its trade creditors, which may include suppliers, vendors, or financiers. The ratio is typically calculated on a quarterly or annual basis, and indicates how well the company’s cash outflows are being managed.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(v)</td>
                <td style="text-align:justify;" colspan="20" ><b>Fixed Assets Turnover:</b> The fixed asset turnover ratio (FAT) is, in general, used by analysts to measure operating performance. This efficiency ratio compares net sales (income statement) to fixed assets (balance sheet) and measures a company's ability to generate net sales from its fixed-asset investments, namely property, plant, and equipment (PP&E).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top">(w)</td>
                <td style="text-align:justify;" colspan="20" ><b>Total Asset Turnover:</b> Asset turnover is the ratio of total sales or revenue to average assets. This metric helps investors understand how effectively companies are using their assets to generate sales. Investors use the asset turnover ratio to compare similar companies in the same sector or group.</td>
            </tr>
            <tr></tr>
            <tr>
                <td></td>
                <td style="text-align:justify;" colspan="20">
                    <a href="https://www.investopedia.com" target="_blank">
                        <h6>Definitions from Investopedia.</h6>
                    </a> 
                    All Interest Charge is theorical for reasons of availability and comparability of information. 
                </td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>
