<!--- GRAPH --->
<div id="Graph" style="display: none" class="card p-4 align-items-start">
    <table class='margin'>
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameGraph" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">GRAPH</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr>
                <td style='text-align:center;'>
                    <canvas id='LineChart'></canvas>
                </td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>
