<!--- INTRINSIC VALUES --->
<div id="IntrinsicValues" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameIntrinsicValues" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">INTRINSIC VALUES</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td colspan="5"></td>
                <script>
                    function DateIntrinsicValues(DateIntrinsicValues) {
                        document.getElementById('DateIntrinsicValues1').innerHTML = document.getElementById('ContextDate1').value;
                        document.getElementById('DateIntrinsicValues2').innerHTML = document.getElementById('ContextDate2').value;
                        document.getElementById('DateIntrinsicValues3').innerHTML = document.getElementById('ContextDate3').value;
                        document.getElementById('DateIntrinsicValues4').innerHTML = document.getElementById('ContextDate4').value;
                        document.getElementById('DateIntrinsicValues5').innerHTML = document.getElementById('ContextDate5').value;
                        document.getElementById('DateIntrinsicValues6').innerHTML = document.getElementById('ContextDate6').value;
                    };
                </script>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateIntrinsicValues1" style="text-align:center;"></h5></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateIntrinsicValues2" style="text-align:center;"></h5></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateIntrinsicValues3" style="text-align:center;"></h5></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateIntrinsicValues4" style="text-align:center;"></h5></td>
                <td colspan='2' class='D5' style="padding-top: 21px; display:none;"><h5 id="DateIntrinsicValues5" style="text-align:center;"></h5></td>
                <td colspan='2' class='D6' style="padding-top: 21px; display:none;"><h5 id="DateIntrinsicValues6" style="text-align:center;"></h5></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan='3'></td>
                <script>
                    function IntrinsicValuesAmend(IntrinsicValuesAmend) {
                        document.getElementById('IntrinsicValuesAmend1').innerHTML = document.getElementById('Amend1').value;
                        document.getElementById('IntrinsicValuesAmend2').innerHTML = document.getElementById('Amend2').value;
                        document.getElementById('IntrinsicValuesAmend3').innerHTML = document.getElementById('Amend3').value;
                        document.getElementById('IntrinsicValuesAmend4').innerHTML = document.getElementById('Amend4').value;
                        document.getElementById('IntrinsicValuesAmend5').innerHTML = document.getElementById('Amend5').value;
                        document.getElementById('IntrinsicValuesAmend6').innerHTML = document.getElementById('Amend6').value;
                    };
                </script>
                <td colspan='2' class='C1'><h5 id="IntrinsicValuesAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="IntrinsicValuesAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="IntrinsicValuesAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="IntrinsicValuesAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='D5' style="display:none;"><h5 id="IntrinsicValuesAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='D6' style="display:none;"><h5 id="IntrinsicValuesAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="IntrinsicValuesFilingsRow" class="Filings">
                <td colspan='5'></td>
                <script>
                    function FilingsHrefIntrinsicValues() {
                        document.getElementById('IntrinsicValuesFilings1').href = document.getElementById('Filings1').href
                        document.getElementById('IntrinsicValuesFilings2').href = document.getElementById('Filings2').href
                        document.getElementById('IntrinsicValuesFilings3').href = document.getElementById('Filings3').href
                        document.getElementById('IntrinsicValuesFilings4').href = document.getElementById('Filings4').href
                        document.getElementById('IntrinsicValuesFilings5').href = document.getElementById('Filings5').href
                        document.getElementById('IntrinsicValuesFilings6').href = document.getElementById('Filings6').href
                    }
                </script>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="IntrinsicValuesFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="IntrinsicValuesFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="IntrinsicValuesFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="IntrinsicValuesFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='D5' style="text-align:center; display:none;"><a target="_blank" id="IntrinsicValuesFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='D6' style="text-align:center; display:none;"><a target="_blank" id="IntrinsicValuesFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr id="IntrinsicValuesCCFRow" class="OpinionFour">
                <td colspan="2"><h5 style="margin-left:0px;">Capitalized Cash Flow</h5></td>
                <td style="text-align:center"><button id="CommonSharesValueCCFShortCut" class="IntrinsicValuesCCF1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white; margin-left:0px;">CCF</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="IntrinsicValuesCCFCheckbox"></input>
                    <input type="checkbox" id="IntrinsicValuesCCFCheckbox2"></input>
                </td>
                <script>
                    function BalanceIntrinsicValuesCCF(BalanceIntrinsicValuesCCF) {
                        var numUSD = new Intl.NumberFormat("en-US", {
                                format: "number"
                        })
                        // Column 1
                        a = parseInt(document.getElementById('CommonSharesValueCCF1').value.replaceAll(/,/g, ''));
                        document.getElementById('IntrinsicValuesCCF1').value = numUSD.format(a);
                        // Column 2
                        a = parseInt(document.getElementById('CommonSharesValueCCF2').value.replaceAll(/,/g, ''));
                        document.getElementById('IntrinsicValuesCCF2').value = numUSD.format(a);
                        // Column 3
                        a = parseInt(document.getElementById('CommonSharesValueCCF3').value.replaceAll(/,/g, ''));
                        document.getElementById('IntrinsicValuesCCF3').value = numUSD.format(a);
                        // Column 4
                        a = parseInt(document.getElementById('CommonSharesValueCCF4').value.replaceAll(/,/g, ''));
                        document.getElementById('IntrinsicValuesCCF4').value = numUSD.format(a);
                    };
                </script>
                <td colspan='2' class='C1'><input id="IntrinsicValuesCCF1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="IntrinsicValuesCCF2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="IntrinsicValuesCCF3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="IntrinsicValuesCCF4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="IntrinsicValuesCCF5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="IntrinsicValuesCCF6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="GoodwillFairValueCCFIVRow" class="OpinionFour">
                <td colspan="2" style='text-align: left;'>Goodwill Fair Value</td>
                <td style="text-align:center"><button id="GoodwillFairValueCCFShortCut" class="GoodwillFairValueCCFIV1" data-page="CapitalizedCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CCF</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="GoodwillFairValueCCFIVCheckbox"></input>
                    <input type="checkbox" id="GoodwillFairValueCCFIVCheckbox2"></input>
                </td>
                <script>
                    function BalanceGoowillFairValueCCF(BalanceGoowillFairValueCCF) {
                        var numUSD = new Intl.NumberFormat("en-US", {
                                format: "number"
                        })
                        // Column 1
                        a = parseInt(document.getElementById('GoodwillFairValueCCF1').value.replaceAll(/,/g, ''));
                        document.getElementById('GoodwillFairValueCCFIV1').value = numUSD.format(a);
                        // Column 2
                        a = parseInt(document.getElementById('GoodwillFairValueCCF2').value.replaceAll(/,/g, ''));
                        document.getElementById('GoodwillFairValueCCFIV2').value = numUSD.format(a);
                        // Column 3
                        a = parseInt(document.getElementById('GoodwillFairValueCCF3').value.replaceAll(/,/g, ''));
                        document.getElementById('GoodwillFairValueCCFIV3').value = numUSD.format(a);
                        // Column 4
                        a = parseInt(document.getElementById('GoodwillFairValueCCF4').value.replaceAll(/,/g, ''));
                        document.getElementById('GoodwillFairValueCCFIV4').value = numUSD.format(a);
                    };
                </script>
                <td colspan='2' class='C1'><input id="GoodwillFairValueCCFIV1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="GoodwillFairValueCCFIV2"  onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="GoodwillFairValueCCFIV3"  onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="GoodwillFairValueCCFIV4"  onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="GoodwillFairValueCCFIV5"  onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="GoodwillFairValueCCFIV6"  onfocusout="Compile()"></input></td>
            </tr>
            <tr id="WeightCCFIVRow" class="Proportion">
                <td colspan="2" style='text-align: left;'>Weighted Importance Of The Method</td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;"></td>
                <td></td>
                <td>
                    <input type="checkbox" id="WeightCCFIVCheckbox"></input>
                    <input type="checkbox" id="WeightCCFIVCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class="Proportion" id="WeightCCFIV1" value=3 style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input class="Proportion" id="WeightCCFIV2" value=3 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input class="Proportion" id="WeightCCFIV3" value=3 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input class="Proportion" id="WeightCCFIV4" value=3 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="WeightCCFIV5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="WeightCCFIV6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="IntrinsicValuesCIRow" class="OpinionFour">
                <td colspan="2"><h5 style="margin-left:0px;">Capitalized Income</h5></td>
                <td style="text-align:center"><button id="CommonSharesValueCIShortCut" class="IntrinsicValuesCI1" data-page="CapitalizedIncome" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white; margin-left:0px;">CI</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="IntrinsicValuesCICheckbox"></input>
                    <input type="checkbox" id="IntrinsicValuesCICheckbox2"></input>
                </td>
                <script>
                    function BalanceIntrinsicValuesCI(BalanceIntrinsicValuesCI) {
                        var numUSD = new Intl.NumberFormat("en-US", {
                            format: "number"
                        })
                        // Column 1
                        a = parseInt(document.getElementById('CommonSharesValueCI1').value.replaceAll(/,/g, ''));
                        document.getElementById('IntrinsicValuesCI1').value = numUSD.format(a);
                        // Column 2
                        a = parseInt(document.getElementById('CommonSharesValueCI2').value.replaceAll(/,/g, ''));
                        document.getElementById('IntrinsicValuesCI2').value = numUSD.format(a);
                        // Column 3
                        a = parseInt(document.getElementById('CommonSharesValueCI3').value.replaceAll(/,/g, ''));
                        document.getElementById('IntrinsicValuesCI3').value = numUSD.format(a);
                        // Column 4
                        a = parseInt(document.getElementById('CommonSharesValueCI4').value.replaceAll(/,/g, ''));
                        document.getElementById('IntrinsicValuesCI4').value = numUSD.format(a);
                    };
                </script>
                <td colspan='2' class='C1'><input id="IntrinsicValuesCI1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="IntrinsicValuesCI2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="IntrinsicValuesCI3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="IntrinsicValuesCI4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="IntrinsicValuesCI5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="IntrinsicValuesCI6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="GoodwillFairValueCIIVRow" class="OpinionFour">
                <td colspan="2" style='text-align: left;'>Goodwill Fair Value</td>
                <td style="text-align:center"><button id="GoodwillFairValueCIShortCut" class="GoodwillFairValueCIIV1" data-page="CapitalizedIncome" style="text-align:center; font-weight:bold; width: 75%; box-shadow: none; background-color: white;">CI</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="GoodwillFairValueCIIVCheckbox"></input>
                    <input type="checkbox" id="GoodwillFairValueCIIVCheckbox2"></input>
                </td>
                <script>
                    function BalanceGoowillFairValueCI(BalanceGoowillFairValueCI) {
                        var numUSD = new Intl.NumberFormat("en-US", {
                            format: "number"
                        })
                        // Column 1
                        a = parseInt(document.getElementById('GoodwillFairValueCI1').value.replaceAll(/,/g, ''));
                        document.getElementById('GoodwillFairValueCIIV1').value = numUSD.format(a);
                        // Column 2
                        a = parseInt(document.getElementById('GoodwillFairValueCI2').value.replaceAll(/,/g, ''));
                        document.getElementById('GoodwillFairValueCIIV2').value = numUSD.format(a);
                        // Column 3
                        a = parseInt(document.getElementById('GoodwillFairValueCI3').value.replaceAll(/,/g, ''));
                        document.getElementById('GoodwillFairValueCIIV3').value = numUSD.format(a);
                        // Column 4
                        a = parseInt(document.getElementById('GoodwillFairValueCI4').value.replaceAll(/,/g, ''));
                        document.getElementById('GoodwillFairValueCIIV4').value = numUSD.format(a);
                    };
                </script>
                <td colspan='2' class='C1'><input id="GoodwillFairValueCIIV1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="GoodwillFairValueCIIV2"  onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="GoodwillFairValueCIIV3"  onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="GoodwillFairValueCIIV4"  onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="GoodwillFairValueCIIV5"  onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="GoodwillFairValueCIIV6"  onfocusout="Compile()"></input></td>
            </tr>
            <tr id="WeightCIIVRow" class="Proportion">
                <td colspan="2" style='text-align: left;'>Weighted Importance Of The Method</td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;"></td>
                <td></td>
                <td>
                    <input type="checkbox" id="WeightCIIVCheckbox"></input>
                    <input type="checkbox" id="WeightCIIVCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class="Proportion" id="WeightCIIV1" value=1 style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input class="Proportion" id="WeightCIIV2" value=1 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input class="Proportion" id="WeightCIIV3" value=1 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input class="Proportion" id="WeightCIIV4" value=1 onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="WeightCIIV5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="WeightCIIV6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="WeightedIVRow" class="OpinionFour">
                <td colspan="2" style='text-align: left;'><h5 style="margin-left:0px;">Weighted Intrinsic Value</h5></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;"></td>
                <td></td>
                <td>
                    <input type="checkbox" id="WeightedIVCheckbox"></input>
                    <input type="checkbox" id="WeightedIVCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black; border-top-style:ridge; "><input class='Clock' id="WeightedIV1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black; border-top-style:ridge; "><input class='Clock' id="WeightedIV2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black; border-top-style:ridge; "><input class='Clock' id="WeightedIV3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black; border-top-style:ridge; "><input class='Clock' id="WeightedIV4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="WeightedIV5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="WeightedIV6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="IntrinsicValuesReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="IntrinsicValuesReferenceCheckbox"></input>
                    <input type="checkbox" id="IntrinsicValuesReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="IntrinsicValuesReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="IntrinsicValuesReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="IntrinsicValuesReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="IntrinsicValuesReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="IntrinsicValuesReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="IntrinsicValuesReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
</div>