<!--- OPINION --->
<div id="Opinion" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td>
                    <h3 id="EntityRegistrantNameOpinion" style="text-align: left; font-weight:bold;"></h3>
                </td>
                <td style="text-align: right">
                    <h4 id='o' style="color:Black; font-weight:bold; text-shadow: 1px 1px rgb(73, 73, 73); display: inline-block;">⬤</h4>
                </td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">OPINION</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin' style="border-bottom: 0;">
        <tbody>
            <tr>
                <td colspan="5"></td>
                <script>
                    function DateSummary(DateSummary) {
                        document.getElementById('DateSummary1').innerHTML = document.getElementById('ContextDate1').value;
                        document.getElementById('DateSummary2').innerHTML = document.getElementById('ContextDate2').value;
                        document.getElementById('DateSummary3').innerHTML = document.getElementById('ContextDate3').value;
                        document.getElementById('DateSummary4').innerHTML = document.getElementById('ContextDate4').value;
                        document.getElementById('DateSummary5').innerHTML = document.getElementById('ContextDate5').value;
                        document.getElementById('DateSummary6').innerHTML = document.getElementById('ContextDate6').value;
                    };
                </script>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateSummary1" style="text-align:center"></h4></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateSummary2" style="text-align:center"></h4></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateSummary3" style="text-align:center"></h4></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateSummary4" style="text-align:center"></h4></td>
                <td colspan='2' class='D5' style="padding-top: 21px; display:none;"><h5 id="DateSummary5" style="text-align:center"></h4></td>
                <td colspan='2' class='D6' style="padding-top: 21px; display:none;"><h5 id="DateSummary6" style="text-align:center"></h4></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <script>
                    function SummaryAmend(SummaryAmend) {
                        document.getElementById('SummaryAmend1').innerHTML = document.getElementById('Amend1').value;
                        document.getElementById('SummaryAmend2').innerHTML = document.getElementById('Amend2').value;
                        document.getElementById('SummaryAmend3').innerHTML = document.getElementById('Amend3').value;
                        document.getElementById('SummaryAmend4').innerHTML = document.getElementById('Amend4').value;
                        document.getElementById('SummaryAmend5').innerHTML = document.getElementById('Amend5').value;
                        document.getElementById('SummaryAmend6').innerHTML = document.getElementById('Amend6').value;
                    };
                </script>
                <td colspan='2' class='C1'><h5 id="SummaryAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="SummaryAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="SummaryAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="SummaryAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='D5' style="display:none;"><h5 id="SummaryAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='D6' style="display:none;"><h5 id="SummaryAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="SummaryFilingsRow" class="Filings">
                <td colspan='5'></td>
                <script>
                    function FilingsHrefSummary() {
                        document.getElementById('SummaryFilings1').href = document.getElementById('Filings1').href
                        document.getElementById('SummaryFilings2').href = document.getElementById('Filings2').href
                        document.getElementById('SummaryFilings3').href = document.getElementById('Filings3').href
                        document.getElementById('SummaryFilings4').href = document.getElementById('Filings4').href
                        document.getElementById('SummaryFilings5').href = document.getElementById('Filings5').href
                        document.getElementById('SummaryFilings6').href = document.getElementById('Filings6').href
                    }
                </script>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="SummaryFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="SummaryFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="SummaryFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="SummaryFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='D5' style="text-align:center; display: none;"><a target="_blank" id="SummaryFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='D6' style="text-align:center; display: none;"><a target="_blank" id="SummaryFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <script>
                    function SharePriceUpdate(SharePriceUpdate) {
                        document.getElementById('SharePriceUpdate').innerHTML = 'Shares Price as of ' + document.getElementById('SharePriceAsOf1').value;
                    };
                </script>
                <td colspan='2' class='C1'><h6 style="text-align: center;" id='SharePriceUpdate'></h6></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="OpinionφRow" class="Context">
                <td colspan="2"><h5 style="margin-left:0px;">OPINION</h5></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(a)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="OpinionφCheckbox"></input>
                    <input type="checkbox" id="OpinionφCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' id="Opinionφ1" style="font-weight:bold; text-align: center;"></td>
                <td colspan='2' class='C2' id="Opinionφ2" style="font-weight:lighter; text-align:center;"></td>
                <td colspan='2' class='C3' id="Opinionφ3" style="font-weight:lighter; text-align:center;"></td>
                <td colspan='2' class='C4' id="Opinionφ4" style="font-weight:lighter; text-align:center;"></td>
                <td colspan='2' class='D5' style="display:none;" id="Opinionφ5" style="font-weight:lighter; text-align:center;"></td>
                <td colspan='2' class='D6' style="display:none;" id="Opinionφ6" style="font-weight:lighter; text-align:center;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="ClockφRow" class="ClockRate">
                <td colspan="2"><h5 style="margin-left:0px;">VALUATION</h5></td></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(b)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="ClockφCheckbox"></input>
                    <input type="checkbox" id="ClockφCheckbox2"></input>
                </td>
                <td colspan="2" class="C1" id="Clockφ1" style="border-bottom:double black; font-weight:bold; text-align:fight;"></td>
                <td colspan="2" class="C2" class="ClockRate" id="Clockφ2" style="border-bottom:double black; font-weight:lighter; text-align:fight;"></td>
                <td colspan="2" class="C3" id="Clockφ3" style="border-bottom:double black; font-weight:lighter; text-align:fight;"></td>
                <td colspan="2" class="C4" id="Clockφ4" style="border-bottom:double black; font-weight:lighter; text-align:fight;"></td>
                <td colspan="2" class="D5" style="display:none;" id="Clockφ5" style="font-weight:lighter; text-align:fight;"></td>
                <td colspan="2" class="D6" style="display:none;" id="Clockφ6" style="font-weight:lighter; text-align:fight"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="BridgeφRow" class="Context">
                <td colspan="2"><h5 style="margin-left:0px;">AUDIT</h5></td>
                <td style="text-align:center"><button id="AnomaliesWorstCaseScenarioShortCut" class="Bridgeφ1" data-page="Summary" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white; box-shadow: none; ;">AS</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="BridgeφCheckbox"></input>
                    <input type="checkbox" id="BridgeφCheckbox2"></input>
                </td>
                <td colspan="2" class="C1" id="Bridgeφ1" style="font-weight:bold; text-align:center; font-size: 7px; font-style: italic;"></td>
                <td colspan="2" class="C2" id="Bridgeφ2" style="font-weight:lighter; text-align:center; font-size: 7px; font-style: italic;"></td>
                <td colspan="2" class="C3" id="Bridgeφ3" style="font-weight:lighter; text-align:center; font-size: 7px; font-style: italic;"></td>
                <td colspan="2" class="C4" id="Bridgeφ4" style="font-weight:lighter; text-align:center; font-size: 7px; font-style: italic;"></td>
                <td colspan="2" class="D5" style="display:none;" id="Bridgeφ5" style="font-weight:lighter; text-align:center"></td>
                <td colspan="2" class="D6" style="display:none;" id="Bridgeφ6" style="font-weight:lighter; text-align:center"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="4">
                    <h4 id='q' style="color:rgb(73, 73, 73); font-weight:bold; text-align: left;"></h4>
                </td>
                <td colspan='2' class='C1'>
                    <h6 id='p' style="font-style:italic; color:rgb(73, 73, 73); font-weight:bold; text-align: center;"></h4>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="IntrinsicValuesRow" class="OpinionFour">
                <td colspan="2"><h6>Common Shares' Intrinsic Value</h6></td>
                <td style="text-align:center"><button id="WeightedIVShortCut" class="IntrinsicValues1" data-page="IntrinsicValues" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white; box-shadow: none; ">IV</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="IntrinsicValuesCheckbox"></input>
                    <input type="checkbox" id="IntrinsicValuesCheckbox2"></input>
                </td>
                <script>
                    // INTRINSIC VALUE ALL SHARES
                    function BalanceIntrinsicValues(BalanceIntrinsicValues) {
                        var numUSD = new Intl.NumberFormat("en-US", {
                            format: "number"
                        })
                        // Column 1
                        a = parseInt(document.getElementById('IntrinsicValuesCI1').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('WeightCIIV1').value.replaceAll(/,/g, ''));
                        c = parseInt(document.getElementById('IntrinsicValuesCCF1').value.replaceAll(/,/g, ''));
                        d = parseInt(document.getElementById('WeightCCFIV1').value.replaceAll(/,/g, ''));
                        g = Math.round((a * b / (b + d)) + (c * d / (b + d)));
                        h = parseInt(document.getElementById('BalanceSheetsShareholdersEquity1').value.replaceAll(/,/g, ''));
                        i = Math.max(g, h, 0)
                        document.getElementById('IntrinsicValues1').value = numUSD.format(i)
                        document.getElementById('WeightedIV1').value = numUSD.format(i)
                        // Column 2
                        a = parseInt(document.getElementById('IntrinsicValuesCI2').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('WeightCIIV2').value.replaceAll(/,/g, ''));
                        c = parseInt(document.getElementById('IntrinsicValuesCCF2').value.replaceAll(/,/g, ''));
                        d = parseInt(document.getElementById('WeightCCFIV2').value.replaceAll(/,/g, ''));
                        g = Math.round((a * b / (b + d)) + (c * d / (b + d)));
                        h = parseInt(document.getElementById('BalanceSheetsShareholdersEquity2').value.replaceAll(/,/g, ''));
                        i = Math.max(g, h, 0)
                        document.getElementById('IntrinsicValues2').value = numUSD.format(i)
                        document.getElementById('WeightedIV2').value = numUSD.format(i)
                        // Column 3
                        a = parseInt(document.getElementById('IntrinsicValuesCI3').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('WeightCIIV3').value.replaceAll(/,/g, ''));
                        c = parseInt(document.getElementById('IntrinsicValuesCCF3').value.replaceAll(/,/g, ''));
                        d = parseInt(document.getElementById('WeightCCFIV3').value.replaceAll(/,/g, ''));
                        g = Math.round((a * b / (b + d)) + (c * d / (b + d)));
                        h = parseInt(document.getElementById('BalanceSheetsShareholdersEquity3').value.replaceAll(/,/g, ''));
                        i = Math.max(g, h, 0)
                        document.getElementById('IntrinsicValues3').value = numUSD.format(i)
                        document.getElementById('WeightedIV3').value = numUSD.format(i)
                        // Column 4
                        a = parseInt(document.getElementById('IntrinsicValuesCI4').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('WeightCIIV4').value.replaceAll(/,/g, ''));
                        c = parseInt(document.getElementById('IntrinsicValuesCCF4').value.replaceAll(/,/g, ''));
                        d = parseInt(document.getElementById('WeightCCFIV4').value.replaceAll(/,/g, ''));
                        g = Math.round((a * b / (b + d)) + (c * d / (b + d)));
                        h = parseInt(document.getElementById('BalanceSheetsShareholdersEquity4').value.replaceAll(/,/g, ''));
                        i = Math.max(g, h, 0)
                        document.getElementById('IntrinsicValues4').value = numUSD.format(i)
                        document.getElementById('WeightedIV4').value = numUSD.format(i)
                    };
                </script>
                <td colspan='2' class='C1'><input id="IntrinsicValues1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="IntrinsicValues2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="IntrinsicValues3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="IntrinsicValues4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="IntrinsicValues5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="IntrinsicValues6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr id="MarketCapitalizationRow" class="OpinionFour">
                <td colspan="2"><h6>Market Capitalization Attributable To Common Shares</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(c)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="MarketCapitalizationCheckbox"></input>
                    <input type="checkbox" id="MarketCapitalizationCheckbox2"></input>
                </td>
                <script>
                    // MARKET CAPITALIZATION
                    function BalanceMarketCapitalization(BalanceMarketCapitalization) {
                        var numUSD = new Intl.NumberFormat("en-US", {
                            format: "number"
                        })
                        // Column 1
                        a = parseInt(document.getElementById('CommonSharesOutstanding1').value.replaceAll(/,/g, ''));
                        b = parseFloat(document.getElementById('SharePrice1').value.replaceAll(/,/g, ''));
                        document.getElementById('MarketCapitalization1').value = numUSD.format(Math.round(a * b));
                        // Column 2
                        a = parseInt(document.getElementById('CommonSharesOutstanding2').value.replaceAll(/,/g, ''));
                        b = parseFloat(document.getElementById('SharePrice2').value.replaceAll(/,/g, ''));
                        document.getElementById('MarketCapitalization2').value = numUSD.format(Math.round(a * b));
                        // Column 3
                        a = parseInt(document.getElementById('CommonSharesOutstanding3').value.replaceAll(/,/g, ''));
                        b = parseFloat(document.getElementById('SharePrice3').value.replaceAll(/,/g, ''));
                        document.getElementById('MarketCapitalization3').value = numUSD.format(Math.round(a * b));
                        // Column 4
                        a = parseInt(document.getElementById('CommonSharesOutstanding4').value.replaceAll(/,/g, ''));
                        b = parseFloat(document.getElementById('SharePrice4').value.replaceAll(/,/g, ''));
                        document.getElementById('MarketCapitalization4').value = numUSD.format(Math.round(a * b));
                    };
                    // PRICE EARNINGS
                    function PriceEarnings(PriceEarnings) {
                        var numUSD = new Intl.NumberFormat("en-US", {
                            format: "number",
                            minimumFractionDigits: 1,
                            maximumFractionDigits: 1
                            
                        });                                
                        // Last Year
                        a = parseInt(document.getElementById('MarketCapitalization1').value.replaceAll(/,/g, ''));
                        a = a / parseInt(document.getElementById('NetIncome1').value.replaceAll(/,/g, ''));
                        document.getElementById('PE1').value = numUSD.format(a);
                        // Second Last Year
                        a = parseInt(document.getElementById('MarketCapitalization2').value.replaceAll(/,/g, ''));
                        a = a / parseInt(document.getElementById('NetIncome2').value.replaceAll(/,/g, ''));
                        document.getElementById('PE2').value = numUSD.format(a);
                        // Third Last Year
                        a = parseInt(document.getElementById('MarketCapitalization3').value.replaceAll(/,/g, ''));
                        a = a / parseInt(document.getElementById('NetIncome3').value.replaceAll(/,/g, ''));
                        document.getElementById('PE3').value = numUSD.format(a);
                        // Fourth Last Year
                        a = parseInt(document.getElementById('MarketCapitalization4').value.replaceAll(/,/g, ''));
                        a = a / parseInt(document.getElementById('NetIncome4').value.replaceAll(/,/g, ''));
                        document.getElementById('PE4').value = numUSD.format(a);
                    };
                    // MARKET TO BOOK
                    function MarketToBook(MarketToBook) {
                        var numUSD = new Intl.NumberFormat("en-US", {
                            format: "number",
                            minimumFractionDigits: 1,
                            maximumFractionDigits: 1
                        });                                
                        // Last Year
                        a = parseInt(document.getElementById('MarketCapitalization1').value.replaceAll(/,/g, ''));
                        a = a / parseInt(document.getElementById('ShareholdersEquity1').value.replaceAll(/,/g, ''));
                        document.getElementById('MarketToBook1').value = numUSD.format(a);
                        // Second Last Year
                        a = parseInt(document.getElementById('MarketCapitalization2').value.replaceAll(/,/g, ''));
                        a = a / parseInt(document.getElementById('ShareholdersEquity2').value.replaceAll(/,/g, ''));
                        document.getElementById('MarketToBook2').value = numUSD.format(a);
                        // Third Last Year
                        a = parseInt(document.getElementById('MarketCapitalization3').value.replaceAll(/,/g, ''));
                        a = a / parseInt(document.getElementById('ShareholdersEquity3').value.replaceAll(/,/g, ''));
                        document.getElementById('MarketToBook3').value = numUSD.format(a);
                        // Fourth Last Year
                        a = parseInt(document.getElementById('MarketCapitalization4').value.replaceAll(/,/g, ''));
                        a = a / parseInt(document.getElementById('ShareholdersEquity4').value.replaceAll(/,/g, ''));
                        document.getElementById('MarketToBook4').value = numUSD.format(Math.round(a));
                    };
                </script>
                <td colspan='2' class='C1'><input class='Clock' id ="MarketCapitalization1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id ="MarketCapitalization2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id ="MarketCapitalization3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id ="MarketCapitalization4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id ="MarketCapitalization5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id ="MarketCapitalization6" onfocusout="Compile()"></input></td>
                <script>
                    function BalanceClock(BalanceClock) {
                    ////////////////////
                    // CLOCKφ
                        var numUSD = new Intl.NumberFormat("en-US", {
                            style: "percent",
                            minimumFractionDigits: 0,
                            maximumFractionDigits: 0
                        })
                        
                    // Column 1
                        a = parseInt(document.getElementById('IntrinsicValues1').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('MarketCapitalization1').value.replaceAll(/,/g, ''));
                        document.getElementById('Clockφ1').innerHTML = numUSD.format(Math.round(a / b * 100) / 100);
                        // Date
                        var today = new Date();
                        // Day
                        if (today.getDate() < 10) {
                            todaygetDate = '0' + today.getDate()
                        } else {
                            todaygetDate = today.getDate()
                        }
                        if (today.getMonth() < 10) {
                            todaygetMonth = '0' + (today.getMonth() + 1)
                        } else {
                            todaygetMonth = today.getMonth() + 1
                        }
                        var date = today.getFullYear() + '-' + todaygetMonth + '-' + todaygetDate;
                        // Time
                        if (today.getMinutes() < 10) {
                            todaygetMinutes = '0' + today.getMinutes()
                        } else {
                            todaygetMinutes = today.getMinutes()
                        }
                        var time = today.getHours() + ":" + todaygetMinutes
                        var dateTime = date+' '+time;
                    // Column 2
                        a = parseInt(document.getElementById('IntrinsicValues2').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('MarketCapitalization2').value.replaceAll(/,/g, ''));
                        document.getElementById('Clockφ2').innerHTML = numUSD.format(Math.round(a / b * 100) / 100);
                    // Column 3
                        a = parseInt(document.getElementById('IntrinsicValues3').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('MarketCapitalization3').value.replaceAll(/,/g, ''));
                        document.getElementById('Clockφ3').innerHTML = numUSD.format(Math.round(a / b * 100) / 100);
                    // Column 4
                        a = parseInt(document.getElementById('IntrinsicValues4').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('MarketCapitalization4').value.replaceAll(/,/g, ''));
                        a = numUSD.format(Math.round(a / b * 100) / 100);
                        b = a.replace('%','')
                        if (b == 'NaN') {
                            a = numUSD.format(0);
                        }
                        document.getElementById('Clockφ4').innerHTML = a;
                    ////////////////////
                    // INTRINSIC VALUE OF A COMMON SHARE
                        var numUSD = new Intl.NumberFormat("en-US", {
                            format: 'number',
                            minimumFractionDigits: 2,
                            maximumFractionDigits: 2
                        })
                    // Column 1
                        a = parseInt(document.getElementById('IntrinsicValues1').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('CommonSharesOutstanding1').value.replaceAll(/,/g, ''));
                        if (b > 0) {
                            g = a / b;
                        } else {
                            g = 0;
                        }
                        document.getElementById('IntrinsicValueOfACommonShares1').value = numUSD.format(g)
                    // Column 2
                        a = parseInt(document.getElementById('IntrinsicValues2').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('CommonSharesOutstanding2').value.replaceAll(/,/g, ''));
                        if (b > 0) {
                            g = a / b;
                        } else {
                            g = 0;
                        }
                        document.getElementById('IntrinsicValueOfACommonShares2').value = numUSD.format(g)
                    // Column 3
                        a = parseInt(document.getElementById('IntrinsicValues3').value.replaceAll(/,/g, ''));
                        b = parseInt(document.getElementById('CommonSharesOutstanding3').value.replaceAll(/,/g, ''));
                        if (b > 0) {
                            g = a / b;
                        } else {
                            g = 0;
                        }
                        document.getElementById('IntrinsicValueOfACommonShares3').value = numUSD.format(g)
                    // Column 4
                        a = parseInt(document.getElementById('IntrinsicValues4').value.replaceAll(/,/g, ''));
                        b = document.getElementById('CommonSharesOutstanding4').value.replaceAll(/,/g, '');
                        if (b > 0) {
                            g = a / b;
                        } else {
                            g = 0;
                        }
                        document.getElementById('IntrinsicValueOfACommonShares4').value = numUSD.format(g)
                    }
                </script>
            <tr></tr>
            <tr id="IntrinsicValueOfACommonSharesRow" class="Price">
                <script>
                    function CommonShareIntrinsicValuePerUnitAndPricePerUnit() {

                        var a = document.getElementById('TradingSymbol1').value

                        document.getElementById('CommonShareIntrinsicValuePerUnit').innerHTML = a + ' Common Shares Intrinsic Value Per Unit'
                        document.getElementById('CommonSharePricePerUnit').innerHTML = a + ' Common Shares Price Per Unit'

                    }
                </script>
                <td colspan="2"><h6 id="CommonShareIntrinsicValuePerUnit"></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(d)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="IntrinsicValueOfACommonSharesCheckbox"></input>
                    <input type="checkbox" id="IntrinsicValueOfACommonSharesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class="Price" id="IntrinsicValueOfACommonShares1" style="font-weight:bold;"></td>
                <td colspan='2' class='C2'><input class="Price" id="IntrinsicValueOfACommonShares2"></td>
                <td colspan='2' class='C3'><input class="Price" id="IntrinsicValueOfACommonShares3"></td>
                <td colspan='2' class='C4'><input class="Price" id="IntrinsicValueOfACommonShares4"></td>
                <td colspan='2' class='D5' style="display:none;"><input id="IntrinsicValueOfACommonShares5"></td>
                <td colspan='2' class='D6' style="display:none;"><input id="IntrinsicValueOfACommonShares6"></td>
            </tr>
            <tr></tr>
            <tr id="SharePriceRow" class="Price">
                <td colspan="2"><h6 id="CommonSharePricePerUnit"></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(e)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="SharePriceCheckbox"></input>
                    <input type="checkbox" id="SharePriceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input value = "{{ entity.CommonSharePriceLastYear }}" class="Price" id="SharePrice1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input value = "{{ entity.CommonSharePriceSecondLastYear }}" class="Price" id="SharePrice2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input value = "{{ entity.CommonSharePriceThirdLastYear }}" class="Price" id="SharePrice3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input value = "{{ entity.CommonSharePriceFourthLastYear }}" class="Price" id="SharePrice4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="SharePrice5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="SharePrice6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr id="CommonSharesOutstandingRow" class="OpinionFour">
                <td colspan="2"><h6>Adjusted Number Of Common Shares Outstanding</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(f)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CommonSharesOutstandingCheckbox"></input>
                    <input type="checkbox" id="CommonSharesOutstandingCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input value = "{{ entity.CommonSharesOutstandingLastYear }}" class='Clock' id="CommonSharesOutstanding1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input value = "{{ entity.CommonSharesOutstandingSecondLastYear }}" class='Clock' id="CommonSharesOutstanding2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input value = "{{ entity.CommonSharesOutstandingThirdLastYear }}" class='Clock' id="CommonSharesOutstanding3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input value = "{{ entity.CommonSharesOutstandingFourthLastYear }}" class='Clock' id="CommonSharesOutstanding4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="CommonSharesOutstanding5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="CommonSharesOutstanding6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="OpinionReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="OpinionReferenceCheckbox"></input>
                    <input type="checkbox" id="OpinionReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="OpinionReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="OpinionReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="OpinionReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="OpinionReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="OpinionReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="OpinionReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan="3" style="border-top-style:ridge; text-align:right">
                    <button id="SignatoryShortCut" class="Signatory" data-page="Context" style="background-color: white; box-shadow: none; font-style: italic;">Ai generated</button>
                </td>
                <td colspan="4" id="Signatory" style="display:none;"></td>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(a)</td>
                <td style="text-align:left;" colspan="16">Buy / Sell signal.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(b)</td>
                <td style="text-align:left;" colspan="16">Quotient of the intrinsic value over the market value.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(c)</td>
                <td style="text-align:left;" colspan="16">Product of the number of common shares outstanding by the price of one share at the time of update for current period (time of filing in other cases).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(d)</td>
                <td style="text-align:left;" colspan="16">Quotient of the intrinsic value of the whole entity over the number of shares (units) outstanding.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(e)</td>
                <td style="text-align:left;" colspan="16">Most recent price per unit at time of data gathering for current period (time of filing in other cases).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(f)</td>
                <td style="text-align:left;" colspan="16">The number of shares (units) outstanding of each of registrant's common share (classes of capital or other ownership interests) as stated on the cover of related periodic report.</td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>
