<!--- OPINION --->
<div id="Opinion" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td>
                    <h3 id="EntityRegistrantNameOpinion" style="text-align: left; font-weight:bold;"></h3>
                </td>
                <td style="text-align: right">
                    <h4 id='o' style="color:Black; font-weight:bold; text-shadow: 1px 1px rgb(73, 73, 73); display: inline-block;">⬤</h4>
                </td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">OPINION</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin' style="border-bottom: 0;">
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateSummary1" style="text-align:center"></h4></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateSummary2" style="text-align:center"></h4></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateSummary3" style="text-align:center"></h4></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateSummary4" style="text-align:center"></h4></td>
                <td colspan='2' class='D5' style="padding-top: 21px; display:none;"><h5 id="DateSummary5" style="text-align:center"></h4></td>
                <td colspan='2' class='D6' style="padding-top: 21px; display:none;"><h5 id="DateSummary6" style="text-align:center"></h4></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1'><h5 id="SummaryAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="SummaryAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="SummaryAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="SummaryAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='D5' style="display:none;"><h5 id="SummaryAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='D6' style="display:none;"><h5 id="SummaryAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="SummaryFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="SummaryFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="SummaryFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="SummaryFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="SummaryFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='D5' style="text-align:center; display: none;"><a target="_blank" id="SummaryFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='D6' style="text-align:center; display: none;"><a target="_blank" id="SummaryFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1'><h6 style="text-align: center;" id='SharePriceUpdate'></h6></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="OpinionφRow" class="Context">
                <td colspan="2"><h5 style="margin-left:0px;">OPINION</h5></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(a)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="OpinionφCheckbox"></input>
                    <input type="checkbox" id="OpinionφCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' id="Opinionφ1" style="font-weight:bold; text-align: center;"></td>
                <td colspan='2' class='C2' id="Opinionφ2" style="font-weight:lighter; text-align:center;"></td>
                <td colspan='2' class='C3' id="Opinionφ3" style="font-weight:lighter; text-align:center;"></td>
                <td colspan='2' class='C4' id="Opinionφ4" style="font-weight:lighter; text-align:center;"></td>
                <td colspan='2' class='D5' style="display:none;" id="Opinionφ5" style="font-weight:lighter; text-align:center;"></td>
                <td colspan='2' class='D6' style="display:none;" id="Opinionφ6" style="font-weight:lighter; text-align:center;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="ClockφRow" class="ClockRate">
                <td colspan="2"><h5 style="margin-left:0px;">VALUATION</h5></td></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(b)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="ClockφCheckbox"></input>
                    <input type="checkbox" id="ClockφCheckbox2"></input>
                </td>
                <td colspan="2" class="C1" id="Clockφ1" style="border-bottom:double black; font-weight:bold; text-align:fight;"></td>
                <td colspan="2" class="C2" class="ClockRate" id="Clockφ2" style="border-bottom:double black; font-weight:lighter; text-align:fight;"></td>
                <td colspan="2" class="C3" id="Clockφ3" style="border-bottom:double black; font-weight:lighter; text-align:fight;"></td>
                <td colspan="2" class="C4" id="Clockφ4" style="border-bottom:double black; font-weight:lighter; text-align:fight;"></td>
                <td colspan="2" class="D5" style="display:none;" id="Clockφ5" style="font-weight:lighter; text-align:fight;"></td>
                <td colspan="2" class="D6" style="display:none;" id="Clockφ6" style="font-weight:lighter; text-align:fight"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="BridgeφRow" class="Context">
                <td colspan="2"><h5 style="margin-left:0px;">AUDIT</h5></td>
                <td style="text-align:center"><button id="AnomaliesWorstCaseScenarioShortCut" class="Bridgeφ1" data-page="Summary" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white; box-shadow: none; ;">AS</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="BridgeφCheckbox"></input>
                    <input type="checkbox" id="BridgeφCheckbox2"></input>
                </td>
                <td colspan="2" class="C1" id="Bridgeφ1" style="font-weight:bold; text-align:center; font-size: 7px; font-style: italic;"></td>
                <td colspan="2" class="C2" id="Bridgeφ2" style="font-weight:lighter; text-align:center; font-size: 7px; font-style: italic;"></td>
                <td colspan="2" class="C3" id="Bridgeφ3" style="font-weight:lighter; text-align:center; font-size: 7px; font-style: italic;"></td>
                <td colspan="2" class="C4" id="Bridgeφ4" style="font-weight:lighter; text-align:center; font-size: 7px; font-style: italic;"></td>
                <td colspan="2" class="D5" style="display:none;" id="Bridgeφ5" style="font-weight:lighter; text-align:center"></td>
                <td colspan="2" class="D6" style="display:none;" id="Bridgeφ6" style="font-weight:lighter; text-align:center"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan="4">
                    <h4 id='q' style="color:rgb(73, 73, 73); font-weight:bold; text-align: left;"></h4>
                </td>
                <td colspan='2' class='C1'>
                    <h6 id='p' style="font-style:italic; color:rgb(73, 73, 73); font-weight:bold; text-align: center;"></h4>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="IntrinsicValuesRow" class="OpinionFour">
                <td colspan="2"><h6>Common Shares' Intrinsic Value</h6></td>
                <td style="text-align:center"><button id="WeightedIVShortCut" class="IntrinsicValues1" data-page="IntrinsicValues" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white; box-shadow: none; ">IV</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="IntrinsicValuesCheckbox"></input>
                    <input type="checkbox" id="IntrinsicValuesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="IntrinsicValues1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="IntrinsicValues2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="IntrinsicValues3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="IntrinsicValues4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="IntrinsicValues5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="IntrinsicValues6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr id="MarketCapitalizationRow" class="OpinionFour">
                <td colspan="2"><h6>Market Capitalization Attributable To Common Shares</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(c)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="MarketCapitalizationCheckbox"></input>
                    <input type="checkbox" id="MarketCapitalizationCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id ="MarketCapitalization1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id ="MarketCapitalization2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id ="MarketCapitalization3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id ="MarketCapitalization4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id ="MarketCapitalization5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id ="MarketCapitalization6" onfocusout="Compile()"></input></td>
            <tr></tr>
            <tr id="IntrinsicValueOfACommonSharesRow" class="Price">
                <td colspan="2"><h6 id="CommonShareIntrinsicValuePerUnit"></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(d)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="IntrinsicValueOfACommonSharesCheckbox"></input>
                    <input type="checkbox" id="IntrinsicValueOfACommonSharesCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class="Price" id="IntrinsicValueOfACommonShares1" style="font-weight:bold;"></td>
                <td colspan='2' class='C2'><input class="Price" id="IntrinsicValueOfACommonShares2"></td>
                <td colspan='2' class='C3'><input class="Price" id="IntrinsicValueOfACommonShares3"></td>
                <td colspan='2' class='C4'><input class="Price" id="IntrinsicValueOfACommonShares4"></td>
                <td colspan='2' class='D5' style="display:none;"><input id="IntrinsicValueOfACommonShares5"></td>
                <td colspan='2' class='D6' style="display:none;"><input id="IntrinsicValueOfACommonShares6"></td>
            </tr>
            <tr></tr>
            <tr id="SharePriceRow" class="Price">
                <td colspan="2"><h6 id="CommonSharePricePerUnit"></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(e)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="SharePriceCheckbox"></input>
                    <input type="checkbox" id="SharePriceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input value = "{{ entity.CommonSharePriceLastYear }}" class="Price" id="SharePrice1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input value = "{{ entity.CommonSharePriceSecondLastYear }}" class="Price" id="SharePrice2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input value = "{{ entity.CommonSharePriceThirdLastYear }}" class="Price" id="SharePrice3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input value = "{{ entity.CommonSharePriceFourthLastYear }}" class="Price" id="SharePrice4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="SharePrice5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="SharePrice6" onfocusout="Compile()"></input></td>
            </tr>
            <tr></tr>
            <tr id="CommonSharesOutstandingRow" class="OpinionFour">
                <td colspan="2"><h6>Adjusted Number Of Common Shares Outstanding</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(f)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CommonSharesOutstandingCheckbox"></input>
                    <input type="checkbox" id="CommonSharesOutstandingCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input value = "{{ entity.CommonSharesOutstandingLastYear }}" class='Clock' id="CommonSharesOutstanding1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input value = "{{ entity.CommonSharesOutstandingSecondLastYear }}" class='Clock' id="CommonSharesOutstanding2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input value = "{{ entity.CommonSharesOutstandingThirdLastYear }}" class='Clock' id="CommonSharesOutstanding3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input value = "{{ entity.CommonSharesOutstandingFourthLastYear }}" class='Clock' id="CommonSharesOutstanding4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="CommonSharesOutstanding5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="CommonSharesOutstanding6" onfocusout="Compile()"></input></td>
            </tr>
            <tr id="OpinionReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="OpinionReferenceCheckbox"></input>
                    <input type="checkbox" id="OpinionReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="OpinionReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="OpinionReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="OpinionReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="OpinionReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D5' style="display:none;"><input id="OpinionReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='D6' style="display:none;"><input id="OpinionReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan="3" style="border-top-style:ridge; text-align:right">
                    <button id="SignatoryShortCut" class="Signatory" data-page="Context" style="background-color: white; box-shadow: none; font-style: italic;">Ai generated</button>
                </td>
                <td colspan="4" id="Signatory" style="display:none;"></td>
        </tbody>
    </table>
    <table class='margin'>
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(a)</td>
                <td style="text-align:left;" colspan="16">Buy / Sell signal.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(b)</td>
                <td style="text-align:left;" colspan="16">Quotient of the intrinsic value over the market value.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(c)</td>
                <td style="text-align:left;" colspan="16">Product of the number of common shares outstanding by the price of one share at the time of update for current period (time of filing in other cases).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(d)</td>
                <td style="text-align:left;" colspan="16">Quotient of the intrinsic value of the whole entity over the number of shares (units) outstanding.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(e)</td>
                <td style="text-align:left;" colspan="16">Most recent price per unit at time of data gathering for current period (time of filing in other cases).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold; vertical-align:top;">(f)</td>
                <td style="text-align:left;" colspan="16">The number of shares (units) outstanding of each of registrant's common share (classes of capital or other ownership interests) as stated on the cover of related periodic report.</td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>
