{% extends "φ/layout.html" %}
{% block body %}

<Section id="φ" style="padding-left: 5%; padding-right: 5%; padding-top: 79px ; padding-bottom: 79px">

    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:79px;">audit, business valuation</h2>
        
    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">machine learning, artificial intelligence</h2>

    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">our goal is to democratize access to financial literature and equity</h2>

    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">the data we mine is audited for accuracy, completeness, classification and cut-off</h2>

    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">once in python, once in javascript</h2>
    
    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">our mining process is public and our data is customizable.</h2>
    
    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">earning power is key to sustainability and growth</h2>

    <h4 id="EntityRegistrantName" style="padding-left: 5%; padding-right: 5%; color:Black; font-weight:bold; text-shadow: 1px 1px rgb(73, 73, 73); display:center; padding-top: 21px">clockdb.com</h4>

    <h3 id="Industry" style="padding-left: 5%; padding-right: 5%; color:rgb(73, 73, 73); font-weight:bold; text-align: center; padding-top: 21px">ACCOUNTING-COMPUTER PROGRAMMING, DATA PROCESSING, ETC.</h4>

    <h3 id="Region" style="color:rgb(73, 73, 73); font-weight:bold; text-align: center; padding-top: 21px">QUEBEC</h4>

    <h3 style="padding-left: 5%; padding-right: 5%; padding-top:59px; text-align: center">- - - - - - - - - - - - - - - - - - - - -</h3>

    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:79px;">audit, évaluation d'entreprises</h2>
    
    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">apprentissage automatique, intelligence artificielle</h2>

    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">notre objectif est de démocratiser l'accès à la littérature financière et à l'investissement sur les marchés de capitaux</h2>

    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">les données que nous extrayons sont auditées pour leur exactitude, exhaustivité, classification et démarcation</h2>

    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">une fois en python, une fois en javascript</h2>
    
    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">notre processus d'extraction est public et nos données sont personnalisables.</h2>
    
    <h2 style="padding-left: 5%; padding-right: 5%; padding-top:7px;">générer du rendement est la clé de la durabilité et de la croissance</h2>

    <h4 id="EntityRegistrantName" style="padding-left: 5%; padding-right: 5%; color:Black; font-weight:bold; text-shadow: 1px 1px rgb(73, 73, 73); display:center; padding-top: 21px">clockdb.com</h4>

    <h3 id="Industry" style="padding-left: 5%; padding-right: 5%; color:rgb(73, 73, 73); font-weight:bold; text-align: center; padding-top: 21px">COMPTABILITÉ-PROGRAMMATION, TRAITEMENT DE DONNÉES, ETC.</h4>

    <h3 id="Region" style="padding-left: 5%; padding-right: 5%; color:rgb(73, 73, 73); font-weight:bold; text-align: center; padding-top: 21px">QUÉBEC</h4>

</Section>

{% endblock %}

