{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | mining process'

</script>

<!--- MENU --->

<div class="text">

    <ul>

        <a href="{% url 'φ:db' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>REVIEWED</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">reviewed by a professionnal</h5>

            </button>

        </a>

        <a href="{% url 'φ:audited' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>AUDITED</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">audited valuation</h5>

            </button>

        </a>
        
        <a href="{% url 'φ:phase7' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 7</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">market capitalization</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase6' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 6</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">audited financial statements</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase5' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 5</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">financial statements</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase4' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 4</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">accession numbers and fiscal year end</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase3' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 3</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">financial, cashflow and audit templates</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase2' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 2</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">name, industry and region</h5>

            </button>

        </a>

        <a href="{% url 'φ:phase1' %}" style="padding-bottom:17%">
           
            <button>
                
                <h4 style='text-align:center'><b>PHASE 1</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">central index keys</h5>

            </button>

        </a>

    </ul>
    
</div>


{% endblock %}