<!--- CAPITALIZED CASH FLOW --->
<div id="CapitalizedCashFlow" style="display: none" class="card p-4 align-items-start">
    <table class='margin'> 
        <tbody>
            <tr>
                <td><h3 id="EntityRegistrantNameCapitalizedCashFlow" style="font-weight:bold; margin-left:0px;"></h3></td>
            </tr>
            <tr>
                <td><h3 style="font-weight:bold; margin-left:0px;">CAPITALIZED CASH FLOW</h3></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1' style="padding-top: 21px;"><h5 id="DateCapitalizedCashFlow1" style="text-align:center;"></h5></td>
                <td colspan='2' class='C2' style="padding-top: 21px;"><h5 id="DateCapitalizedCashFlow2" style="text-align:center;"></h5></td>
                <td colspan='2' class='C3' style="padding-top: 21px;"><h5 id="DateCapitalizedCashFlow3" style="text-align:center;"></h5></td>
                <td colspan='2' class='C4' style="padding-top: 21px;"><h5 id="DateCapitalizedCashFlow4" style="text-align:center;"></h5></td>
                <td colspan='2' class='C5' style="padding-top: 21px;"><h5 id="DateCapitalizedCashFlow5" style="text-align:center;"></h5></td>
                <td colspan='2' class='C6' style="padding-top: 21px;"><h5 id="DateCapitalizedCashFlow6" style="text-align:center;"></h5></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="5"></td>
                <td colspan='2' class='C1'><h5 id="CapitalizedCashFlowAmend1" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C2'><h5 id="CapitalizedCashFlowAmend2" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C3'><h5 id="CapitalizedCashFlowAmend3" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C4'><h5 id="CapitalizedCashFlowAmend4" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C5'><h5 id="CapitalizedCashFlowAmend5" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
                <td colspan='2' class='C6'><h5 id="CapitalizedCashFlowAmend6" style="font-weight:bold; text-align:center; padding-bottom: 3%;"></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr id="CapitalizedCashFlowFilingsRow" class="Filings">
                <td colspan='5'></td>
                <td colspan='2' class='C1' style="text-align:center"><a target="_blank" id="CapitalizedCashFlowFilings1" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C2' style="text-align:center"><a target="_blank" id="CapitalizedCashFlowFilings2" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C3' style="text-align:center"><a target="_blank" id="CapitalizedCashFlowFilings3" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C4' style="text-align:center"><a target="_blank" id="CapitalizedCashFlowFilings4" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C5' style="text-align:center"><a target="_blank" id="CapitalizedCashFlowFilings5" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>
                <td colspan='2' class='C6' style="text-align:center"><a target="_blank" id="CapitalizedCashFlowFilings6" style="color:#0D47A1;"><h6 style="text-align:center; padding-bottom: 3%;;">Filings</h6></a>     
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr id="OperatingIncomeCCFRow" class="Opinion">
                <td colspan="2"><h6><b>Operating Income (Loss)</b></h6></td>
                <td style="text-align:center"><button id="OperatingIncomeShortCut" class="OperatingIncomeCCF1" data-page="AnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">IS</button></td>
                <td><button style="font-weight:bold; text-align:center;  box-shadow: none; color:#0D47A1; background-color: white" data-page="OpinionFiles" class="OpinionFiles">{</button></td>
                <td>
                    <input type="checkbox" id="OperatingIncomeCCFCheckbox"></input>
                    <input type="checkbox" id="OperatingIncomeCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="OperatingIncomeCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="OperatingIncomeCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="OperatingIncomeCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="OperatingIncomeCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="OperatingIncomeCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="OperatingIncomeCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="DepreciationDepletionAndAmortizationCCFRow" class="Opinion">
                <td colspan="2"><h6>Depreciation, Depletion And Amortization</h6></td>
                <td style="text-align:center"><button id="DepreciationDepletionAndAmortizationShortCut" class="DepreciationDepletionAndAmortization1" data-page="AnnualCashFlow" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CF</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="DepreciationDepletionAndAmortizationCCFCheckbox"></input>
                    <input type="checkbox" id="DepreciationDepletionAndAmortizationCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="DepreciationDepletionAndAmortizationCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="DepreciationDepletionAndAmortizationCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="DepreciationDepletionAndAmortizationCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="DepreciationDepletionAndAmortizationCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="DepreciationDepletionAndAmortizationCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="DepreciationDepletionAndAmortizationCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="AnnualReinvestmentOfMaintenanceCCFRow" class="Opinion">
                <td colspan="2"><h6>Reinvestment Of Maintenance</h6></td>
                <td style="text-align:center"><button id="ReinvestmentOfMaintenanceShortCut" class="AnnualReinvestmentOfMaintenanceCCF1" data-page="AdditionalInformation" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">AI</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="AnnualReinvestmentOfMaintenanceCCFCheckbox"></input>
                    <input type="checkbox" id="AnnualReinvestmentOfMaintenanceCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="AnnualReinvestmentOfMaintenanceCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="AnnualReinvestmentOfMaintenanceCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="AnnualReinvestmentOfMaintenanceCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="AnnualReinvestmentOfMaintenanceCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="AnnualReinvestmentOfMaintenanceCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="AnnualReinvestmentOfMaintenanceCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="OthersCCFRow" class="Opinion">
                <td colspan="2"><h6>Others</h6></td>
                <td></td>
                <td></td>
                <td>
                    <input type="checkbox" id="OthersCCFCheckbox"></input>
                    <input type="checkbox" id="OthersCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="OthersCCF1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="OthersCCF2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="OthersCCF3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="OthersCCF4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input class='Clock' id="OthersCCF5" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C6'><input class='Clock' id="OthersCCF6" onfocusout="Compile()" onchange='FormatCell()'></input></td>
            </tr>
            <tr id="TaxesPaidAdjustmentsCCFRow" class="Opinion">
                <td colspan="2"><h6>Taxes</h6></td>
                <td style="text-align:center"><button id="TheoricalTaxRateShortCut" class="TaxesPaidAdjustmentsCCF1" data-page="AdditionalInformation" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">AI</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="TaxesPaidAdjustmentsCCFCheckbox"></input>
                    <input type="checkbox" id="TaxesPaidAdjustmentsCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="TaxesPaidAdjustmentsCCF1" style="font-weight:bold;"></td>
                <td colspan='2' class='C2'><input class='Clock' id="TaxesPaidAdjustmentsCCF2"></td>
                <td colspan='2' class='C3'><input class='Clock' id="TaxesPaidAdjustmentsCCF3"></td>
                <td colspan='2' class='C4'><input class='Clock' id="TaxesPaidAdjustmentsCCF4"></td>
                <td colspan='2' class='C5'><input class='Clock' id="TaxesPaidAdjustmentsCCF5"></td>
                <td colspan='2' class='C6'><input class='Clock' id="TaxesPaidAdjustmentsCCF6"></td>
            </tr>
            <tr id="EquityMethodInvesteesIncomeCCFRow" class="Opinion">
                <td colspan="2"><h6>Equity Method Investee's Income</h6></td>
                <td style="text-align:center"><button  id="EquityMethodInvesteesIncomeShortCut" class="EquityMethodInvesteesIncomeCCF1" data-page="AnnualIncomeStatements" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">IS</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="EquityMethodInvesteesIncomeCCFCheckbox"></input>
                    <input type="checkbox" id="EquityMethodInvesteesIncomeCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="EquityMethodInvesteesIncomeCCF1" style="font-weight:bold;"></td>
                <td colspan='2' class='C2'><input class='Clock' id="EquityMethodInvesteesIncomeCCF2"></td>
                <td colspan='2' class='C3'><input class='Clock' id="EquityMethodInvesteesIncomeCCF3"></td>
                <td colspan='2' class='C4'><input class='Clock' id="EquityMethodInvesteesIncomeCCF4"></td>
                <td colspan='2' class='C5'><input class='Clock' id="EquityMethodInvesteesIncomeCCF5"></td>
                <td colspan='2' class='C6'><input class='Clock' id="EquityMethodInvesteesIncomeCCF6"></td>
            </tr>
            <tr id="NormalizedOperatingCashFlowCCFRow" class="TrialBalance">
                <td colspan="2"><h6><b>Normalized Operating Cash Flow</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(a)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="NormalizedOperatingCashFlowCCFCheckbox"></input>
                    <input type="checkbox" id="NormalizedOperatingCashFlowCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-top-style:ridge;" ><input id="NormalizedOperatingCashFlowCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-top-style:ridge;" ><input id="NormalizedOperatingCashFlowCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-top-style:ridge;" ><input id="NormalizedOperatingCashFlowCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-top-style:ridge;" ><input id="NormalizedOperatingCashFlowCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5' style="border-top-style:ridge;" ><input id="NormalizedOperatingCashFlowCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6' style="border-top-style:ridge;" ><input id="NormalizedOperatingCashFlowCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="WeightCCFRow" class="OpinionThree">
                <td colspan="2"><h6><b>Weighted Importance</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(b)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="WeightCCFCheckbox"></input>
                    <input type="checkbox" id="WeightCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input class="Proportion" id="WeightCCF1" style="font-weight:bold;" value="0.50" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class="Proportion" id="WeightCCF2" value="0.31" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class="Proportion" id="WeightCCF3" value="0.19" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input id="WeightCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="WeightCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="WeightCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="NormalizedWeightedOperatingCashFlowRow" class="OpinionFour">
                <td colspan="2"><h6><b>Normalized Weighted Operating Cash Flow</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(c)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="NormalizedWeightedOperatingCashFlowCheckbox"></input>
                    <input type="checkbox" id="NormalizedWeightedOperatingCashFlowCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="NormalizedWeightedOperatingCashFlow1" value=0 style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="NormalizedWeightedOperatingCashFlow2" value=0  onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="NormalizedWeightedOperatingCashFlow3" value=0  onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="NormalizedWeightedOperatingCashFlow4" value=0  onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="NormalizedWeightedOperatingCashFlow5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="NormalizedWeightedOperatingCashFlow6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="OthersWeightedCCFRow" class="OpinionFour">
                <td colspan="4"><h6>Others</h6></td>
                <td>
                    <input type="checkbox" id="OthersWeightedCCFCheckbox"></input>
                    <input type="checkbox" id="OthersWeightedCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge;"><input class='Clock' id="OthersWeightedCCF1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge;"><input class='Clock' id="OthersWeightedCCF2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge;"><input class='Clock' id="OthersWeightedCCF3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge;"><input class='Clock' id="OthersWeightedCCF4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="OthersWeightedCCF5" class="blank" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="OthersWeightedCCF6" class="blank" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CharacteristicCashFlowRow" class="OpinionFour">
                <td colspan="2"><h6><b>Characteristic Cash Flow</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(d)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CharacteristicCashFlowCheckbox"></input>
                    <input type="checkbox" id="CharacteristicCashFlowCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="CharacteristicCashFlow1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="CharacteristicCashFlow2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="CharacteristicCashFlow3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="CharacteristicCashFlow4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="CharacteristicCashFlow5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="CharacteristicCashFlow6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CapitalizationRateCCFRow" class="OpinionFour">
                <td colspan="2"><h6><b>Capitalization Rates</b></h6></td>
                <td style="text-align:center"><button id="CapitalizationRatesShortCut" class="CapitalizationRateCCF1" data-page="CapitalizationRates" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">CR</button></td>
                <td></td>
                <td>
                    <input type="checkbox" id="CapitalizationRateCCFCheckbox"></input>
                    <input type="checkbox" id="CapitalizationRateCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge;"><input id="CapitalizationRateCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge;"><input id="CapitalizationRateCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge;"><input id="CapitalizationRateCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge;"><input id="CapitalizationRateCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="CapitalizationRateCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="CapitalizationRateCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CapitalizedCharacteristicCashFlowRow" class="OpinionFour">
                <td colspan="2"><h6><b>Capitalized Characteristic Cash Flow</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(e)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CapitalizedCharacteristicCashFlowCheckbox"></input>
                    <input type="checkbox" id="CapitalizedCharacteristicCashFlowCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="CapitalizedCharacteristicCashFlow1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="CapitalizedCharacteristicCashFlow2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="CapitalizedCharacteristicCashFlow3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="CapitalizedCharacteristicCashFlow4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="CapitalizedCharacteristicCashFlow5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="CapitalizedCharacteristicCashFlow6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="ExcessWorkingCapitalCCFRow" class="OpinionFour">
                <td colspan="2"><h6>Excess (Insufficiant) Working Capital</h6></td>
                <td style="text-align:center"><button id="TargetWorkingCapitalShortCut" class="ExcessWorkingCapitalCCF1" data-page="AdditionalInformation" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">AI</button></td>
                <td style="text-align:center"><button id="CurrentAssetsShortCut" class="ExcessWorkingCapitalCCF1" data-page="AnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">BS</button></td>
                <td>
                    <input type="checkbox" id="ExcessWorkingCapitalCCFCheckbox"></input>
                    <input type="checkbox" id="ExcessWorkingCapitalCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="ExcessWorkingCapitalCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="ExcessWorkingCapitalCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="ExcessWorkingCapitalCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="ExcessWorkingCapitalCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="ExcessWorkingCapitalCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="ExcessWorkingCapitalCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="InvestmentsExcessAssetsCCFRow" class="OpinionFour">
                <td colspan="2"><h6>Investments</h6></td>
                <td style="text-align:center"><button id="InvestmentsShortCut" class="InvestmentsExcessAssetsCCF1" data-page="AnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">BS</button></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(g)</td>
                <td>
                    <input type="checkbox" id="InvestmentsExcessAssetsCCFCheckbox"></input>
                    <input type="checkbox" id="InvestmentsExcessAssetsCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="InvestmentsExcessAssetsCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="InvestmentsExcessAssetsCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="InvestmentsExcessAssetsCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="InvestmentsExcessAssetsCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="InvestmentsExcessAssetsCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="InvestmentsExcessAssetsCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="DiscontinuedOperationsExcessAssetsCCFRow" class="OpinionFour">
                <td colspan="2"><h6>Discontinued Operations</h6></td>
                <td style="text-align:center"><button id="DiscontinuedOperationsShortCut" class="DiscontinuedOperationsExcessAssetsCCF1" data-page="AnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">BS</button></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(g)</td>
                <td>
                    <input type="checkbox" id="DiscontinuedOperationsExcessAssetsCCFCheckbox"></input>
                    <input type="checkbox" id="DiscontinuedOperationsExcessAssetsCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="DiscontinuedOperationsExcessAssetsCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="DiscontinuedOperationsExcessAssetsCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="DiscontinuedOperationsExcessAssetsCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="DiscontinuedOperationsExcessAssetsCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="DiscontinuedOperationsExcessAssetsCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="DiscontinuedOperationsExcessAssetsCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCFRow" class="OpinionFour">
                <td colspan="2"><h6>Unrealized Capital Gain On Real Estate, Net Of Taxes</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(h)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCFCheckbox"></input>
                    <input type="checkbox" id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCF1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCF2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCF3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCF4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="UnrealizedCapitalGainOnRealEstateNetOfTaxesCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="PresentValueOfTaxProtectionCCFRow" class="OpinionFour">
                <td colspan="2"><h6>Present Value Of Tax Protection</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(i)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="PresentValueOfTaxProtectionCCFCheckbox"></input>
                    <input type="checkbox" id="PresentValueOfTaxProtectionCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input class='Clock' id="PresentValueOfTaxProtectionCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input class='Clock' id="PresentValueOfTaxProtectionCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input class='Clock' id="PresentValueOfTaxProtectionCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input class='Clock' id="PresentValueOfTaxProtectionCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="PresentValueOfTaxProtectionCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="PresentValueOfTaxProtectionCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="OthersCapitalizedCCFRow" class="OpinionFour">
                <td colspan="4"><h6>Others</h6></td>
                <td>
                    <input type="checkbox" id="OthersCapitalizedCCFCheckbox"></input>
                    <input type="checkbox" id="OthersCapitalizedCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input class='Clock' id="OthersCapitalizedCCF1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class='Clock' id="OthersCapitalizedCCF2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class='Clock' id="OthersCapitalizedCCF3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge"><input class='Clock' id="OthersCapitalizedCCF4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input id="OthersCapitalizedCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="OthersCapitalizedCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="BusinessValueCCFRow" class="OpinionFour">
                <td colspan="2"><h6><b>Business Value</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(j)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="BusinessValueCCFCheckbox"></input>
                    <input type="checkbox" id="BusinessValueCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="BusinessValueCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="BusinessValueCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="BusinessValueCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="BusinessValueCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="BusinessValueCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="BusinessValueCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="TotalDebtAndLeaseObligationCCFRow" class="OpinionFour">
                <td colspan="2"><h6><b>Long-Term Debt And Obligations</b></h6></td>
                <td style="text-align:center"><button id="NonCurrentLiabilitiesNoteShortCut" class="TotalDebtAndLeaseObligationCCF1" data-page="AnnualBalanceSheets" style="text-align:center; font-weight:bold; width:75%; box-shadow: none; background-color: white">BS</button></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(k)</td>
                <td>
                    <input type="checkbox" id="TotalDebtAndLeaseObligationCCFCheckbox"></input>
                    <input type="checkbox" id="TotalDebtAndLeaseObligationCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input style="font-weight:bold;" class='Clock' id="TotalDebtAndLeaseObligationCCF1" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class='Clock' id="TotalDebtAndLeaseObligationCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class='Clock' id="TotalDebtAndLeaseObligationCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge"><input class='Clock' id="TotalDebtAndLeaseObligationCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input  id="TotalDebtAndLeaseObligationCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input  id="TotalDebtAndLeaseObligationCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="ValueOfAllCategoryOfSharesCCFRow" class="OpinionFour">
                <td colspan="2"><h6><b>Value Of All Category Of Shares</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(l)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="ValueOfAllCategoryOfSharesCCFCheckbox"></input>
                    <input type="checkbox" id="ValueOfAllCategoryOfSharesCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="ValueOfAllCategoryOfSharesCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2'><input id="ValueOfAllCategoryOfSharesCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3'><input id="ValueOfAllCategoryOfSharesCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4'><input id="ValueOfAllCategoryOfSharesCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="ValueOfAllCategoryOfSharesCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="ValueOfAllCategoryOfSharesCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="ValueAccruingToPreferredShareholdersCCFRow" class="OpinionFour">
                <td colspan="2"><h6>Value Accruing To Preferred Shareholders</h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(m)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="ValueAccruingToPreferredShareholdersCCFCheckbox"></input>
                    <input type="checkbox" id="ValueAccruingToPreferredShareholdersCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge; font-weight:bold;"><input class='Clock' id="ValueAccruingToPreferredShareholdersCCF1" style="font-weight:bold;" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge;"><input class='Clock' id="ValueAccruingToPreferredShareholdersCCF2" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge;"><input class='Clock' id="ValueAccruingToPreferredShareholdersCCF3" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge;"><input class='Clock' id="ValueAccruingToPreferredShareholdersCCF4" onfocusout="Compile()" onchange='FormatCell()'></input></td>
                <td colspan='2' class='C5'><input  id="ValueAccruingToPreferredShareholdersCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input  id="ValueAccruingToPreferredShareholdersCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CommonSharesValueCCFRow" class="OpinionFour">
                <td colspan="2"><h6><b>Common Shares Fair Value</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(n)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="CommonSharesValueCCFCheckbox"></input>
                    <input type="checkbox" id="CommonSharesValueCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black;"><input style="font-weight:bold;" id="CommonSharesValueCCF1" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black;"><input id="CommonSharesValueCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black;"><input id="CommonSharesValueCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black;"><input id="CommonSharesValueCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="CommonSharesValueCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="CommonSharesValueCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr id="FairValueOfIdentifiableAssetsCCFRow" class="OpinionFour">
                <td colspan="2"><h6><b>Fair Value Of Identifiable Net Assets</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(o)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="FairValueOfIdentifiableAssetsCCFCheckbox"></input>
                    <input type="checkbox" id="FairValueOfIdentifiableAssetsCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom-style:ridge"><input class='Clock' id="FairValueOfIdentifiableAssetsCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom-style:ridge"><input class='Clock' id="FairValueOfIdentifiableAssetsCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom-style:ridge"><input class='Clock' id="FairValueOfIdentifiableAssetsCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom-style:ridge"><input class='Clock' id="FairValueOfIdentifiableAssetsCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="FairValueOfIdentifiableAssetsCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="FairValueOfIdentifiableAssetsCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="GoodwillFairValueCCFRow" class="OpinionFour">
                <td colspan="2"><h6><b>Goodwill Fair Value</b></h6></td>
                <td style="color:#0d47a1; text-align:center; font-weight:bold;">(p)</td>
                <td></td>
                <td>
                    <input type="checkbox" id="GoodwillFairValueCCFCheckbox"></input>
                    <input type="checkbox" id="GoodwillFairValueCCFCheckbox2"></input>
                </td>
                <td colspan='2' class='C1' style="border-bottom:double black;"><input id="GoodwillFairValueCCF1" style="font-weight:bold;" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C2' style="border-bottom:double black;"><input id="GoodwillFairValueCCF2" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C3' style="border-bottom:double black;"><input id="GoodwillFairValueCCF3" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C4' style="border-bottom:double black;"><input id="GoodwillFairValueCCF4" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C5'><input id="GoodwillFairValueCCF5" onfocusout="Compile();" onchange="FormatCell();"></input></td>
                <td colspan='2' class='C6'><input id="GoodwillFairValueCCF6" onfocusout="Compile();" onchange="FormatCell();"></input></td>
            </tr>
            <tr id="CapitalizedCashFlowReferenceRow" class="TrialBalance">
                <td colspan="4"></td>
                <td>
                    <input type="checkbox" id="CapitalizedCashFlowReferenceCheckbox"></input>
                    <input type="checkbox" id="CapitalizedCashFlowReferenceCheckbox2"></input>
                </td>
                <td colspan='2' class='C1'><input id="CapitalizedCashFlowReference1" style="font-weight:bold;" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C2'><input id="CapitalizedCashFlowReference2" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C3'><input id="CapitalizedCashFlowReference3" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C4'><input id="CapitalizedCashFlowReference4" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C5'><input id="CapitalizedCashFlowReference5" onfocusout="Compile()"></input></td>
                <td colspan='2' class='C6'><input id="CapitalizedCashFlowReference6" onfocusout="Compile()"></input></td>
            </tr>
        </tbody>
    </table>
    <table class='margin'> 
        <tbody>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">AI</td>
                <td style="text-align:justify;" colspan="20" ><b>Additional Information</b></td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">CF</td>
                <td style="text-align:justify;" colspan="20" ><b>Cash Flow Statements</b></td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">IS</td>
                <td style="text-align:justify;" colspan="20" ><b>Income Statements</b></td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">CR</td>
                <td style="text-align:justify;" colspan="20" ><b>Capitalization Rates Calculation</b></td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(a)</td>
                <td style="text-align:justify;" colspan="20" ><b>Normalized Operating Cash Flow: </b>Earnings before interest, depreciation, amortization and any activities that are not repeatable business functions, after reinvestement of maintenance.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(b)</td>
                <td style="text-align:justify;" colspan="20" ><b>Weighted Importance:</b> The relative importance given to each year in the cash flow normalization process.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(c)</td>
                <td style="text-align:justify;" colspan="20" ><b>Normalized Weighted Operating Cash Flow:</b> The sum of the product of each normalized operating cash flow by the weighted importance given to each period.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(d)</td>
                <td style="text-align:justify;" colspan="20" ><b>Characteristic Cash Flow:</b> Representative cash flow for valuation purposes.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(e)</td>
                <td style="text-align:justify;" colspan="20" ><b>Capitalized Characteristic Cash Flow:</b> The quotient of the representative cash flow by the capitalization rate.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(f)</td>
                <td style="text-align:justify;" colspan="20" ><b>Excess (Insufficiancy) Working Capital:</b> The excess of current assets over a factor of current liabilities required to maintain operating activities. By default the factor is set to 1.2 but might be different from one industry to another.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(g)</td>
                <td style="text-align:justify;" colspan="20" ><b>Excess Assets:</b> The value of assets not required for current operations, including investments and discontinued operations. By default, they constitute of investments and discontinued operations.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(h)</td>
                <td style="text-align:justify;" colspan="20" ><b>Unrealized Capital Gain On Real Estate, Net Of Taxes:</b> The non-materialized capital gain on assets that is not reflected in the costs and amortized costs of the financial statements.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(i)</td>
                <td style="text-align:justify;" colspan="20" ><b>Present Value Of Tax Protection:</b> Present value of future tax benefits. For reasons of availability of information, the present value of tax protection is valued at half the net deferred tax asset (liability).</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(j)</td>
                <td style="text-align:justify;" colspan="20" ><b>Business Value:</b> Value of the company's total assets. </td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(k)</td>
                <td style="text-align:justify;" colspan="20" ><b>Long-Term Debt And Operating Lease Obligations:</b> The value of amounts due long-term to contributors of funds who are not shareholders of the company.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(l)</td>
                <td style="text-align:justify;" colspan="20" ><b>Value Of All Category Of Shares:</b> The net asset value of the company.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(m)</td>
                <td style="text-align:justify;" colspan="20" ><b>Value Accruing To Preferred Shareholders:</b> The amount that would have to be paid to reimburse the preferred shareholders in full.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(n)</td>
                <td style="text-align:justify;" colspan="20" ><b>Common Shares Fair Value:</b> Net asset value after considreation of value accruing to preferred and minority shareholders.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(o)</td>
                <td style="text-align:justify;" colspan="20" ><b>Fair Value Of Identifiable Assets:</b> The sum of commercial value of each asset that could be separetely disposed of.</td>
            </tr>
            <tr>
                <td style="color:#0d47a1; text-align:left; font-weight:bold;">(p)</td>
                <td style="text-align:justify;" colspan="20" ><b>Goodwill Fair Value:</b> Excess of intrinsic value over the fair value of net identifiable assets. </td>
            </tr>
            <tr><td style="color:white">.</td></tr>
        </tbody>
    </table>
</div>