{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | phase 7.2'

</script>

<!--- HOME --->

<Section id="φ" style='padding-bottom:27%'>

    <table style='width:90%'>

        <tbody>

                <tr>
                    <td colspan='4' style="border-bottom: ridge;">
                        <h3 style="text-align:center; font-weight:bold;">entity</h2>
                    </td>
                    <td colspan='2' style="border-bottom: ridge;">
                        <h3 style="text-align:center; font-weight:bold;">anomalies last year</h2>
                    </td>
                    <td colspan='2' style="border-bottom: ridge;" >
                        <h3 style="text-align:center; font-weight:bold;">second last year</h2>
                    </td>
                    <td colspan='2' style="border-bottom: ridge;" >
                        <h3 style="text-align:center; font-weight:bold;">third last year</h2>
                    </td>
                    <td colspan='2' style="border-bottom: ridge;" >
                        <h3 style="text-align:center; font-weight:bold;">fourth last year</h2>
                    </td>
                    <td colspan='2' style="border-bottom: ridge;" >
                        <h3 style="text-align:center; font-weight:bold;">fifth last year</h2>
                    </td>
                    <td colspan='2' style="border-bottom: ridge;" >
                        <h3 style="text-align:center; font-weight:bold;">sixth last year</h2>
                    </td>
                </tr>

                <tr></tr>
                <tr></tr>

            {% for entity in entities %}

                    <tr>
                        <td colspan='4' style="vertical-align:top;" style='padding-top: 24px;'>
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align:left; padding-bottom: 0%; padding-left:0px"><b>{{ entity.EntityRegistrantName }} ({{ entity.TradingSymbol }})</b></h3>
                                </button>
                            </a>                           
                        </td>
                        <td colspan='2' style="vertical-align:top;" style='padding-top: 24px;'>
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.AnomaliesRatio1 }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;" style='padding-top: 24px;'>
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.AnomaliesRatio2 }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;" style='padding-top: 24px;'>
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.AnomaliesRatio3 }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;" style='padding-top: 24px;'>
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.AnomaliesRatio4 }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;" style='padding-top: 24px;'>
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.AnomaliesRatio5 }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;" style='padding-top: 24px;'>
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.AnomaliesRatio6 }}</h3>
                                </button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='4' style="vertical-align:top;">
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align:left;"></h3>
                                </button>
                            </a>                           
                        </td>
                        <td colspan='2' style="vertical-align:top;">
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align:center;"><b>{{ entity.amendlastyear }}</b></h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;">
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.amendsecondlastyear }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;">
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.amendthirdlastyear }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;">
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.amendfourthlastyear }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;">
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.amendfifthlastyear }}</h3>
                                </button>
                            </a>
                        </td>
                        <td colspan='2' style="vertical-align:top;">
                            <a href="/{{ entity.TradingSymbol }}" target="blank">
                                <button>
                                    <h3 style="text-align: center;">{{ entity.amendsixthlastyear }}</h3>
                                </button>
                            </a>
                        </td>
                    </tr>
                    
            {% endfor %}
            
        </tbody>
    </table>
</Section>

{% endblock %}