{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com | ' + 'phases {{ phase.db }}'

</script>

<!--- MENU --->

<Section id="φ" style='padding-bottom:27%'>
    <table style='width:90%'>
        <tbody>
            <tr>
                <td colspan='1'>
                    <h3 style="text-align:center; font-weight:bold;"></h2>
                </td>
                <td colspan='1'>
                    <h3 style="text-align:center; font-weight:bold;"></h2>
                </td>
            </tr>
            {% for phase in phases %}
            <tr>
                <td colspan='1'>
                    <a href="/phases/{{ phase.db }}">
                        <button>
                            <h3 style='text-align:center; padding-bottom:1%'><b>{{ phase.Description }}</h4></b>
                            <h5 style="text-align:center; color:#8A9096; padding-bottom:1%"><b>Phase {{ phase.db }}</h4></b>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="/phases/{{ phase.db }}">
                
                        <button>
                            <h3 style='text-align:center'><b>{{ phase.Len }}</h4></b>
                            <h5 style="text-align:center; color:#8A9096; padding-bottom:1%"><b></h4></b>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}