{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'Clockdb | master'

</script>

<!--- HOME --->

<Section id="φ" style='padding-bottom:27%'>

    <table style='width:90%'>

        <tbody>
    
            <tr></tr>
            <tr></tr>
            <tr>
                <td colspan='2' style="border-bottom: ridge;">
                    <h3 style="text-align:center; font-weight:bold;"></h3>
                </td>
            </tr>
            
            <tr>
                <td colspan='1' style="padding-top: 24px;">
                    <a href="{% url 'φ:phases' %}">
                        <button style='padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b> Audited </b></h3>
                        </button>
                    </a>
                </td>
                <td style='padding-top: 24px;'>
                    <a href="{% url 'φ:phases' %}">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>{{ master.audited }}</b></h3>
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan='1' style='padding-top: 24px;'>
                    <a href="{% url 'φ:phases' %}">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>Progress</b></h3>
                        </button>
                    </a>
                </td>
                <td style='padding-top: 24px;'>
                    <a href="">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>{{ master.progress }}%</b></h3>
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan='1' style='padding-top: 24px;'>
                    <a href="{% url 'φ:phases' %}">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>Entities Equivalent</b></h3>
                        </button>
                    </a>
                </td>
                <td style='padding-top: 24px;'>
                    <a href="{% url 'φ:phases' %}">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>{{ master.eq }}</b></h3>
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan='1' style='padding-top: 24px;'>
                    <a href="{% url 'φ:phases' %}">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>Onboarded</b></h3>
                        </button>
                    </a>
                </td>
                <td style='padding-top: 24px;'>
                    <a href="{% url 'φ:phases' %}">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>{{ master.onboarded }}</b></h3>
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan='1' style='padding-top: 24px;'>
                    <a href="{% url 'φ:phases' %}">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>Total</b></h3>
                        </button>
                    </a>
                </td>
                <td style='padding-top: 24px;'>
                    <a href="{% url 'φ:phases' %}">
                        <button style=' padding-bottom: 1%; padding-top: 1%; box-shadow: none; background-color:white;'>
                            <h3 style="text-align:center;"><b>{{ master.entities }}</b></h3>
                        </button>
                    </a>
                </td>
            </tr>
            
            <tr></tr>
            <tr>
                <td colspan='2' style="border-bottom: ridge;">
                    <h3 style="text-align:center; font-weight:bold;"></h3>
                </td>
            </tr>
            <tr></tr>

        </tbody>
    </table>
</Section>

{% endblock %}