<div id="about" style="display: none">
    <div class="margin">
        <h3 class="pb-4">ACCOUNTING, AUDIT, BUSINESS VALUATION, DATAPROCESSING, ARTIFICIAL INTELLIGENCE</h3>
        <p class="pb-2">
            Our goal is to democratize access to financial literature and equity. 
            Our data is audited for accuracy, completeness, classification and cut-off once in <i>Python</i>, once in <i>JavaScript</i>.
            Our mining process is public and the data is customizable.
            Earning power is key to sustainability and growth.
            I'm <i>Philippe Dube</i>, and this is how to properly audit a foreign exchange for valuation purposes.
            Those opinions are purely quantitative and this web application is first and foremost a tool. 
        </p>
    </div>
</div>