<div id="commands" style="display: none">
    <div class="margin">
        <h3 class="pb-4">COMMANDS</h3>
        <ul>
            <li class='li'>ALT + 1 (top) : Prepared</li>
            <li class='li'>ALT + 2 : Verified</li>
            <li class='li'>ALT + 0 (numpad) : Intrinsic Values</li>
            <li class='li'>ALT + 1 : Capitalized Cash Flow</li>
            <li class='li'>ALT + 2 : Capitalization Rates</li>
            <li class='li'>ALT + 3 : Capitalized Income</li>
            <li class='li'>ALT + 4 : Additional Information</li>
            <li class='li'>ALT + 5 : Financial Ratios</li>
            <li class='li'>CTRL + Enter : Opinion</li>
            <li class='li'>CTRL + Plus sign (+) : Graph</li>
            <li class='li'>CTRL + Dot (.) : Context</li>
            <li class='li'>CTRL + 0 : Trial Balance</li>
            <li class='li'>CTRL + 1 : Statements Of Cash Flow</li>
            <li class='li'>CTRL + 2 : Balance Sheets</li>
            <li class='li'>CTRL + 3 : Statements Of Income</li>
            <li class='li'>CTRL + 4 : Statements Of Comprehensive Income</li>
            <li class='li'>CTRL + 5 : Statements Of Stockholders' Equity</li>
            <li class='li'>CTRL + W : Close Windows</li>
            <li class='li'>WIN + 0 : Anomalies Summary</li>
            <li class='li'>WIN + 1 : Cash Flow Statements - Procedures</li>
            <li class='li'>WIN + 2 : Balance Sheets - Procedures</li>
            <li class='li'>WIN + 3 : Income Statements - Procedures</li>
            <li class='li'>WIN + 4 : Comprehensive Income Statements - Procedures</li>
            <li class='li'>WIN + 5 : Statements Of Stockholders' Equity - Procedures</li>
            <li class='li'>WIN + 6 : Anomalies</li>
            <li class='li'>WIN + 7 : Materiality Threshold</li>
            <li class='li'>WIN + 8 : Mission</li>
        </ul>
    </div>
</div>