{% extends "φ/layout.html" %}

{% block body %}

<!--- SCRIPT --->
<script>       

    // DOCUMENT TITLE
    document.title = 'clockdb.com'

</script>

<!--- MENU --->

<div class="text">

    <ul>

        <a href="{% url 'φ:audited' %}">
           
            <button>
                
                <h4 style='text-align:center'><b>AUDITED DATABASE</b></h4>
                <h5 style="color:#8A9096; padding-bottom:5%">financial statements with a level of assurance higher than 95%</h5>

            </button>

        </a>

        <a href="{% url 'φ:documentation' %}">
       
            <button>
                
                <h4 style='text-align:center'><b>DOCUMENTATION</h4></b>
                <h5 style="color:#8A9096; padding-bottom:5%">material, information and commands</h5>

            </button>

        </a>

        <a href="{% url 'φ:commands' %}">
       
            <button>
                
                <h4 style='text-align:center'><b>COMMANDS</h4></b>
                <h5 style="color:#8A9096; padding-bottom:5%">keyboard shortcuts</h5>

            </button>

        </a>
        
        <a href="https://github.com/clockdb/clockdb.github.io" target="Blank">
       
            <button>
                
                <h4 style='text-align:center'><b>GITHUB</h4></b>
                <h5 style="color:#8A9096; padding-bottom:5%">clockdb.github.io</h5>

            </button>

        </a>

        <a href="{% url 'φ:about' %}">
       
            <button>
                
                <h4 style='text-align:center'><b>ABOUT</h4></b>
                <h5 style="color:#8A9096; padding-bottom:5%">clockdb.com</h5>

            </button>

        </a>

        <a href="{% url 'φ:disclaimer' %}" style="padding-bottom:17%">
       
            <button>
                
                <h4 style='text-align:center'><b>DISCLAIMER</h4></b>
                <h5 style="color:#8A9096; padding-bottom:5%">limitation of liability, terms and conditions, etc.</h5>

            </button>

        </a>

    </ul>
    
</div>


{% endblock %}