
<!-- OnePageApp -->

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
    integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
    crossorigin="anonymous"></script>

<!-- ajax chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

<!-- papaparse -->
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>


<!-- clockdb -->

<!-- account -->
<script src="/account/account.js"></script>

<!-- base -->
<script src="/base/base.js"></script>
<script src="/base/date.js"></script>
<script src="/base/header.js"></script>
<script src="/base/resize.js"></script>

<!-- controlPanel -->
<script src="/controlPanel/controlPanel.js"></script>

<!-- friend -->
<script src="/friend/friend.js"></script>

<!-- messenger -->
<script src="/messenger/messenger.js"></script>

<!-- messenger notifications -->
<script src="/messengerNotification/messengerNotification.js"></script>

<!-- network -->
<script src="/network/network.js"></script>

<!-- notification -->
<script src="/notification/notification.js"></script>

<!-- posts -->
<script src="/posts/posts.js"></script>

<!-- workingPaper -->

<!-- analysis -->
<script src="/workingPaper/analysis/audit.js"></script>
<script src="/workingPaper/analysis/compile.js"></script>
<script src="/workingPaper/analysis/context.js"></script>
<script src="/workingPaper/analysis/financials.js"></script>
<script src="/workingPaper/analysis/valuation.js"></script>

<!-- base -->
<script src="/workingPaper/base/base.js"></script>
<script src="/workingPaper/base/checkboxes.js"></script>
<script src="/workingPaper/base/enter.js"></script>
<script src="/workingPaper/base/openEditor.js"></script>
<script src="/workingPaper/base/ref.js"></script>
<script src="/workingPaper/base/shortcuts.js"></script>
<script src="/workingPaper/base/tabulation.js"></script>
<script src="/workingPaper/base/unhideRows.js"></script>

<!-- files -->
<script src="/workingPaper/files/enter.js"></script>
<script src="/workingPaper/files/files.js"></script>
<script src="/workingPaper/files/open.js"></script>
<script src="/workingPaper/files/print.js"></script>
<script src="/workingPaper/files/rollover.js"></script>
<script src="/workingPaper/files/save.js"></script>

<!-- graph -->
<script src="/workingPaper/graph/linechart.js"></script>
<script src="/workingPaper/graph/puck.js"></script>





