
<!-- OnePageApp -->



<!-- web based -->

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
    integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
    crossorigin="anonymous"></script>

<!-- ajax chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

<!-- papaparse -->
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.1/papaparse.min.js"></script>



<!-- static -->

<!-- cropper -->
<script type="module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>



<!-- clockdb -->



<!-- account -->
<script src="/javascript/account/account.js"></script>



<!-- base -->
<script src="/javascript/base/base.js"></script>
<script src="/javascript/base/date.js"></script>
<script src="/javascript/base/header.js"></script>
<script src="/javascript/base/resize.js"></script>



<!-- controlPanel -->
<script src="/javascript/controlPanel/controlPanel.js"></script>



<!-- friend -->
<script src="/javascript/friend/friend.js"></script>



<!-- messenger -->
<script src="/javascript/messenger/messenger.js"></script>



<!-- messenger notifications -->
<script src="/javascript/messengerNotification/messengerNotification.js"></script>



<!-- network -->
<script src="/javascript/network/network.js"></script>



<!-- notification -->
<script src="/javascript/notification/notification.js"></script>



<!-- posts -->
<script src="/javascript/posts/posts.js"></script>



<!-- workingPaper -->

<!-- analysis -->
<script src="/javascript/workingPaper/analysis/audit.js"></script>
<script src="/javascript/workingPaper/analysis/compile.js"></script>
<script src="/javascript/workingPaper/analysis/context.js"></script>
<script src="/javascript/workingPaper/analysis/financials.js"></script>
<script src="/javascript/workingPaper/analysis/valuation.js"></script>

<!-- base -->
<script src="/javascript/workingPaper/base/base.js"></script>
<script src="/javascript/workingPaper/base/checkboxes.js"></script>
<script src="/javascript/workingPaper/base/ref.js"></script>
<script src="/javascript/workingPaper/base/unhideRows.js"></script>

<!-- files -->
<script src="/javascript/workingPaper/files/files.js"></script>
<script src="/javascript/workingPaper/files/open.js"></script>
<script src="/javascript/workingPaper/files/print.js"></script>
<script src="/javascript/workingPaper/files/save.js"></script>

<!-- graph -->
<script src="/javascript/workingPaper/graph/linechart.js"></script>
<script src="/javascript/workingPaper/graph/puck.js"></script>

<!-- op -->
<script src="/javascript/workingPaper/op/enter.js"></script>
<script src="/javascript/workingPaper/op/openEditor.js"></script>
<script src="/javascript/workingPaper/op/rollover.js"></script>
<script src="/javascript/workingPaper/op/shortcuts.js"></script>
<script src="/javascript/workingPaper/op/tabulation.js"></script>



